<?xml version="1.0" encoding="utf-8"?>
<DataType Key="985727aa-f36f-4f73-b66d-29ae93de7a1e" Alias="Blog Post - Image - Media Picker (legacy)" Level="1">
  <Info>
    <Name>Blog Post - Image - Media Picker (legacy)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "disableFolderSelect": false,
  "ignoreUserStartNodes": false,
  "multiple": false,
  "onlyImages": false,
  "startNodeId": null
}]]></Config>
</DataType>