<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9297b93-400e-49f4-8f47-b4a458258347" Alias="Dropdown Beverages" Level="1">
  <Info>
    <Name>Dropdown Beverages</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Coffee",
    "Tea",
    "Cold drinks"
  ],
  "multiple": false
}]]></Config>
</DataType>