<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca90c950-0aff-4e72-b976-a30b1ac57dad" Alias="Richtext editor" Level="1">
  <Info>
    <Name>Richtext editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "hideLabel": false,
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "mediaParentId": null,
  "mode": "classic",
  "overlaySize": null,
  "stylesheets": null,
  "toolbar": [
    "code",
    "bold",
    "italic",
    "styleselect",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "link",
    "image",
    "umbmediapicker",
    "umbembeddialog",
    "sourcecode",
    "strikethrough",
    "anchor",
    "unlink",
    "umbmacro",
    "table"
  ]
}]]></Config>
</DataType>