<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb3b3d9c-fa8f-4802-b702-718e7611f028" Alias="Site Settings - Home Page - Content Picker" Level="1">
  <Info>
    <Name>Site Settings - Home Page - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DocumentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "ignoreUserStartNodes": false,
  "showOpenButton": false,
  "startNodeId": "umb://document/17bc7374b5774fccba7c4bedadf8a4b7"
}]]></Config>
</DataType>