<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="69702a01-2325-4da0-acd5-c9d2ce0a07a1" Alias="blogOverview" Level="1">
  <Info>
    <Name>Blog Overview</Name>
    <Icon>icon-folders color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="3b369166-f348-41e2-99ac-a0898ac93eaf">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate>BlogOverview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ee5dfb99-ccb9-4f82-98a9-0927f7cf6ba6">BlogOverview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4081594d-360a-4ffd-b5a3-9855fdd389f7" SortOrder="0">blogPost</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>