<?xml version="1.0" encoding="utf-8"?>
<Media Key="92db6783-0b9f-4e39-bd75-1172581f2c3b" Alias="11406965436_b2a4882a86_z.jpg" Level="3">
  <Info>
    <Parent Key="2ebe6092-7422-434b-bf38-cabfd94e7fd9">So you want to secure your Umbraco site</Parent>
    <Path>/BlogPosts/SoYouWantToSecureYourUmbracoSite/b2a4882a86_zjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="11406965436_b2a4882a86_z.jpg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/92db67830b9f4e39bd751172581f2c3b/00000006000000000000000000000000/11406965436_b2a4882a86_z.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>