<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3d78040-64e9-4a2d-9c7d-d6352453514c" Alias="2009-10-05_193837.png (1)" Level="3">
  <Info>
    <Parent Key="d337fc4a-f3e8-4268-b0fd-5ce5788ea598">Version control in Git - Part 2 (set-up and usage)</Parent>
    <Path>/BlogPosts/VersionControlInGitPart2SetUpAndUsage/png1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="2009-10-05_193837.png (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c3d7804064e94a2d9c7dd6352453514c/00000006000000000000000000000000/2009-10-05_193837.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>