<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f3883f6-9c7f-4023-b40d-3567aac1a04d" Alias="2011-07-18_183216.gif" Level="3">
  <Info>
    <Parent Key="85765f1f-83ab-454b-a853-625db6fbc88d">How to install Umbraco manually</Parent>
    <Path>/BlogPosts/HowToInstallUmbracoManually/gif</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:37</CreateDate>
    <NodeName Default="2011-07-18_183216.gif" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2f3883f69c7f4023b40d3567aac1a04d/00000006000000000000000000000000/2011-07-18_183216.gif",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>