<?xml version="1.0" encoding="utf-8"?>
<Media Key="58187d61-9246-41eb-8489-c8506dad06ad" Alias="2011-07-18_183632.gif" Level="3">
  <Info>
    <Parent Key="85765f1f-83ab-454b-a853-625db6fbc88d">How to install Umbraco manually</Parent>
    <Path>/BlogPosts/HowToInstallUmbracoManually/gif</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="2011-07-18_183632.gif" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/58187d61924641eb8489c8506dad06ad/00000006000000000000000000000000/2011-07-18_183632.gif",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>