<?xml version="1.0" encoding="utf-8"?>
<Media Key="29afb6b0-72e3-42da-9aea-b9fafd27deb0" Alias="2011-07-18_182807.gif" Level="3">
  <Info>
    <Parent Key="85765f1f-83ab-454b-a853-625db6fbc88d">How to install Umbraco manually</Parent>
    <Path>/BlogPosts/HowToInstallUmbracoManually/gif</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:36</CreateDate>
    <NodeName Default="2011-07-18_182807.gif" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/29afb6b072e342da9aeab9fafd27deb0/00000006000000000000000000000000/2011-07-18_182807.gif",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>