<?xml version="1.0" encoding="utf-8"?>
<Media Key="6236469a-b0a2-4df8-bc10-59b046ef9951" Alias="2011-07-18_172955.gif" Level="3">
  <Info>
    <Parent Key="85765f1f-83ab-454b-a853-625db6fbc88d">How to install Umbraco manually</Parent>
    <Path>/BlogPosts/HowToInstallUmbracoManually/gif</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="2011-07-18_172955.gif" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/6236469ab0a24df8bc1059b046ef9951/00000006000000000000000000000000/2011-07-18_172955.gif",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>