<?xml version="1.0" encoding="utf-8"?>
<Media Key="a54ac881-3ed0-48d5-a080-d028f1d6210c" Alias="2012-03-30_184225.png" Level="3">
  <Info>
    <Parent Key="afd0792b-84ca-4bcf-831e-d9f82bc68bb6">ASP.NET Web Api is silly easy</Parent>
    <Path>/BlogPosts/ASPNETWebApiIsSillyEasy/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="2012-03-30_184225.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a54ac8813ed048d5a080d028f1d6210c/00000006000000000000000000000000/2012-03-30_184225.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>