<?xml version="1.0" encoding="utf-8"?>
<Media Key="65ff654f-ba0f-4efa-861e-5981ee17d1d3" Alias="2012-03-18_085129.png" Level="3">
  <Info>
    <Parent Key="f8773667-377d-4e4b-aae6-f6aabdfc6f9d">Tip of the week: ReSharper Code Templates</Parent>
    <Path>/BlogPosts/TipOfTheWeekReSharperCodeTemplates/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="2012-03-18_085129.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/65ff654fba0f4efa861e5981ee17d1d3/00000006000000000000000000000000/2012-03-18_085129.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>