<?xml version="1.0" encoding="utf-8"?>
<Media Key="0624b64b-a3df-4a6c-994f-4c161cae22a1" Alias="2012-03-18_084915.png" Level="3">
  <Info>
    <Parent Key="f8773667-377d-4e4b-aae6-f6aabdfc6f9d">Tip of the week: ReSharper Code Templates</Parent>
    <Path>/BlogPosts/TipOfTheWeekReSharperCodeTemplates/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:35</CreateDate>
    <NodeName Default="2012-03-18_084915.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0624b64ba3df4a6c994f4c161cae22a1/00000006000000000000000000000000/2012-03-18_084915.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>