<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3d9c6b1-3980-4e07-aad4-fcc533de9ee4" Alias="2012-03-18_083946.png" Level="3">
  <Info>
    <Parent Key="f8773667-377d-4e4b-aae6-f6aabdfc6f9d">Tip of the week: ReSharper Code Templates</Parent>
    <Path>/BlogPosts/TipOfTheWeekReSharperCodeTemplates/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="2012-03-18_083946.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f3d9c6b139804e07aad4fcc533de9ee4/00000006000000000000000000000000/2012-03-18_083946.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>