<?xml version="1.0" encoding="utf-8"?>
<Media Key="89097639-ea15-423c-9b92-40c86ce0bdd1" Alias="2012-09-08_163412.png" Level="3">
  <Info>
    <Parent Key="ed9ed879-02d5-49d5-b041-89a2ad922c59">From 0 to Umbraco site in 60 seconds</Parent>
    <Path>/BlogPosts/From0ToUmbracoSiteIn60Seconds/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="2012-09-08_163412.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/89097639ea15423c9b9240c86ce0bdd1/00000006000000000000000000000000/2012-09-08_163412.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>