<?xml version="1.0" encoding="utf-8"?>
<Media Key="03a304f4-b27f-4292-b485-72df4d3a406f" Alias="2014-01-26_235804.png" Level="3">
  <Info>
    <Parent Key="3d3d0730-d678-467d-b512-1e8d637c4eee">What's this Umbraco route hijacking all about?</Parent>
    <Path>/BlogPosts/WhatsThisUmbracoRouteHijackingAllAbout/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:34</CreateDate>
    <NodeName Default="2014-01-26_235804.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/03a304f4b27f4292b48572df4d3a406f/00000006000000000000000000000000/2014-01-26_235804.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>