<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b64313a-e3c8-4b16-ba0a-e0f3314e3965" Alias="2014-01-31_165211.png (1) (1)" Level="3">
  <Info>
    <Parent Key="c1322b97-f396-496b-9838-1786ee6e9f7a">Umbraco tip of the week: give your editors less choice</Parent>
    <Path>/BlogPosts/UmbracoTipOfTheWeekGiveYourEditorsLessChoice/png11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:36</CreateDate>
    <NodeName Default="2014-01-31_165211.png (1) (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1b64313ae3c84b16ba0ae0f3314e3965/00000006000000000000000000000000/2014-01-31_165211.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>