<?xml version="1.0" encoding="utf-8"?>
<Media Key="3333d6f2-1d60-4d0d-bb26-4e213225b488" Alias="2014-01-31_165211.png (2)" Level="3">
  <Info>
    <Parent Key="c1322b97-f396-496b-9838-1786ee6e9f7a">Umbraco tip of the week: give your editors less choice</Parent>
    <Path>/BlogPosts/UmbracoTipOfTheWeekGiveYourEditorsLessChoice/png2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:37</CreateDate>
    <NodeName Default="2014-01-31_165211.png (2)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3333d6f21d604d0dbb264e213225b488/00000006000000000000000000000000/2014-01-31_165211.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>