<?xml version="1.0" encoding="utf-8"?>
<Media Key="4af7af1d-52f4-4b24-b952-3025db8e0e9b" Alias="2014-01-31_170922.png" Level="3">
  <Info>
    <Parent Key="c1322b97-f396-496b-9838-1786ee6e9f7a">Umbraco tip of the week: give your editors less choice</Parent>
    <Path>/BlogPosts/UmbracoTipOfTheWeekGiveYourEditorsLessChoice/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:38</CreateDate>
    <NodeName Default="2014-01-31_170922.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4af7af1d52f44b24b9523025db8e0e9b/00000006000000000000000000000000/2014-01-31_170922.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>