<?xml version="1.0" encoding="utf-8"?>
<Media Key="4288c5d8-fdad-469d-a8c1-ae2ac6868f9b" Alias="2014-01-19_142432.png" Level="3">
  <Info>
    <Parent Key="c2fc3b18-5302-49d8-8244-17a324d9e82a">Moving from DateFolders to Umbraco's new ListView</Parent>
    <Path>/BlogPosts/MovingFromDateFoldersToUmbracosNewListView/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:38</CreateDate>
    <NodeName Default="2014-01-19_142432.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4288c5d8fdad469da8c1ae2ac6868f9b/00000006000000000000000000000000/2014-01-19_142432.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>