<?xml version="1.0" encoding="utf-8"?>
<Media Key="1597f4e6-56de-4db6-94d2-cff9f4d470e4" Alias="2014-01-31_170134.png" Level="3">
  <Info>
    <Parent Key="c1322b97-f396-496b-9838-1786ee6e9f7a">Umbraco tip of the week: give your editors less choice</Parent>
    <Path>/BlogPosts/UmbracoTipOfTheWeekGiveYourEditorsLessChoice/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:35</CreateDate>
    <NodeName Default="2014-01-31_170134.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1597f4e656de4db694d2cff9f4d470e4/00000006000000000000000000000000/2014-01-31_170134.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>