<?xml version="1.0" encoding="utf-8"?>
<Media Key="2497cc15-a950-4889-98bd-be96f1466597" Alias="2016-03-25_145128.png" Level="3">
  <Info>
    <Parent Key="2ebe6092-7422-434b-bf38-cabfd94e7fd9">So you want to secure your Umbraco site</Parent>
    <Path>/BlogPosts/SoYouWantToSecureYourUmbracoSite/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:36</CreateDate>
    <NodeName Default="2016-03-25_145128.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2497cc15a950488998bdbe96f1466597/00000006000000000000000000000000/2016-03-25_145128.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>