<?xml version="1.0" encoding="utf-8"?>
<Media Key="731eb7ef-f862-41b7-a809-68a75fcff867" Alias="2016-03-25_122506.png" Level="3">
  <Info>
    <Parent Key="2ebe6092-7422-434b-bf38-cabfd94e7fd9">So you want to secure your Umbraco site</Parent>
    <Path>/BlogPosts/SoYouWantToSecureYourUmbracoSite/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="2016-03-25_122506.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/731eb7eff86241b7a80968a75fcff867/00000006000000000000000000000000/2016-03-25_122506.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>