<?xml version="1.0" encoding="utf-8"?>
<Media Key="d384b200-6ea2-428e-8be9-3e3d238c420d" Alias="2016-03-27_143920.png" Level="3">
  <Info>
    <Parent Key="0146c238-7085-4ca9-ad69-a9f99691c4d8">Using Umbraco migrations to deploy changes</Parent>
    <Path>/BlogPosts/UsingUmbracoMigrationsToDeployChanges/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="2016-03-27_143920.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/d384b2006ea2428e8be93e3d238c420d/00000006000000000000000000000000/2016-03-27_143920.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>