<?xml version="1.0" encoding="utf-8"?>
<Media Key="88983a3d-7e3f-4e28-a81b-01c0082da5e7" Alias="2016-03-25_153006.png" Level="3">
  <Info>
    <Parent Key="2ebe6092-7422-434b-bf38-cabfd94e7fd9">So you want to secure your Umbraco site</Parent>
    <Path>/BlogPosts/SoYouWantToSecureYourUmbracoSite/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="2016-03-25_153006.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/88983a3d7e3f4e28a81b01c0082da5e7/00000006000000000000000000000000/2016-03-25_153006.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>