<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee85653b-0e77-47b7-a99c-e6d2874c82fd" Alias="2016-04-16_135537.png" Level="3">
  <Info>
    <Parent Key="aebf4837-5523-42b1-b110-cf42a7f3913e">Visual Studio and Umbraco as a Service</Parent>
    <Path>/BlogPosts/VisualStudioAndUmbracoAsAService/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="2016-04-16_135537.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ee85653b0e7747b7a99ce6d2874c82fd/00000006000000000000000000000000/2016-04-16_135537.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>