<?xml version="1.0" encoding="utf-8"?>
<Media Key="9191d769-ea10-4c57-b553-a72f4180a988" Alias="2016-03-27_132402.png" Level="3">
  <Info>
    <Parent Key="0146c238-7085-4ca9-ad69-a9f99691c4d8">Using Umbraco migrations to deploy changes</Parent>
    <Path>/BlogPosts/UsingUmbracoMigrationsToDeployChanges/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="2016-03-27_132402.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/9191d769ea104c57b553a72f4180a988/00000006000000000000000000000000/2016-03-27_132402.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>