<?xml version="1.0" encoding="utf-8"?>
<Media Key="a60932f6-a48e-47aa-8fb7-7854aad08c75" Alias="2016-03-25_130445.png" Level="3">
  <Info>
    <Parent Key="2ebe6092-7422-434b-bf38-cabfd94e7fd9">So you want to secure your Umbraco site</Parent>
    <Path>/BlogPosts/SoYouWantToSecureYourUmbracoSite/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="2016-03-25_130445.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a60932f6a48e47aa8fb77854aad08c75/00000006000000000000000000000000/2016-03-25_130445.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>