<?xml version="1.0" encoding="utf-8"?>
<Media Key="a528933f-0b81-4c55-9151-90cd2218d354" Alias="2016-03-25_143859.png" Level="3">
  <Info>
    <Parent Key="2ebe6092-7422-434b-bf38-cabfd94e7fd9">So you want to secure your Umbraco site</Parent>
    <Path>/BlogPosts/SoYouWantToSecureYourUmbracoSite/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="2016-03-25_143859.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a528933f0b814c55915190cd2218d354/00000006000000000000000000000000/2016-03-25_143859.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>