<?xml version="1.0" encoding="utf-8"?>
<Media Key="de27a768-757e-4fa7-a97e-8e99e722fec5" Alias="2016-03-25_160051.png" Level="3">
  <Info>
    <Parent Key="2ebe6092-7422-434b-bf38-cabfd94e7fd9">So you want to secure your Umbraco site</Parent>
    <Path>/BlogPosts/SoYouWantToSecureYourUmbracoSite/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="2016-03-25_160051.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/de27a768757e4fa7a97e8e99e722fec5/00000006000000000000000000000000/2016-03-25_160051.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>