<?xml version="1.0" encoding="utf-8"?>
<Media Key="48cb56e7-f063-49f1-bef4-81134d61d923" Alias="2016-03-25_144806.png" Level="3">
  <Info>
    <Parent Key="2ebe6092-7422-434b-bf38-cabfd94e7fd9">So you want to secure your Umbraco site</Parent>
    <Path>/BlogPosts/SoYouWantToSecureYourUmbracoSite/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:38</CreateDate>
    <NodeName Default="2016-03-25_144806.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/48cb56e7f06349f1bef481134d61d923/00000006000000000000000000000000/2016-03-25_144806.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>