<?xml version="1.0" encoding="utf-8"?>
<Media Key="32eea36a-c1f5-4334-bf92-074045f1c6c8" Alias="2016-08-08_094519.png" Level="3">
  <Info>
    <Parent Key="0a6e641b-33c1-4d30-abe2-68b84a224d30">Let's Encrypt on Windows revisited</Parent>
    <Path>/BlogPosts/LetsEncryptOnWindowsRevisited/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:37</CreateDate>
    <NodeName Default="2016-08-08_094519.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/32eea36ac1f54334bf92074045f1c6c8/00000006000000000000000000000000/2016-08-08_094519.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>