<?xml version="1.0" encoding="utf-8"?>
<Media Key="aae1fd73-f0db-4205-8d9c-597fb5857b9b" Alias="2016-02-27_144655.png" Level="3">
  <Info>
    <Parent Key="ac1039f1-c0ee-48c3-8eac-180aa37e4152">How to diagnose Umbraco upgrade problems</Parent>
    <Path>/BlogPosts/HowToDiagnoseUmbracoUpgradeProblems/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="2016-02-27_144655.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aae1fd73f0db42058d9c597fb5857b9b/00000006000000000000000000000000/2016-02-27_144655.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>