<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c079577-d043-4edf-bd5b-210e36b4fba1" Alias="2016-03-27_141827.png" Level="3">
  <Info>
    <Parent Key="0146c238-7085-4ca9-ad69-a9f99691c4d8">Using Umbraco migrations to deploy changes</Parent>
    <Path>/BlogPosts/UsingUmbracoMigrationsToDeployChanges/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:38</CreateDate>
    <NodeName Default="2016-03-27_141827.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3c079577d0434edfbd5b210e36b4fba1/00000006000000000000000000000000/2016-03-27_141827.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>