<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d19f948-2f1a-4716-b200-3dd6a6c818c9" Alias="2016-03-27_142016.png" Level="3">
  <Info>
    <Parent Key="0146c238-7085-4ca9-ad69-a9f99691c4d8">Using Umbraco migrations to deploy changes</Parent>
    <Path>/BlogPosts/UsingUmbracoMigrationsToDeployChanges/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:37</CreateDate>
    <NodeName Default="2016-03-27_142016.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2d19f9482f1a4716b2003dd6a6c818c9/00000006000000000000000000000000/2016-03-27_142016.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>