<?xml version="1.0" encoding="utf-8"?>
<Media Key="90649c2d-0469-45c2-9820-5077ea297392" Alias="2016-03-25_152221.png" Level="3">
  <Info>
    <Parent Key="2ebe6092-7422-434b-bf38-cabfd94e7fd9">So you want to secure your Umbraco site</Parent>
    <Path>/BlogPosts/SoYouWantToSecureYourUmbracoSite/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="2016-03-25_152221.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/90649c2d046945c298205077ea297392/00000006000000000000000000000000/2016-03-25_152221.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>