<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9a00b6b-85be-4ad0-bd72-056e179e8abd" Alias="2016-03-27_143330.png" Level="3">
  <Info>
    <Parent Key="0146c238-7085-4ca9-ad69-a9f99691c4d8">Using Umbraco migrations to deploy changes</Parent>
    <Path>/BlogPosts/UsingUmbracoMigrationsToDeployChanges/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="2016-03-27_143330.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a9a00b6b85be4ad0bd72056e179e8abd/00000006000000000000000000000000/2016-03-27_143330.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>