<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b9cb540-e15c-478a-b022-75f40ad6ae0d" Alias="2016-03-25_154009.png" Level="3">
  <Info>
    <Parent Key="2ebe6092-7422-434b-bf38-cabfd94e7fd9">So you want to secure your Umbraco site</Parent>
    <Path>/BlogPosts/SoYouWantToSecureYourUmbracoSite/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="2016-03-25_154009.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5b9cb540e15c478ab02275f40ad6ae0d/00000006000000000000000000000000/2016-03-25_154009.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>