<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6ba8ee9-f4da-41f8-9135-48fdb16f08ea" Alias="2017-09-08_202249.png" Level="3">
  <Info>
    <Parent Key="c07d48d2-4626-4d3a-9dd4-8b55a0fd7d5e">Help your favorite open source project by helping yourself</Parent>
    <Path>/BlogPosts/HelpYourFavoriteOpenSourceProjectByHelpingYourself/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="2017-09-08_202249.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c6ba8ee9f4da41f8913548fdb16f08ea/00000006000000000000000000000000/2017-09-08_202249.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>