<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b8bea42-67f0-4a39-b23a-61472b7410c6" Alias="2019 02 28 223903" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="2019 02 28 223903" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c3sisvbm/2019-02-28_223903.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>