<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e33bbc0-cc23-4180-a722-52d49cc107a3" Alias="2021 09 18 183625" Level="3">
  <Info>
    <Parent Key="78a9443e-ac82-48c3-92e7-19e891c503bd">Setting up Hangfire in Umbraco 9</Parent>
    <Path>/BlogPosts/SettingUpHangfireInUmbraco9/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="2021 09 18 183625" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y03dg1rd/2021-09-18_183625.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>