<?xml version="1.0" encoding="utf-8"?>
<Media Key="35dab4cb-637e-455d-aa75-f96131ee3a68" Alias="2021 09 18 181549" Level="3">
  <Info>
    <Parent Key="78a9443e-ac82-48c3-92e7-19e891c503bd">Setting up Hangfire in Umbraco 9</Parent>
    <Path>/BlogPosts/SettingUpHangfireInUmbraco9/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:37</CreateDate>
    <NodeName Default="2021 09 18 181549" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zw0nunl4/2021-09-18_181549.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>