<?xml version="1.0" encoding="utf-8"?>
<Media Key="8892eb46-1985-4084-a0e3-520fc6561484" Alias="2021 09 18 184037" Level="3">
  <Info>
    <Parent Key="78a9443e-ac82-48c3-92e7-19e891c503bd">Setting up Hangfire in Umbraco 9</Parent>
    <Path>/BlogPosts/SettingUpHangfireInUmbraco9/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="2021 09 18 184037" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/idvjfcef/2021-09-18_184037.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>