<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc66d294-f0ef-4307-8abd-5dd0d471b5e7" Alias="2021 08 09 182808" Level="3">
  <Info>
    <Parent Key="d8a128bc-d1a0-425f-9cce-f9cdced7a72e">Raspberry Pi</Parent>
    <Path>/BlogPosts/RaspberryPi/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="2021 08 09 182808" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sljgnxhp/2021-08-09_182808.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>