<?xml version="1.0" encoding="utf-8"?>
<Media Key="93c92a06-9038-4872-a2f0-f4b4733e7a5a" Alias="2021 09 18 182043" Level="3">
  <Info>
    <Parent Key="78a9443e-ac82-48c3-92e7-19e891c503bd">Setting up Hangfire in Umbraco 9</Parent>
    <Path>/BlogPosts/SettingUpHangfireInUmbraco9/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="2021 09 18 182043" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aavmtezy/2021-09-18_182043.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>