<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae115d17-c97b-42d6-a1e6-6dfd4bf10fe4" Alias="2021 09 18 181449" Level="3">
  <Info>
    <Parent Key="78a9443e-ac82-48c3-92e7-19e891c503bd">Setting up Hangfire in Umbraco 9</Parent>
    <Path>/BlogPosts/SettingUpHangfireInUmbraco9/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="2021 09 18 181449" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cfobdlt1/2021-09-18_181449.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>