<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5aed1c9-c030-4203-af76-9f00e8b5df35" Alias="2021 09 18 183241" Level="3">
  <Info>
    <Parent Key="78a9443e-ac82-48c3-92e7-19e891c503bd">Setting up Hangfire in Umbraco 9</Parent>
    <Path>/BlogPosts/SettingUpHangfireInUmbraco9/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="2021 09 18 183241" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z5il3vjq/2021-09-18_183241.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>