<?xml version="1.0" encoding="utf-8"?>
<Media Key="02f45f23-b4fb-46fe-8a67-3eb811ded5bb" Alias="2021 09 18 184139" Level="3">
  <Info>
    <Parent Key="78a9443e-ac82-48c3-92e7-19e891c503bd">Setting up Hangfire in Umbraco 9</Parent>
    <Path>/BlogPosts/SettingUpHangfireInUmbraco9/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:34</CreateDate>
    <NodeName Default="2021 09 18 184139" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/evppiax1/2021-09-18_184139.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>