<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce2cc8b7-36e2-4dd5-ba33-164eadc97268" Alias="2023 09 17 112247" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-17T17:49:40</CreateDate>
    <NodeName Default="2023 09 17 112247" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/whecztxc/2023-09-17_112247.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>