<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbf91979-87c0-4066-bbbc-dd01b39ba4be" Alias="250Px Donald Duck The Spirit Of '43 (Cropped Version)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PxDonaldDuckTheSpiritOf43CroppedVersion</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="250Px Donald Duck The Spirit Of '43 (Cropped Version)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p2mpts4a/250px-donald_duck_-_the_spirit_of_43_-cropped_version.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>