<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d1c8f3e-3269-4ee2-85a5-f04e6df87ed3" Alias="4735128485_ff558e1c32.jpg" Level="3">
  <Info>
    <Parent Key="10319f10-c9af-4224-ba6a-fb847c78d220">PhotoMetaData package now available</Parent>
    <Path>/BlogPosts/PhotoMetaDataPackageNowAvailable/ff558e1c32jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="4735128485_ff558e1c32.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/7d1c8f3e32694ee285a5f04e6df87ed3/00000006000000000000000000000000/4735128485_ff558e1c32.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>