<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ca1d116-278c-4795-befb-863e4d851bf4" Alias="5188289325_cdb3f42c67_o.jpg" Level="3">
  <Info>
    <Parent Key="8ab9bb3a-5d9d-4624-9cdc-15b91e4abd70">Tip of the week: Clean those ASP.NET temp files</Parent>
    <Path>/BlogPosts/TipOfTheWeekCleanThoseASPNETTempFiles/cdb3f42c67_ojpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:35</CreateDate>
    <NodeName Default="5188289325_cdb3f42c67_o.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0ca1d116278c4795befb863e4d851bf4/00000006000000000000000000000000/5188289325_cdb3f42c67_o.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>