<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1e2d849-fd39-4913-9bf2-bca9dbee3b09" Alias="7185909521_0396c5c130.jpg" Level="3">
  <Info>
    <Parent Key="48d8dc7b-2e58-4c80-87b3-e16750a88d73">The CodeGarden Guide to Copenhagen</Parent>
    <Path>/BlogPosts/TheCodeGardenGuideToCopenhagen/c5c130jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="7185909521_0396c5c130.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f1e2d849fd3949139bf2bca9dbee3b09/00000006000000000000000000000000/7185909521_0396c5c130.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>