<?xml version="1.0" encoding="utf-8"?>
<Media Key="96b525eb-5d8f-4ba1-bb1a-11bf58f9c0aa" Alias="7880472" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="7880472" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2ftibdgx/7880472.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>