<?xml version="1.0" encoding="utf-8"?>
<Media Key="a168c6f6-87dd-4e83-bdaa-904c5bbbfd54" Alias="An Umbraco database upgrade tip from the trenches" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/AnUmbracoDatabaseUpgradeTipFromTheTrenches</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="An Umbraco database upgrade tip from the trenches" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>