<?xml version="1.0" encoding="utf-8"?>
<Media Key="afd0792b-84ca-4bcf-831e-d9f82bc68bb6" Alias="ASP.NET Web Api is silly easy" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/ASPNETWebApiIsSillyEasy</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="ASP.NET Web Api is silly easy" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties />
</Media>