<?xml version="1.0" encoding="utf-8"?>
<Media Key="98ad0be8-b5d9-44f0-8336-27e373858c7d" Alias="backup.jpg" Level="3">
  <Info>
    <Parent Key="03be7341-481f-41ef-b268-0bd5b8618d1c">A basic backup strategy</Parent>
    <Path>/BlogPosts/ABasicBackupStrategy/backupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="backup.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/98ad0be8b5d944f0833627e373858c7d/00000006000000000000000000000000/backup.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>