<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963" Alias="Blog Posts" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogPosts</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:34</CreateDate>
    <NodeName Default="Blog Posts" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>