<?xml version="1.0" encoding="utf-8"?>
<Media Key="5526f5c4-bbc1-494b-884f-45ac8fa999cb" Alias="bugsquash.jpg" Level="3">
  <Info>
    <Parent Key="4b4a9741-ca8d-4369-884b-0a4efca54438">Umbraco tip of the week - Debugging from within the website</Parent>
    <Path>/BlogPosts/UmbracoTipOfTheWeekDebuggingFromWithinTheWebsite/bugsquashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="bugsquash.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5526f5c4bbc1494b884f45ac8fa999cb/00000006000000000000000000000000/bugsquash.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>