<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e5d60f9-6bc6-4cf7-97aa-cb971224d5ce" Alias="cleanhome.jpg" Level="3">
  <Info>
    <Parent Key="55e299bc-d7e5-47bb-a38d-d26673017a18">Presenting: The CleanHome package</Parent>
    <Path>/BlogPosts/PresentingTheCleanHomePackage/cleanhomejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:37</CreateDate>
    <NodeName Default="cleanhome.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2e5d60f96bc64cf797aacb971224d5ce/00000006000000000000000000000000/cleanhome.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>