<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8e1ab93-eeb8-42c7-9868-c21bce7d9be6" Alias="contactform4.jpg" Level="3">
  <Info>
    <Parent Key="0e214403-f2e0-428a-8d74-95d65664495c">Released: Contact Form Package</Parent>
    <Path>/BlogPosts/ReleasedContactFormPackage/contactform4jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="contactform4.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c8e1ab93eeb842c79868c21bce7d9be6/00000006000000000000000000000000/contactform4.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>