<?xml version="1.0" encoding="utf-8"?>
<Media Key="455267fa-e75f-4c0e-bb95-dc1f2e0e2b19" Alias="contactform3.jpg" Level="3">
  <Info>
    <Parent Key="0e214403-f2e0-428a-8d74-95d65664495c">Released: Contact Form Package</Parent>
    <Path>/BlogPosts/ReleasedContactFormPackage/contactform3jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:38</CreateDate>
    <NodeName Default="contactform3.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/455267fae75f4c0ebb95dc1f2e0e2b19/00000006000000000000000000000000/contactform3.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>