<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcd17f02-6a3b-4b64-8320-d1356cc86aca" Alias="contactform2.jpg" Level="3">
  <Info>
    <Parent Key="0e214403-f2e0-428a-8d74-95d65664495c">Released: Contact Form Package</Parent>
    <Path>/BlogPosts/ReleasedContactFormPackage/contactform2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="contactform2.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bcd17f026a3b4b648320d1356cc86aca/00000006000000000000000000000000/contactform2.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>