<?xml version="1.0" encoding="utf-8"?>
<Media Key="03fb436c-88d1-4ba9-aa3a-6135e8d9a8da" Alias="Convert between VS2008 and 2010 projects, automatically" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/ConvertBetweenVS2008And2010ProjectsAutomatically</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:34</CreateDate>
    <NodeName Default="Convert between VS2008 and 2010 projects, automatically" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties />
</Media>