<?xml version="1.0" encoding="utf-8"?>
<Media Key="42d91380-6f41-4008-ad51-e6bd65e78f19" Alias="Createsshfile" Level="3">
  <Info>
    <Parent Key="d8a128bc-d1a0-425f-9cce-f9cdced7a72e">Raspberry Pi</Parent>
    <Path>/BlogPosts/RaspberryPi/Createsshfile</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:38</CreateDate>
    <NodeName Default="Createsshfile" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qyjnsqsb/createsshfile.gif",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>