<?xml version="1.0" encoding="utf-8"?>
<Media Key="76ec0b25-0ca9-4062-a440-ed6a41e15365" Alias="DigitalMedia.jpg" Level="3">
  <Info>
    <Parent Key="b16dedb8-5e19-4997-8d05-24cdab5bdbfd">Released: Media cache package</Parent>
    <Path>/BlogPosts/ReleasedMediaCachePackage/DigitalMediajpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="DigitalMedia.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/76ec0b250ca94062a440ed6a41e15365/00000006000000000000000000000000/digitalmedia.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>