<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b93d518-e78c-4389-9a3e-3ef9c04680a3" Alias="documenttypes.png" Level="3">
  <Info>
    <Parent Key="0e86ffcd-0eb0-4c67-ad9f-7baedf7603a8">Umbraco developer productivity with uSiteBuilder</Parent>
    <Path>/BlogPosts/UmbracoDeveloperProductivityWithUSiteBuilder/documenttypespng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="documenttypes.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/8b93d518e78c43899a3e3ef9c04680a3/00000006000000000000000000000000/documenttypes.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>