<?xml version="1.0" encoding="utf-8"?>
<Media Key="54688228-e811-4dea-bc62-4ea78998bad3" Alias="dropbox.png" Level="3">
  <Info>
    <Parent Key="bbc67c2e-f6d4-4016-8dcf-d978c0f46f03">Dropbox as a Git central repository</Parent>
    <Path>/BlogPosts/DropboxAsAGitCentralRepository/dropboxpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="dropbox.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/54688228e8114deabc624ea78998bad3/00000006000000000000000000000000/dropbox.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>