<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbc67c2e-f6d4-4016-8dcf-d978c0f46f03" Alias="Dropbox as a Git central repository" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/DropboxAsAGitCentralRepository</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="Dropbox as a Git central repository" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties />
</Media>