<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d2c53d9-c435-4fe7-999d-b2640b9dcdfe" Alias="Efficient JS/CSS handling in .Net" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/EfficientJSCSSHandlingInNet</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:37</CreateDate>
    <NodeName Default="Efficient JS/CSS handling in .Net" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties />
</Media>