<?xml version="1.0" encoding="utf-8"?>
<Media Key="3466737b-d497-4390-8c7c-1743a4117c13" Alias="folder.jpg" Level="3">
  <Info>
    <Parent Key="214677f0-6e2a-416b-8b18-367f92bf41d0">Umbraco tip of the week: "Folder" is not a good name for a documentType</Parent>
    <Path>/BlogPosts/UmbracoTipOfTheWeekFolderIsNotAGoodNameForADocumentType/folderjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:37</CreateDate>
    <NodeName Default="folder.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3466737bd49743908c7c1743a4117c13/00000006000000000000000000000000/folder.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>