<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed9ed879-02d5-49d5-b041-89a2ad922c59" Alias="From 0 to Umbraco site in 60 seconds" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/From0ToUmbracoSiteIn60Seconds</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="From 0 to Umbraco site in 60 seconds" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>