<?xml version="1.0" encoding="utf-8"?>
<Media Key="38866fc9-b449-4f9f-8e59-466ec16138da" Alias="funny-pictures-cat-goes-on-the-naughty-list.jpg" Level="3">
  <Info>
    <Parent Key="03fb436c-88d1-4ba9-aa3a-6135e8d9a8da">Convert between VS2008 and 2010 projects, automatically</Parent>
    <Path>/BlogPosts/ConvertBetweenVS2008And2010ProjectsAutomatically/funnyPicturesCatGoesOnTheNaughtyListjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:37</CreateDate>
    <NodeName Default="funny-pictures-cat-goes-on-the-naughty-list.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/38866fc9b4494f9f8e59466ec16138da/00000006000000000000000000000000/naughtycat.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>