<?xml version="1.0" encoding="utf-8"?>
<Media Key="397f61d0-6e68-4a23-acf5-926311c1c5e0" Alias="GIT-Extensions-logo.png" Level="3">
  <Info>
    <Parent Key="d337fc4a-f3e8-4268-b0fd-5ce5788ea598">Version control in Git - Part 2 (set-up and usage)</Parent>
    <Path>/BlogPosts/VersionControlInGitPart2SetUpAndUsage/GITExtensionsLogopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:38</CreateDate>
    <NodeName Default="GIT-Extensions-logo.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/397f61d06e684a23acf5926311c1c5e0/00000006000000000000000000000000/git-extensions-logo.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>