<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e92d2f8-fffa-4b0e-aa25-9da44b92a25e" Alias="git-logo.png" Level="3">
  <Info>
    <Parent Key="4c8330fa-5660-4953-a8a9-3d639f29e835">Version control in Git - Part 1</Parent>
    <Path>/BlogPosts/VersionControlInGitPart1/gitLogopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="git-logo.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/8e92d2f8fffa4b0eaa259da44b92a25e/00000006000000000000000000000000/git-logo.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>