<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8c7d6ea-006e-427f-a84f-50575db9f4ab" Alias="git.gif" Level="3">
  <Info>
    <Parent Key="f66c17e3-7786-4bbf-a2c6-581728526eaa">Version control in Git - Part 3 (a central repository)</Parent>
    <Path>/BlogPosts/VersionControlInGitPart3ACentralRepository/gitgif</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="git.gif" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e8c7d6ea006e427fa84f50575db9f4ab/00000006000000000000000000000000/git.gif",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>