<?xml version="1.0" encoding="utf-8"?>
<Media Key="da890cae-1f5e-4e76-9e2d-12e4e8833503" Alias="health-save-life-aid-saving-help-ocean-emergency-2260391.jpg" Level="3">
  <Info>
    <Parent Key="c07d48d2-4626-4d3a-9dd4-8b55a0fd7d5e">Help your favorite open source project by helping yourself</Parent>
    <Path>/BlogPosts/HelpYourFavoriteOpenSourceProjectByHelpingYourself/healthSaveLifeAidSavingHelpOceanEmergency2260391jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="health-save-life-aid-saving-help-ocean-emergency-2260391.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/da890cae1f5e4e769e2d12e4e8833503/00000006000000000000000000000000/lifesaver.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>