<?xml version="1.0" encoding="utf-8"?>
<Media Key="c07d48d2-4626-4d3a-9dd4-8b55a0fd7d5e" Alias="Help your favorite open source project by helping yourself" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/HelpYourFavoriteOpenSourceProjectByHelpingYourself</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="Help your favorite open source project by helping yourself" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties />
</Media>