<?xml version="1.0" encoding="utf-8"?>
<Media Key="843ba63b-ba88-4f0f-b4e0-cc5cc51eadec" Alias="How to use Razor in Umbraco" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/HowToUseRazorInUmbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="How to use Razor in Umbraco" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties />
</Media>