<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac1039f1-c0ee-48c3-8eac-180aa37e4152" Alias="How to diagnose Umbraco upgrade problems" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/HowToDiagnoseUmbracoUpgradeProblems</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:38</CreateDate>
    <NodeName Default="How to diagnose Umbraco upgrade problems" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties />
</Media>