<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a1e8de9-b32d-441b-9a38-416eb4174399" Alias="IMG 20220226 180954 183ÆØÅ" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG20220226180954183aeoeaa</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:36</CreateDate>
    <NodeName Default="IMG 20220226 180954 183ÆØÅ" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/34gb2krn/img_20220226_180954_183aeoeaa.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>