<?xml version="1.0" encoding="utf-8"?>
<Media Key="760eaa05-7993-4f2b-b220-b1191e13dd43" Alias="imgres.jpg" Level="3">
  <Info>
    <Parent Key="2d2c53d9-c435-4fe7-999d-b2640b9dcdfe">Efficient JS/CSS handling in .Net</Parent>
    <Path>/BlogPosts/EfficientJSCSSHandlingInNet/imgresjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="imgres.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/760eaa0579934f2bb220b1191e13dd43/00000006000000000000000000000000/imgres.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>