<?xml version="1.0" encoding="utf-8"?>
<Media Key="21891885-1e17-4b2b-bc8e-8e4756c3f699" Alias="Let's Encrypt, on Windows" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/LetsEncryptOnWindows</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:36</CreateDate>
    <NodeName Default="Let's Encrypt, on Windows" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties />
</Media>