<?xml version="1.0" encoding="utf-8"?>
<Media Key="5921ffbb-d77a-4f96-a133-4108cb4556d2" Alias="Making sure your Umbraco site performs on Azure" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/MakingSureYourUmbracoSitePerformsOnAzure</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:35</CreateDate>
    <NodeName Default="Making sure your Umbraco site performs on Azure" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>