<?xml version="1.0" encoding="utf-8"?>
<Media Key="63ca7a00-06c8-4375-992b-bb174c9144f0" Alias="Making Contour even sexier" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/MakingContourEvenSexier</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="Making Contour even sexier" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties />
</Media>