<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2fc3b18-5302-49d8-8244-17a324d9e82a" Alias="Moving from DateFolders to Umbraco's new ListView" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/MovingFromDateFoldersToUmbracosNewListView</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:36</CreateDate>
    <NodeName Default="Moving from DateFolders to Umbraco's new ListView" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties />
</Media>