<?xml version="1.0" encoding="utf-8"?>
<Media Key="10319f10-c9af-4224-ba6a-fb847c78d220" Alias="PhotoMetaData package now available" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/PhotoMetaDataPackageNowAvailable</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:35</CreateDate>
    <NodeName Default="PhotoMetaData package now available" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties />
</Media>