<?xml version="1.0" encoding="utf-8"?>
<Media Key="55e299bc-d7e5-47bb-a38d-d26673017a18" Alias="Presenting: The CleanHome package" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/PresentingTheCleanHomePackage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:37</CreateDate>
    <NodeName Default="Presenting: The CleanHome package" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties />
</Media>