<?xml version="1.0" encoding="utf-8"?>
<Media Key="46c96148-3ab0-4460-8469-e8b1fe51bbe1" Alias="Razor vs. &quot;/base&quot; to output Json in Umbraco" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/RazorVsBaseToOutputJsonInUmbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:38</CreateDate>
    <NodeName Default="Razor vs. &quot;/base&quot; to output Json in Umbraco" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>