<?xml version="1.0" encoding="utf-8"?>
<Media Key="dedbca1c-af12-44e3-ac2a-9e9f0547db6d" Alias="razro.PNG" Level="3">
  <Info>
    <Parent Key="5c284167-32a5-4f62-a455-6f56bbb69e32">How to use Razor in Umbraco - Paging</Parent>
    <Path>/BlogPosts/HowToUseRazorInUmbracoPaging/razroPNG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="razro.PNG" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dedbca1caf1244e3ac2a9e9f0547db6d/00000006000000000000000000000000/razro.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>