<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e214403-f2e0-428a-8d74-95d65664495c" Alias="Released: Contact Form Package" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/ReleasedContactFormPackage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:35</CreateDate>
    <NodeName Default="Released: Contact Form Package" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties />
</Media>