<?xml version="1.0" encoding="utf-8"?>
<Media Key="b16dedb8-5e19-4997-8d05-24cdab5bdbfd" Alias="Released: Media cache package" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/ReleasedMediaCachePackage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="Released: Media cache package" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties />
</Media>