<?xml version="1.0" encoding="utf-8"?>
<Media Key="38fe2acb-e167-4e11-b8df-62dac28c17ab" Alias="Sample1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sample1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:37</CreateDate>
    <NodeName Default="Sample1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zuvp2odh/sample1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>