<?xml version="1.0" encoding="utf-8"?>
<Media Key="b97b4a13-0145-4238-9326-99ee0a6833cb" Alias="screencasting_monitor.jpg" Level="3">
  <Info>
    <Parent Key="8dda85a2-129d-4bf1-8607-e535836af327">Screencast: Installing Umbraco</Parent>
    <Path>/BlogPosts/ScreencastInstallingUmbraco/screencasting_monitorjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="screencasting_monitor.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b97b4a1301454238932699ee0a6833cb/00000006000000000000000000000000/screencasting_monitor.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>