<?xml version="1.0" encoding="utf-8"?>
<Media Key="8dda85a2-129d-4bf1-8607-e535836af327" Alias="Screencast: Installing Umbraco" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/ScreencastInstallingUmbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="Screencast: Installing Umbraco" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>