<?xml version="1.0" encoding="utf-8"?>
<Media Key="a07196d3-79fd-4d1f-816c-f8b223bcf28e" Alias="SEO optimizing in Umbraco" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/SEOOptimizingInUmbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="SEO optimizing in Umbraco" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties />
</Media>