<?xml version="1.0" encoding="utf-8"?>
<Media Key="78a9443e-ac82-48c3-92e7-19e891c503bd" Alias="Setting up Hangfire in Umbraco 9" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/SettingUpHangfireInUmbraco9</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:34</CreateDate>
    <NodeName Default="Setting up Hangfire in Umbraco 9" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties />
</Media>