<?xml version="1.0" encoding="utf-8"?>
<Media Key="93e62d8a-6fe3-4378-bc63-30a79e82221a" Alias="site-structure.PNG" Level="3">
  <Info>
    <Parent Key="defc1fda-4f75-498d-88d0-238fd0a9d188">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/BlogPosts/TipOfTheWeekTheUltimateSiteStructureSetup/siteStructurePNG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="site-structure.PNG" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/93e62d8a6fe34378bc6330a79e82221a/00000006000000000000000000000000/site-structure.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>