<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ebc746a-6137-421b-9c42-5ca1fc7e9e7e" Alias="sitemap.png" Level="3">
  <Info>
    <Parent Key="a5387ccf-bdf5-465d-a34a-2920bd0f4542">Released: Search Engine Sitemap package</Parent>
    <Path>/BlogPosts/ReleasedSearchEngineSitemapPackage/sitemappng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="sitemap.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/7ebc746a6137421b9c425ca1fc7e9e7e/00000006000000000000000000000000/sitemap.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>