<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ebe6092-7422-434b-bf38-cabfd94e7fd9" Alias="So you want to secure your Umbraco site" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/SoYouWantToSecureYourUmbracoSite</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:36</CreateDate>
    <NodeName Default="So you want to secure your Umbraco site" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties />
</Media>