<?xml version="1.0" encoding="utf-8"?>
<Media Key="94888770-f810-4faf-b8ff-c63e449effe1" Alias="structure-example.png" Level="3">
  <Info>
    <Parent Key="defc1fda-4f75-498d-88d0-238fd0a9d188">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/BlogPosts/TipOfTheWeekTheUltimateSiteStructureSetup/structureExamplepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="structure-example.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/94888770f8104fafb8ffc63e449effe1/00000006000000000000000000000000/structure-example.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>