<?xml version="1.0" encoding="utf-8"?>
<Media Key="43a1b352-f365-4dd4-b1e4-6af86e779172" Alias="styling-controls.gif" Level="3">
  <Info>
    <Parent Key="c7a8eb32-ed46-4159-8ce4-69247d9e5f9f">Styling the ASP.NET login controls</Parent>
    <Path>/BlogPosts/StylingTheASPNETLoginControls/stylingControlsgif</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:38</CreateDate>
    <NodeName Default="styling-controls.gif" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/43a1b352f3654dd4b1e46af86e779172/00000006000000000000000000000000/styling-controls.gif",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>