<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7a8eb32-ed46-4159-8ce4-69247d9e5f9f" Alias="Styling the ASP.NET login controls" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/StylingTheASPNETLoginControls</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:38</CreateDate>
    <NodeName Default="Styling the ASP.NET login controls" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>