<?xml version="1.0" encoding="utf-8"?>
<Media Key="48d8dc7b-2e58-4c80-87b3-e16750a88d73" Alias="The CodeGarden Guide to Copenhagen" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/TheCodeGardenGuideToCopenhagen</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:38</CreateDate>
    <NodeName Default="The CodeGarden Guide to Copenhagen" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>