<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ab9bb3a-5d9d-4624-9cdc-15b91e4abd70" Alias="Tip of the week: Clean those ASP.NET temp files" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/TipOfTheWeekCleanThoseASPNETTempFiles</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:35</CreateDate>
    <NodeName Default="Tip of the week: Clean those ASP.NET temp files" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties />
</Media>