<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8773667-377d-4e4b-aae6-f6aabdfc6f9d" Alias="Tip of the week: ReSharper Code Templates" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/TipOfTheWeekReSharperCodeTemplates</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:34</CreateDate>
    <NodeName Default="Tip of the week: ReSharper Code Templates" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties />
</Media>