<?xml version="1.0" encoding="utf-8"?>
<Media Key="defc1fda-4f75-498d-88d0-238fd0a9d188" Alias="Tip of the week: The &quot;ultimate&quot; site structure setup" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/TipOfTheWeekTheUltimateSiteStructureSetup</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="Tip of the week: The &quot;ultimate&quot; site structure setup" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>