<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d686229-9497-4246-a415-32e548642d50" Alias="TotalTest" Level="3">
  <Info>
    <Parent Key="0146c238-7085-4ca9-ad69-a9f99691c4d8">Using Umbraco migrations to deploy changes</Parent>
    <Path>/BlogPosts/UsingUmbracoMigrationsToDeployChanges/TotalTest</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:36</CreateDate>
    <NodeName Default="TotalTest" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1d68622994974246a41532e548642d50/00000006000000000000000000000000/2016-03-27_132200.png",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>