<?xml version="1.0" encoding="utf-8"?>
<Media Key="214677f0-6e2a-416b-8b18-367f92bf41d0" Alias="Umbraco tip of the week: &quot;Folder&quot; is not a good name for a documentType" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/UmbracoTipOfTheWeekFolderIsNotAGoodNameForADocumentType</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:36</CreateDate>
    <NodeName Default="Umbraco tip of the week: &quot;Folder&quot; is not a good name for a documentType" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>