<?xml version="1.0" encoding="utf-8"?>
<Media Key="2bc61ede-3c0b-43dd-8039-29476e2028e6" Alias="umbracosolution.png" Level="3">
  <Info>
    <Parent Key="0e86ffcd-0eb0-4c67-ad9f-7baedf7603a8">Umbraco developer productivity with uSiteBuilder</Parent>
    <Path>/BlogPosts/UmbracoDeveloperProductivityWithUSiteBuilder/umbracosolutionpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:37</CreateDate>
    <NodeName Default="umbracosolution.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2bc61ede3c0b43dd803929476e2028e6/00000006000000000000000000000000/umbracosolution.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>