<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1322b97-f396-496b-9838-1786ee6e9f7a" Alias="Umbraco tip of the week: give your editors less choice" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/UmbracoTipOfTheWeekGiveYourEditorsLessChoice</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:35</CreateDate>
    <NodeName Default="Umbraco tip of the week: give your editors less choice" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties />
</Media>