<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e86ffcd-0eb0-4c67-ad9f-7baedf7603a8" Alias="Umbraco developer productivity with uSiteBuilder" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/UmbracoDeveloperProductivityWithUSiteBuilder</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:35</CreateDate>
    <NodeName Default="Umbraco developer productivity with uSiteBuilder" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>