<?xml version="1.0" encoding="utf-8"?>
<Media Key="8673102b-aba5-4402-acd3-b2cb079859b2" Alias="Umbraco - Object reference not set.." Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/UmbracoObjectReferenceNotSet</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="Umbraco - Object reference not set.." />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties />
</Media>