<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f52d53a-bb60-427b-99f2-010d2f5b04db" Alias="umbraco-contour.PNG" Level="3">
  <Info>
    <Parent Key="63ca7a00-06c8-4375-992b-bb174c9144f0">Making Contour even sexier</Parent>
    <Path>/BlogPosts/MakingContourEvenSexier/umbracoContourPNG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="umbraco-contour.PNG" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4f52d53abb60427b99f2010d2f5b04db/00000006000000000000000000000000/umbraco-contour.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>