<?xml version="1.0" encoding="utf-8"?>
<Media Key="90a5ac85-03c2-46a2-a6d7-481265b3eaef" Alias="Umbraco MVP - Don't vote for me" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/UmbracoMVPDontVoteForMe</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:38</CreateDate>
    <NodeName Default="Umbraco MVP - Don't vote for me" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties />
</Media>