<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b4a9741-ca8d-4369-884b-0a4efca54438" Alias="Umbraco tip of the week - Debugging from within the website" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/UmbracoTipOfTheWeekDebuggingFromWithinTheWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:38</CreateDate>
    <NodeName Default="Umbraco tip of the week - Debugging from within the website" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>