<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a4249f7-acce-4209-91ce-de461093c3df" Alias="umbvs08_07_1.png" Level="3">
  <Info>
    <Parent Key="5e972884-2d61-4590-8c76-ad32223de961">Easily debug your custom Umbraco user controls in Visual Studio</Parent>
    <Path>/BlogPosts/EasilyDebugYourCustomUmbracoUserControlsInVisualStudio/umbvs08_07_1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="umbvs08_07_1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/6a4249f7acce420991cede461093c3df/00000006000000000000000000000000/umbvs08_07_1.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>