<?xml version="1.0" encoding="utf-8"?>
<Media Key="e60743f6-69ea-4edc-a1cc-d152ad330237" Alias="Using &quot;/base&quot; to create and consume a JSON string" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/UsingBaseToCreateAndConsumeAJSONString</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="Using &quot;/base&quot; to create and consume a JSON string" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties />
</Media>