<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d59f0b5-f9fc-484e-b4ca-79b4fc271ec1" Alias="vegait.png" Level="3">
  <Info>
    <Parent Key="0e86ffcd-0eb0-4c67-ad9f-7baedf7603a8">Umbraco developer productivity with uSiteBuilder</Parent>
    <Path>/BlogPosts/UmbracoDeveloperProductivityWithUSiteBuilder/vegaitpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:37</CreateDate>
    <NodeName Default="vegait.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2d59f0b5f9fc484eb4ca79b4fc271ec1/00000006000000000000000000000000/vegait.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>