<?xml version="1.0" encoding="utf-8"?>
<Media Key="d337fc4a-f3e8-4268-b0fd-5ce5788ea598" Alias="Version control in Git - Part 2 (set-up and usage)" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/VersionControlInGitPart2SetUpAndUsage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:35</CreateDate>
    <NodeName Default="Version control in Git - Part 2 (set-up and usage)" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties />
</Media>