<?xml version="1.0" encoding="utf-8"?>
<Media Key="f66c17e3-7786-4bbf-a2c6-581728526eaa" Alias="Version control in Git - Part 3 (a central repository)" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/VersionControlInGitPart3ACentralRepository</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="Version control in Git - Part 3 (a central repository)" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties />
</Media>