<?xml version="1.0" encoding="utf-8"?>
<Media Key="214fd861-e393-4153-acf6-001c055dd72d" Alias="vickers_anvil_diamons.jpg" Level="3">
  <Info>
    <Parent Key="626a3b94-8201-4b41-8a85-9b17623dd266">Extract dlls at runtime</Parent>
    <Path>/BlogPosts/ExtractDllsAtRuntime/vickers_anvil_diamonsjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:36</CreateDate>
    <NodeName Default="vickers_anvil_diamons.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/214fd861e3934153acf6001c055dd72d/00000006000000000000000000000000/vickers_anvil_diamons.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>