<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5d77cd3-b318-485f-9861-27c9a25f94dc" Alias="viking-battle-for-asgard-2.jpg" Level="3">
  <Info>
    <Parent Key="46c96148-3ab0-4460-8469-e8b1fe51bbe1">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/BlogPosts/RazorVsBaseToOutputJsonInUmbraco/vikingBattleForAsgard2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:40</CreateDate>
    <NodeName Default="viking-battle-for-asgard-2.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b5d77cd3b318485f986127c9a25f94dc/00000006000000000000000000000000/viking-battle-for-asgard-2.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>