<?xml version="1.0" encoding="utf-8"?>
<Media Key="aebf4837-5523-42b1-b110-cf42a7f3913e" Alias="Visual Studio and Umbraco as a Service" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/VisualStudioAndUmbracoAsAService</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="Visual Studio and Umbraco as a Service" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties />
</Media>