<?xml version="1.0" encoding="utf-8"?>
<Media Key="5171c211-3730-4463-ab22-4a0f4f2cec5b" Alias="vote-706542.jpg" Level="3">
  <Info>
    <Parent Key="90a5ac85-03c2-46a2-a6d7-481265b3eaef">Umbraco MVP - Don't vote for me</Parent>
    <Path>/BlogPosts/UmbracoMVPDontVoteForMe/vote706542jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="vote-706542.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5171c21137304463ab224a0f4f2cec5b/00000006000000000000000000000000/vote-706542.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>