<?xml version="1.0" encoding="utf-8"?>
<Media Key="6614dbcf-f342-4423-92ed-ce3e27f4edc4" Alias="vs2010.png" Level="3">
  <Info>
    <Parent Key="03fb436c-88d1-4ba9-aa3a-6135e8d9a8da">Convert between VS2008 and 2010 projects, automatically</Parent>
    <Path>/BlogPosts/ConvertBetweenVS2008And2010ProjectsAutomatically/vs2010png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="vs2010.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/6614dbcff342442392edce3e27f4edc4/00000006000000000000000000000000/vs2010.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>