<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d3d0730-d678-467d-b512-1e8d637c4eee" Alias="What's this Umbraco route hijacking all about?" Level="2">
  <Info>
    <Parent Key="5e6bb8a2-0d6d-4fdb-8c66-ab7d91e5f963">Blog Posts</Parent>
    <Path>/BlogPosts/WhatsThisUmbracoRouteHijackingAllAbout</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-24T14:17:34</CreateDate>
    <NodeName Default="What's this Umbraco route hijacking all about?" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties />
</Media>