<?xml version="1.0" encoding="utf-8"?>
<Media Key="922e5957-7a4a-4c68-8366-edbdd3b5e60a" Alias="woorank.jpg" Level="3">
  <Info>
    <Parent Key="a07196d3-79fd-4d1f-816c-f8b223bcf28e">SEO optimizing in Umbraco</Parent>
    <Path>/BlogPosts/SEOOptimizingInUmbraco/woorankjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-24T14:17:39</CreateDate>
    <NodeName Default="woorank.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/922e59577a4a4c688366edbdd3b5e60a/00000006000000000000000000000000/woorank.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>