<?xml version="1.0" encoding="utf-8"?>
<Content Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a" Alias="Blog" Level="2">
  <Info>
    <Parent Key="42b60cf6-f2a3-4391-9520-5e622acea0f2">Site</Parent>
    <Path>/Site/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogOverview</ContentType>
    <CreateDate>2019-02-10T13:44:26</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ee5dfb99-ccb9-4f82-98a9-0927f7cf6ba6">BlogOverview</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>