<?xml version="1.0" encoding="utf-8"?>
<Content Key="5976ff87-5dbd-44a0-a244-0cc3d4baa1fe" Alias="Comment by Sebastiaan Janssen" Level="4">
  <Info>
    <Parent Key="3c73592c-98c7-45d9-af2c-d8f6b93ccdf9">What's this Umbraco route hijacking all about?</Parent>
    <Path>/Site/Blog/WhatsThisUmbracoRouteHijackingAllAbout/CommentBySebastiaanJanssen</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2014-01-27T11:38:50</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks!<br />Eh.. Bad deploy, fixed. ;)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@cultiv.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>