<?xml version="1.0" encoding="utf-8"?>
<Content Key="df5be137-ff3e-4bfd-9871-e633bb79fab9" Alias="Comment by Sebastiaan Janssen (7) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentBySebastiaanJanssen711</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-06-23T09:16:08</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (7) (1) (1)" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Can you create a topic on Our? This comment section is not really suitable for a discussion with screenshots etc. :) Would be good if you could do a small screencast because I really don&#39;t understand what the goal is and what doesn&#39;t work. ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[hello@sebastiaanjanssen.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>