<?xml version="1.0" encoding="utf-8"?>
<Content Key="557b159b-9243-4982-af98-dc11b38988b4" Alias="Comment by Anthony Candaele (2)" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/CommentByAnthonyCandaele2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-10T19:19:08</CreateDate>
    <NodeName Default="Comment by Anthony Candaele (2)" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan, thanks for the great article. I'm configuring my first Umbraco site using the structure you describe in this article. You speak about this Site Settings document type storing site settings data like Google Analytics script. What other kinds of data besides Site Name and Google Analytics script are stored in the Site Settings?<br /><br />Thanks for the advice,<br /><br />Anthony]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[anthony.candaele@webmove.be]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Anthony Candaele]]></Value>
    </commenterName>
  </Properties>
</Content>