<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f379ace-3c27-4c1d-a015-5278ac3b5c8b" Alias="comment by Sebastiaan Janssen (6)" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/commentBySebastiaanJanssen6</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-12-20T09:54:42</CreateDate>
    <NodeName Default="comment by Sebastiaan Janssen (6)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hey Ismail,<br /><br />Well yes, first of all they are site settings, not just homepage settings... ;)<br />But better reasons are that I tend to do a lot of multisite solutions, in which you have to make these site nodes anyway.<br />Also, as explained in the post, I don't want my editors to be able to add a, I don't know, "gallery image node" right under "Content". As said, Umbraco allows you to add just any document type straight under the Content node. By forcing my editor to start at the "Site Settings" node, I can also enforce what types of documents can be created under it.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>