<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e38271b-a598-4e9e-af02-6db308989067" Alias="comment by Shannon Deminick" Level="4">
  <Info>
    <Parent Key="2e1256b2-4bf6-4c59-8b25-f3615bc1206b">Umbraco tip of the week - security on your live servers</Parent>
    <Path>/Site/Blog/UmbracoTipOfTheWeekSecurityOnYourLiveServers/commentByShannonDeminick</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2009-07-13T08:38:32</CreateDate>
    <NodeName Default="comment by Shannon Deminick" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Doesn't UmbDebug get disabled when you set your umbracoDebugMode = false in your web.config?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sd@thefarmdigital.com.au]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Shannon Deminick]]></Value>
    </commenterName>
  </Properties>
</Content>