<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef8964f2-91c8-432c-b271-74d48fadf628" Alias="comment by Bill Smith" Level="4">
  <Info>
    <Parent Key="986ca3ab-f023-4de6-bf98-48ddd3227e20">Released: Contact Form Package</Parent>
    <Path>/Site/Blog/ReleasedContactFormPackage/commentByBillSmith</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-02-25T11:02:06</CreateDate>
    <NodeName Default="comment by Bill Smith" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I've installed and setup the form as instructed but cannot get any of the labels, validation or buttons to render.<br /><br />I am using: umbraco v 4.0.3 (Assembly version: 1.0.3625.27276)<br /><br />Do you have any ideas?<br />Best wishes,<br /><br />Bill Smith]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bill.smith@innovationdigital.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Bill Smith]]></Value>
    </commenterName>
  </Properties>
</Content>