<?xml version="1.0" encoding="utf-8"?>
<Content Key="0735e324-db21-43a8-b0e0-b3c9abc678d9" Alias="Comment by michael kors bags" Level="4">
  <Info>
    <Parent Key="b8f8692a-e2b0-4019-bf87-6c923aa6c960">Version control in Git - Part 3 (a central repository)</Parent>
    <Path>/Site/Blog/VersionControlInGitPart3ACentralRepository/CommentByMichaelKorsBags</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-07-06T18:06:55</CreateDate>
    <NodeName Default="Comment by michael kors bags" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[<a href="http://www.marianne.com/replica-cartier.htm">womens replica cartier watches</a> cartier replica watches <a href="http://www.marianne.com/replica-cartier.htm">replica cartier for men</a>]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[leinzdw@yahoo.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[michael kors bags]]></Value>
    </commenterName>
  </Properties>
</Content>