<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4538988-4a86-47c1-994d-d302acab4c41" Alias="Comment by aaaaaa" Level="4">
  <Info>
    <Parent Key="bf5a2a4e-05e1-4978-a4bd-7ba0d9e36e4f">Convert between VS2008 and 2010 projects, automatically</Parent>
    <Path>/Site/Blog/ConvertBetweenVS2008And2010ProjectsAutomatically/CommentByAaaaaa</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-04-23T06:41:37</CreateDate>
    <NodeName Default="Comment by aaaaaa" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[asdfsdsssssssssssssssssssssss]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sssssss@dfdf.xim]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[aaaaaa]]></Value>
    </commenterName>
  </Properties>
</Content>