<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f6958e4-abcc-47fb-a238-a7aac33aef34" Alias="Comment by Mansoor" Level="4">
  <Info>
    <Parent Key="51e61f86-3134-43eb-9518-f7d654e0115a">Making Contour even sexier</Parent>
    <Path>/Site/Blog/MakingContourEvenSexier/CommentByMansoor</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-06-17T07:39:32</CreateDate>
    <NodeName Default="Comment by Mansoor" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Nice article]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[ch.mansoor@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Mansoor]]></Value>
    </commenterName>
  </Properties>
</Content>