<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb01f404-238e-4e47-8200-4822b59f93a3" Alias="Comment by Sebastiaan Janssen (4) (1)" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentBySebastiaanJanssen41</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-02-11T16:33:53</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (4) (1)" />
    <SortOrder>33</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[What repository is that? I have just installed v6 with a starter kit and that ran just fine.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@umbraco.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>