<?xml version="1.0" encoding="utf-8"?>
<Content Key="49edd979-73f1-433a-b79f-748a0c051251" Alias="Comment by Niels Hartvig (2) (1)" Level="4">
  <Info>
    <Parent Key="0920d9f0-19e4-4337-b89d-5e3a2aa55914">Umbraco developer productivity with uSiteBuilder</Parent>
    <Path>/Site/Blog/UmbracoDeveloperProductivityWithUSiteBuilder/CommentByNielsHartvig21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-10T09:36:27</CreateDate>
    <NodeName Default="Comment by Niels Hartvig (2) (1)" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Contrary to completely non restrictive licenses such as BSD/MIT, LGPL *does* come with restrictions on how you distribute linked/used libraries (some of which is still unclear / unsorted). That's why we've chosen MIT for the Umbraco core. You could ask Darren Ferguson about his experiences with a persistent/regid owner of a LGPL licensed library that he used to use in one of his projects - that should emphasize worries on unclear licenses.<br /><br />LGPL for tinymce isn't an issue as the source is always distributed (due to the nature of javascript) and NHibernate is forced to go LGPL due to it's origins from Hibernate.<br /><br />I've never understood the idea of free software (as in freedom) that comes with a massive list of definition of free. I simply think that time has moved from those :-)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[nh@umbraco.dk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Niels Hartvig]]></Value>
    </commenterName>
  </Properties>
</Content>