<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc7a4b97-54ae-41f0-93b8-25db4af5b75d" Alias="Comment by Dilantha" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByDilantha</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-07-06T06:17:13</CreateDate>
    <NodeName Default="Comment by Dilantha" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks Dude... works fine]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[aa@ff.ee]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Dilantha]]></Value>
    </commenterName>
  </Properties>
</Content>