<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a36dd1d-e4de-431b-941c-94ea4733ef65" Alias="Comment by sibe havva" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentBySibeHavva</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-12-23T15:47:21</CreateDate>
    <NodeName Default="Comment by sibe havva" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[very very good article !!!<br /><br />thanks again !!!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[laryjan@ymail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[sibe havva]]></Value>
    </commenterName>
  </Properties>
</Content>