<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc5de5c5-58aa-44c8-92bb-47fa671fa736" Alias="Comment by Dan" Level="4">
  <Info>
    <Parent Key="3a288864-9cc4-4a1d-a1c0-e5d16eb81582">Umbraco tip of the week: give your editors less choice</Parent>
    <Path>/Site/Blog/UmbracoTipOfTheWeekGiveYourEditorsLessChoice/CommentByDan</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2014-02-03T13:29:09</CreateDate>
    <NodeName Default="Comment by Dan" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Nice post Seb.<br /><br />It would be nice in v7 (not so feasible in V6) if the doc-type was automatically selected when creating content if there's only 1 allowed.  i.e. Bypass the doc-type selection panel if there's no choice.  This would cut out a step and make things even simpler for editors.<br /><br />Just a thought anyhow...]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[dan@iomi.net]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Dan]]></Value>
    </commenterName>
  </Properties>
</Content>