<?xml version="1.0" encoding="utf-8"?>
<Content Key="29cf1ee3-0114-4b58-bfec-31217286d447" Alias="Comment by Julius Bartkus (1) (1)" Level="4">
  <Info>
    <Parent Key="1d3433cb-236a-47dc-922b-4c5fb0b26942">How to use Razor in Umbraco - Paging</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbracoPaging/CommentByJuliusBartkus11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-08-09T14:13:15</CreateDate>
    <NodeName Default="Comment by Julius Bartkus (1) (1)" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[ah, sure, you are right...<br /><br />one more thing could be improved is checking whether the user not trying to enter exceeding page or lower than 1<br /><br />in<br />public static Paging GetPages(<br />...<br /><br />double totalPages = Math.Ceiling(itemCount/(Double) itemsPerPage);<br /><br />if (page < 1) page = 1;<br />if (page > totalPages) page = (int)totalPages;]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sourness@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Julius Bartkus]]></Value>
    </commenterName>
  </Properties>
</Content>