<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb9837ab-5326-4be3-95dd-eaec2cdb3984" Alias="Comment by Allan Molsen Larsen" Level="4">
  <Info>
    <Parent Key="3a288864-9cc4-4a1d-a1c0-e5d16eb81582">Umbraco tip of the week: give your editors less choice</Parent>
    <Path>/Site/Blog/UmbracoTipOfTheWeekGiveYourEditorsLessChoice/CommentByAllanMolsenLarsen</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2014-02-02T11:20:35</CreateDate>
    <NodeName Default="Comment by Allan Molsen Larsen" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Great points Sebastiaan. It's great on a single language site where the editors never need to create new FAQ/Blogs/News sections. But on multi language sites where each language is a node below the root node, I think what @Tom describes would be a great functionality. When the editor wants to create a new language site they would only see the option to create a FAQ/Blogs/News section if the section does not already exist below the current language root node.  But in most cases I guess the editors want something changed in the structure of the site for each new language, so they need a developer to make changes anyway.<br />Generally I prefer to build sites without (too much) hacking and with (mostly) pure Umbraco functionality and as few packages as possible to make the site as maintainable as possible.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[allanmolsenlarsen@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Allan Molsen Larsen]]></Value>
    </commenterName>
  </Properties>
</Content>