<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e6e9f28-dcff-4c2b-8e78-fcf14a22c5ca" Alias="Comment by Jovan" Level="4">
  <Info>
    <Parent Key="986ca3ab-f023-4de6-bf98-48ddd3227e20">Released: Contact Form Package</Parent>
    <Path>/Site/Blog/ReleasedContactFormPackage/CommentByJovan</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-09-22T14:26:17</CreateDate>
    <NodeName Default="Comment by Jovan" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Best solution for contact form UMBRACO. Great idea!<br /><br />Function successfully, but I have a problem with the design. How to setup in my master page?<br /><br />Thank you.<br />Jovan]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[vane_kasper@yahoo.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jovan]]></Value>
    </commenterName>
  </Properties>
</Content>