<?xml version="1.0" encoding="utf-8"?>
<Content Key="dfef547e-5812-4f93-9bf6-ea2717dbba2f" Alias="Comment by HJAbbing (1) (1)" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentByHJAbbing11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-07-25T13:51:22</CreateDate>
    <NodeName Default="Comment by HJAbbing (1) (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[One question. I am having some trouble parsing the Json..<br /><br />$.getJSON(url, { alttemplate: "RazorJson" }, function(data) {<br />console.log("success");<br />});<br /><br />Returned data is in this format: [{"Alias":"thema",...<br /><br />Callback doen't fire. Is this because of invalid Json? Setting the content-type header to Json doesn't help.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[abbing@aride.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[HJAbbing]]></Value>
    </commenterName>
  </Properties>
</Content>