<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5734b2a-51b0-4152-8cea-94a95ea0f840" Alias="comment by Sebastiaan Janssen" Level="4">
  <Info>
    <Parent Key="5fc1d04e-b1da-4fd6-885a-cb824335b547">Using "/base" to create and consume a JSON string</Parent>
    <Path>/Site/Blog/UsingBaseToCreateAndConsumeAJSONString/commentBySebastiaanJanssen</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-10-13T15:54:11</CreateDate>
    <NodeName Default="comment by Sebastiaan Janssen" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[We have a contact form in Flash, which needs to send e-mail in the same way as on the non-flash site. On the normal site we use Contour and there is currently no way to use Contour in Flash.<br /><br />So I created the RESTContour package to be able to just send Flash' form values to Contour. This call specifically is handy so that Flash can figure out what the form's GUID should be, so the Flash gets all of the forms, finds the one that's called "Contact" and uses the GUID to do the submit to another /base extension (/base/sendContourForm/CreateRecord/?formGuid=...).<br /><br />Does that help?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>