<?xml version="1.0" encoding="utf-8"?>
<Content Key="649b7e2c-3d2e-46d8-83c6-53b81d36d257" Alias="Comment by Shannon (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentByShannon111</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2017-09-19T23:27:48</CreateDate>
    <NodeName Default="Comment by Shannon (1) (1) (1)" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Now to just get this completed and you don&#39;t need to do any of the manual work. Might need to spend an evening and just get this merged in - as a community contribution - http://issues.umbraco.org/issue/U4-8605]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sdeminick@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Shannon]]></Value>
    </commenterName>
  </Properties>
</Content>