<?xml version="1.0" encoding="utf-8"?>
<Content Key="52145c00-0cd6-49f9-bf1c-b84f2a3530ee" Alias="comment by Lee Kelleher" Level="4">
  <Info>
    <Parent Key="8b780c93-7446-4a37-a8cf-993c2e5320bb">A basic backup strategy</Parent>
    <Path>/Site/Blog/ABasicBackupStrategy/commentByLeeKelleher</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-01-01T21:24:29</CreateDate>
    <NodeName Default="comment by Lee Kelleher" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan,<br /><br />I think after the Coding Horror back-up failure, we're all re-thinking our back-up/restore strategies!<br /><br />I've done something similar to you recently - I'll do a blog post about it soon!<br /><br />Good to know that I'm not the only one who was backing-up the .mdf files (and then later realising it was a crazy idea!!!)<br /><br />Cheers,<br />- Lee]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[lee@vertino.net]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Lee Kelleher]]></Value>
    </commenterName>
  </Properties>
</Content>