<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e7aa83f-69aa-4191-87ef-1c63c7fb8158" Alias="Comment by Anthony Candaele (3)" Level="4">
  <Info>
    <Parent Key="1d3433cb-236a-47dc-922b-4c5fb0b26942">How to use Razor in Umbraco - Paging</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbracoPaging/CommentByAnthonyCandaele3</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-10T11:41:36</CreateDate>
    <NodeName Default="Comment by Anthony Candaele (3)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan,<br /><br />Thanks for this article on creating a pager with Razor. That's just what I need for my new portfolio page. I need a pager that pages a pages with projects.<br />There is one thing that is not really clear to me. In your article, you mention the 'overviewpage'. Is this an Umbraco Template, or is it a Razor script file?<br /><br />Greetings,<br /><br />Anthony]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[anthony.candaele@webmove.be]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Anthony Candaele]]></Value>
    </commenterName>
  </Properties>
</Content>