<?xml version="1.0" encoding="utf-8"?>
<Content Key="13fbd318-a32f-4bd3-806b-c7a078867faf" Alias="Comment by Vlax" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/CommentByVlax</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-01-25T03:05:41</CreateDate>
    <NodeName Default="Comment by Vlax" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi I have a similar question like Anthony, how can you make this work in a multilingual site?<br />Regards ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[vknobel@sunrise.ch]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Vlax]]></Value>
    </commenterName>
  </Properties>
</Content>