<?xml version="1.0" encoding="utf-8"?>
<Content Key="432c76af-67db-4e0f-a79d-243c3ea263f6" Alias="comment by Pinal Bhatt (4)" Level="4">
  <Info>
    <Parent Key="fab8f78d-5d8e-4f5d-b50d-50d4ce5c6de0">How to use Razor in Umbraco</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbraco/commentByPinalBhatt4</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-02-16T17:23:07</CreateDate>
    <NodeName Default="comment by Pinal Bhatt (4)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks for the update. But i have few queries:<br />1. what is ETA for Umbraco 4.6.2?<br />2. Will I have to re-write my razor scripts created in 4.6.1 using "Model" and .razor files?<br /><br />Thanks & Regards<br />Pinal Bhatt]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[self@pbdesk.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Pinal Bhatt]]></Value>
    </commenterName>
  </Properties>
</Content>