<?xml version="1.0" encoding="utf-8"?>
<Content Key="23c4c2a6-8d8f-46b3-ad86-3c8a9bdad290" Alias="comment by Pascal" Level="4">
  <Info>
    <Parent Key="378c2f56-de4b-4087-ad6e-fd275656975a">Dropbox as a Git central repository</Parent>
    <Path>/Site/Blog/DropboxAsAGitCentralRepository/commentByPascal</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-01-03T18:41:27</CreateDate>
    <NodeName Default="comment by Pascal" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thank you, very helpful.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[pp@alphaproject.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Pascal]]></Value>
    </commenterName>
  </Properties>
</Content>