<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e6dca7b-7642-422b-94d3-8c950df7a2ae" Alias="Comment by Kim" Level="4">
  <Info>
    <Parent Key="580def6d-c4f7-41d3-9981-e05e4051881a">Screencast: Installing Umbraco</Parent>
    <Path>/Site/Blog/ScreencastInstallingUmbraco/CommentByKim</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-04-15T18:15:28</CreateDate>
    <NodeName Default="Comment by Kim" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Volume is low, can't hear well.  Can you please raise the volume.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[k@yahoo.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Kim]]></Value>
    </commenterName>
  </Properties>
</Content>