<?xml version="1.0" encoding="utf-8"?>
<Content Key="c63a3ac2-d6e0-4034-a97d-1ad38c3e0033" Alias="Comment by Bjarne Fyrstenborg (2) (1)" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentByBjarneFyrstenborg21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2017-09-18T13:42:53</CreateDate>
    <NodeName Default="Comment by Bjarne Fyrstenborg (2) (1)" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Great post about Migrations.<br />Can I use Migrations on Umbraco Cloud projects e.g. to create a custom table or alter an existing one on another environment. I have seen it being used, but mostly in packages.<br /><br />Is it better to use Migrations to create the custom table (if it doesn&#39;t exists), than just running the logic in e.g. ApplicationStarted event, when it isn&#39;t a package?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bjarne_fyrstenborg@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Bjarne Fyrstenborg]]></Value>
    </commenterName>
  </Properties>
</Content>