<?xml version="1.0" encoding="utf-8"?>
<Content Key="af97c29f-a31c-4845-822b-1e3d8c90e8a2" Alias="Comment by Leandro (2)" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentByLeandro2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-11-21T12:06:31</CreateDate>
    <NodeName Default="Comment by Leandro (2)" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[This approach is great, but it has performance problems on large scale websites, I gues it's related with routing system. The problem can be solved by adding a node that uses the template (with the same name), you will notice big difference in response time.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[leandro@lecoati.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Leandro]]></Value>
    </commenterName>
  </Properties>
</Content>