<?xml version="1.0" encoding="utf-8"?>
<Content Key="c15b0b86-8bf4-4b7b-bedc-2ee7c83e6a45" Alias="comment by Craig" Level="4">
  <Info>
    <Parent Key="bf5a2a4e-05e1-4978-a4bd-7ba0d9e36e4f">Convert between VS2008 and 2010 projects, automatically</Parent>
    <Path>/Site/Blog/ConvertBetweenVS2008And2010ProjectsAutomatically/commentByCraig</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-12-21T15:59:53</CreateDate>
    <NodeName Default="comment by Craig" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I had the same thing as J Bo.  I ran the .bat file in the directory that I had the solution file.  I still get the error, "The selected file is a solution file, but was created by a newer verion of this application and cannot be opened."<br /><br />To downgrade the solution file, all I did was double clicked on the .bat file and it seemed to run.  Do I need to do something else?<br /><br />thanks!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[mokumax@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Craig]]></Value>
    </commenterName>
  </Properties>
</Content>