<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae1a35cd-99c5-449f-8afb-7b55f63573f3" Alias="Comment by sajidriaz (1) (1)" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentBySajidriaz11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-11-14T18:04:17</CreateDate>
    <NodeName Default="Comment by sajidriaz (1) (1)" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Guys, thanks for your replies.<br /><br />All working excellent documentation above!!!<br /><br />I was adding web application to iis.<br />I should have been creating website in iis.<br /><br />so all good!<br /><br />thanks again]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sajid.riaz@hotmail.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[sajidriaz]]></Value>
    </commenterName>
  </Properties>
</Content>