<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea10721e-bdab-4971-8da2-a385baaf16c5" Alias="Comment by Sebastiaan Janssen (2) (1) (1)" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentBySebastiaanJanssen211</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2017-09-18T20:44:59</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (2) (1) (1)" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Yes you can use migrations on Cloud. However, be aware that data in your custom tables will not deploy between Cloud environments.<br /><br />I&#39;m not sure what you mean with your package question, it&#39;s always great to run migrations to create a table if it doesn&#39;t exist though. ;-)<br /><br />As Shannon says, have a look at the examples in the core for better code than in this post, for 7.7.0 we have these migrations for example (creating tables is in there): https://github.com/umbraco/Umbraco-CMS/blob/dev-v7.7/src/Umbraco.Core/Persistence/Migrations/Upgrades/TargetVersionSevenSevenZero/AddUserGroupTables.cs]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@cultiv.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>