<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e527308-1927-4eef-a5c5-48a083b8ef9e" Alias="Comment by Sebastiaan Janssen (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="06fe3c53-e8db-4a06-ab90-267b081a9a1d">How to diagnose Umbraco upgrade problems</Parent>
    <Path>/Site/Blog/HowToDiagnoseUmbracoUpgradeProblems/CommentBySebastiaanJanssen111</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-10-25T07:30:54</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (1) (1) (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@Vaidas sorry for the late reply! The link to the preferences file works again now.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@cultiv.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>