<?xml version="1.0" encoding="utf-8"?>
<Content Key="70829190-a1c3-417d-bf75-af0aaceb97df" Alias="Comment by Eric Schrepel" Level="4">
  <Info>
    <Parent Key="06fe3c53-e8db-4a06-ab90-267b081a9a1d">How to diagnose Umbraco upgrade problems</Parent>
    <Path>/Site/Blog/HowToDiagnoseUmbracoUpgradeProblems/CommentByEricSchrepel</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2017-05-25T16:01:43</CreateDate>
    <NodeName Default="Comment by Eric Schrepel" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I&#39;d only add that the Cookies area in Chrome Dev changed since this article, or at least appears that way on my system. To get to it, I pick Application, then expand Storage on the left, then cookies, then right-click your sitename and Clear all.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[eschrepel@nwcouncil.org]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Eric Schrepel]]></Value>
    </commenterName>
  </Properties>
</Content>