<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8b1acba-81d7-4b1c-9a52-842d1ef7a19c" Alias="Comment by Lee Kelleher" Level="4">
  <Info>
    <Parent Key="61900023-d419-4bf7-ae38-f7cf3e046293">Making sure your Umbraco site performs on Azure</Parent>
    <Path>/Site/Blog/MakingSureYourUmbracoSitePerformsOnAzure/CommentByLeeKelleher</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-03-29T11:23:53</CreateDate>
    <NodeName Default="Comment by Lee Kelleher" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[&gt; &quot;You also built your dlls in Release mode before deploying them, right? Right!&quot;<br /><br />I&#39;ve been wondering about this on UaaS, is there a way to have our DLLs compiled against Debug mode for the Dev/Staging environments... and (somehow) optimized for Release mode on the Live environment?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[leekelleher@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Lee Kelleher]]></Value>
    </commenterName>
  </Properties>
</Content>