<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0621aa9-f172-43ca-a267-39982ff876da" Alias="Comment by Sebastiaan Janssen (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentBySebastiaanJanssen111</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-03-31T17:30:54</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (1) (1) (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[The problem then, of course, is that there&#39;s no nice UI to show people if something went wrong, so you&#39;re going to be stuck on either throwing a YSOD or sending out email notifications or something. <br />There&#39;s also the timing issue, if your migrations take a long time to execute, then that might cause your site to seem unresponsive, hard to tell if it&#39;s completely broken or still working on the updates.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@cultiv.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>