<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5ef0699-e07a-4e47-a5a5-3c0666d8e777" Alias="comment by Sebastiaan Janssen (2) (1)" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/commentBySebastiaanJanssen21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-12-20T14:32:26</CreateDate>
    <NodeName Default="comment by Sebastiaan Janssen (2) (1)" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Yes, I usually just harcode "/" in my XSLT files, but I figured it would be easier not to have to think about that. Also: the editor can make links to any page, including the homepage, which would lead to an unexpected link to "/home".]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>