<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e33a553-e0fe-4ea6-a7d0-316c74aeaf59" Alias="Comment by Bjarne Fyrstenborg (6) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentByBjarneFyrstenborg611</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-09-27T08:09:10</CreateDate>
    <NodeName Default="Comment by Bjarne Fyrstenborg (6) (1) (1)" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan<br /><br />Is it possible to modify the command the show asterisk when typing password?<br /><br />Furthermore it doesn&#39;t seem to be possible to copy/paste a password - however if typing wrong password or just empty and hitting enter the command seems to crash and you have to start over.<br /><br />It would be great if it just returned a message about wrong password :)<br /><br />Thanks,<br />Bjarne]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bjarne_fyrstenborg@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Bjarne Fyrstenborg]]></Value>
    </commenterName>
  </Properties>
</Content>