<?xml version="1.0" encoding="utf-8"?>
<Content Key="41b05f93-0381-45af-8fd2-84ded2040df9" Alias="comment by JT (1) (1)" Level="4">
  <Info>
    <Parent Key="5fc1d04e-b1da-4fd6-885a-cb824335b547">Using "/base" to create and consume a JSON string</Parent>
    <Path>/Site/Blog/UsingBaseToCreateAndConsumeAJSONString/commentByJT11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-12-22T07:27:35</CreateDate>
    <NodeName Default="comment by JT (1) (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[And thanks for posting this: despite the above nitpicks, you got me on the right track very quickly.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[james@telfer.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[JT]]></Value>
    </commenterName>
  </Properties>
</Content>