<?xml version="1.0" encoding="utf-8"?>
<Content Key="56046f83-c5ef-4f9c-889c-3104e14a2226" Alias="comment by Fetch" Level="4">
  <Info>
    <Parent Key="bf5a2a4e-05e1-4978-a4bd-7ba0d9e36e4f">Convert between VS2008 and 2010 projects, automatically</Parent>
    <Path>/Site/Blog/ConvertBetweenVS2008And2010ProjectsAutomatically/commentByFetch</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-09-14T20:22:14</CreateDate>
    <NodeName Default="comment by Fetch" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Nice job. Definitely works like a charm. I didn't trust it so read throught the bat files and downloaded the source code from programmer's heaven. (I work in a pretty secure network) Anyhow ~ it works right out of the box and converts from 2008 to 2010 and back no problem.<br /><br />Many thanks!<br /><br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[a_fetchko@yahoocom]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Fetch]]></Value>
    </commenterName>
  </Properties>
</Content>