<?xml version="1.0" encoding="utf-8"?>
<Content Key="1add255b-df28-44e0-aec2-654bfa6ad67e" Alias="comment by Yannick Smits" Level="4">
  <Info>
    <Parent Key="5fc1d04e-b1da-4fd6-885a-cb824335b547">Using "/base" to create and consume a JSON string</Parent>
    <Path>/Site/Blog/UsingBaseToCreateAndConsumeAJSONString/commentByYannickSmits</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-10-13T10:22:40</CreateDate>
    <NodeName Default="comment by Yannick Smits" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Mind sharing what your usage scenario was to use this technique?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[yannick@goyaweb.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Yannick Smits]]></Value>
    </commenterName>
  </Properties>
</Content>