<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ef84a14-5120-422c-a29e-6ec39b013853" Alias="Comment by  Pinal Bhatt [PBDesk.com]" Level="4">
  <Info>
    <Parent Key="89cac2c8-a5d1-42c8-84c9-25bf5344b85a">How to use ASP.NET Web API in Umbraco 4 &amp; .NET 4.0</Parent>
    <Path>/Site/Blog/HowToUseASPNETWebAPIInUmbraco4NET40/CommentByPinalBhattPBDeskcom</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-11-11T12:50:26</CreateDate>
    <NodeName Default="Comment by  Pinal Bhatt [PBDesk.com]" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan, This functionality works fine in umbraco 4.9 for me. But what about 4.10 after modifications in request pipelines.<br /><br />I tried to implement this in U4.10 but not working out.<br /><br />Thanks & Regards<br />Pinal Bhatt]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[pinalbhatt@yahoo.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[ Pinal Bhatt [PBDesk.com]]]></Value>
    </commenterName>
  </Properties>
</Content>