<?xml version="1.0" encoding="utf-8"?>
<Content Key="547d035f-7e0b-4502-b8fa-f039112c6029" Alias="Comment by Rasmus Eeg M&amp;#248;ller" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentByRasmusEegM248ller</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-06-10T11:57:14</CreateDate>
    <NodeName Default="Comment by Rasmus Eeg M&amp;#248;ller" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thank you for this post. Works wonders!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[rasmuseegmoeller@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Rasmus Eeg M&#248;ller]]></Value>
    </commenterName>
  </Properties>
</Content>