<?xml version="1.0" encoding="utf-8"?>
<Content Key="81c6d8c1-6371-4161-9911-b8ad31e61fab" Alias="Comment by Peter Duncanson" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentByPeterDuncanson</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2018-09-12T18:30:55</CreateDate>
    <NodeName Default="Comment by Peter Duncanson" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[For those looking for some examples of how to &quot;correctly&quot; create tables etc. without referrring to the DatabaseContext as per Shannon&#39;s first reply above check out this bit of code:<br /><br />https://github.com/umbraco/Umbraco-CMS/blob/1bb593d264a085f94a3ce3bd710392b350561430/src/Umbraco.Tests/Migrations/CreateTableMigrationTests.cs#L52]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[pete@offroadcode.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Peter Duncanson]]></Value>
    </commenterName>
  </Properties>
</Content>