<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b3a80ff-42d2-4d47-b5e0-a8934622fe45" Alias="Comment by jamie" Level="4">
  <Info>
    <Parent Key="61900023-d419-4bf7-ae38-f7cf3e046293">Making sure your Umbraco site performs on Azure</Parent>
    <Path>/Site/Blog/MakingSureYourUmbracoSitePerformsOnAzure/CommentByJamie</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-03-30T22:42:20</CreateDate>
    <NodeName Default="Comment by jamie" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I&#39;m using an IApplicationEventHandler to set up a couple of rules that clear my cache on umbraco.content.AfterClearDocumentCache and umbraco.content.AfterUpdateDocumentCache, it says that its obsolete but works well, is there a newer method I can use? I can&#39;t find it.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jsgilbert@live.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[jamie]]></Value>
    </commenterName>
  </Properties>
</Content>