<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba99a040-b638-47e0-b953-7991460b4e1e" Alias="Comment by Bjarne Fyrstenborg (2) (2)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentByBjarneFyrstenborg22</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-06-22T08:38:31</CreateDate>
    <NodeName Default="Comment by Bjarne Fyrstenborg (2) (2)" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan<br /><br />I wass trying running the batch file like you did in the video, but somehow Waasp is crashing. I get the following errors: https://bjarnefyrstenborg.tinytake.com/sf/NzYzNjY0XzM0NzA3OTM<br /><br />I don&#39;t see this path on my drive &#39;C:\Visual\Studio.Web\web.config&#39;]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bjarne_fyrstenborg@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Bjarne Fyrstenborg]]></Value>
    </commenterName>
  </Properties>
</Content>