<?xml version="1.0" encoding="utf-8"?>
<Content Key="7fa5f14e-c681-4f77-b78a-22dbd1443570" Alias="Comment by Sebastiaan Janssen (11) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentBySebastiaanJanssen1111</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-11-15T21:38:59</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (11) (1) (1)" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I would suggest giving all your developers access to the Umbraco Cloud dev environment, that is the only way you will be successful in your project. If you keep using uSync you will run into issues which UC will not be able to help you with. :-)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@cultiv.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>