<?xml version="1.0" encoding="utf-8"?>
<Content Key="28d52758-9400-4efc-950e-8790a6c068ee" Alias="Comment by Rob Denham" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByRobDenham</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-01-13T10:59:55</CreateDate>
    <NodeName Default="Comment by Rob Denham" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Best installation guide for umbraco yet! Cheers for this, definitely added to favourites for future reference.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[robdenham@yahoo.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Rob Denham]]></Value>
    </commenterName>
  </Properties>
</Content>