<?xml version="1.0" encoding="utf-8"?>
<Content Key="052109d4-a6d6-41a2-977a-7a60ef21aaab" Alias="comment by Raphael" Level="4">
  <Info>
    <Parent Key="bf5a2a4e-05e1-4978-a4bd-7ba0d9e36e4f">Convert between VS2008 and 2010 projects, automatically</Parent>
    <Path>/Site/Blog/ConvertBetweenVS2008And2010ProjectsAutomatically/commentByRaphael</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-04-21T08:33:53</CreateDate>
    <NodeName Default="comment by Raphael" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Works like a charm! Thanks a lot for saving me some tedious string replacing.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[galaktor@gmx.de]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Raphael]]></Value>
    </commenterName>
  </Properties>
</Content>