<?xml version="1.0" encoding="utf-8"?>
<Content Key="05a9c5bd-307d-4377-b553-676cf8a20423" Alias="comment by Pete Duncanson" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/commentByPeteDuncanson</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-12-20T11:59:13</CreateDate>
    <NodeName Default="comment by Pete Duncanson" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Nice to see someone else who is a fan of a seperate site settings node. This is a nice way around it, I normally have a home and then site settings on the same level after it, this way though like you say give greater control to what doc types you can create. Nice work Sebastiaan.<br /><br />Pete]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[pete@offroadcode.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Pete Duncanson]]></Value>
    </commenterName>
  </Properties>
</Content>