<?xml version="1.0" encoding="utf-8"?>
<Content Key="410c5c61-daa4-4b71-ab3d-b043833a70b9" Alias="Comment by Dave (2)" Level="4">
  <Info>
    <Parent Key="986ca3ab-f023-4de6-bf98-48ddd3227e20">Released: Contact Form Package</Parent>
    <Path>/Site/Blog/ReleasedContactFormPackage/CommentByDave2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-19T11:40:44</CreateDate>
    <NodeName Default="Comment by Dave (2)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[A good form - but I'm with Sebastian here - I need to incorporate it in my masterpage and get the same error - any progress on a solution?<br />Cheers<br />Dave]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[dave.pruce@fusioninternetsolutions.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Dave]]></Value>
    </commenterName>
  </Properties>
</Content>