<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbf3b6e7-ba65-458d-9f89-63c9d4c380b1" Alias="comment by Sander Houttekier" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/commentBySanderHouttekier</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-12-20T11:22:47</CreateDate>
    <NodeName Default="comment by Sander Houttekier" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[hey,<br /><br />i believe you will run into another problem when users start renaming nodes then?<br />If your client renames Home into Homepage your url rewrite won't work.<br /><br />could this be a solution to that :<br />umbracoUrlName...<br />adding a property to the home node with that, and set it to "Home" if the client would rename the node, the url it produces will stay  /home...<br />so your rewrite will keep working.<br /><br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sander.houttekier@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sander Houttekier]]></Value>
    </commenterName>
  </Properties>
</Content>