<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6406450-0cb7-49fa-b3af-4840a41bd52c" Alias="Comment by Sebastiaan Janssen (12) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentBySebastiaanJanssen1211</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-11-16T14:47:33</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (12) (1) (1)" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[We don&#39;t really support branching at the moment on Umbraco Cloud, so if you play with them then do please note that only the master branch will ever get deployed to your website on Umbraco Cloud. You can create all the branches you want but only the master branch changes will appear on UC.<br /><br />It&#39;s your .gitignore file, you can do with it whatever you want. I would strongly recommend you do not remove the ignores we&#39;ve given you by default though, they&#39;re all there for a reason.<br /><br />Lastly, instead of this back and forth with questions, I would recommend you start experimenting, you get a 14 day free trial, you can try everything out, break everything you want on a trial project, delete it, start over fresh etc. :-)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sj@umbraco.dk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>