<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d3283c6-04ae-4784-9497-0991a5089949" Alias="Comment by Charles Roper (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="30f2acbe-5336-477b-bd56-81bd54da1b05">Let's Encrypt, on Windows</Parent>
    <Path>/Site/Blog/LetsEncryptOnWindows/CommentByCharlesRoper111</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-04-26T18:13:41</CreateDate>
    <NodeName Default="Comment by Charles Roper (1) (1) (1)" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Okay, I worked out what to do for #1. For the certificate, I did this:<br /><br />&gt; Get-ACMECertificate cert1 -ExportCertificatePEM &quot;cert1.crt.pem&quot;<br /><br />For the key, this:<br /><br />&gt; Get-ACMECertificate cert1 -ExportKeyPEM cert1.key.pem<br /><br />I then copied and pasted the WHOLE content of those files up to my host.<br /><br />#3 also pretty easy to do (I think) using Invoke-WebRequest in PS.<br /><br />So that leaves #2. When the certificate expires, do I clear out the vault and start again, or can I make use of what I&#39;ve already got somehow (including the TXT DNS record)?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[charles@roper.im]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Charles Roper]]></Value>
    </commenterName>
  </Properties>
</Content>