<?xml version="1.0" encoding="utf-8"?>
<Content Key="02b5750c-7ae9-4ac1-bacc-e9a0ad97b9ba" Alias="Comment by Petr Šnobelt" Level="4">
  <Info>
    <Parent Key="e1e9248a-f078-4689-8720-ee5a5a47f5ca">Tip of the week: Clean those ASP.NET temp files</Parent>
    <Path>/Site/Blog/TipOfTheWeekCleanThoseASPNETTempFiles/CommentByPetrSnobelt</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-04-28T00:20:18</CreateDate>
    <NodeName Default="Comment by Petr Šnobelt" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thank you for sharing usefull information.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[petr.snobelt@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Petr Šnobelt]]></Value>
    </commenterName>
  </Properties>
</Content>