<?xml version="1.0" encoding="utf-8"?>
<Content Key="10880d7a-3023-4f32-b824-63d6c2733940" Alias="comment by Chris Koiak" Level="4">
  <Info>
    <Parent Key="f82bcc16-d998-4bce-b0ab-b4f0407bbf46">Umbraco MVP - Don't vote for me</Parent>
    <Path>/Site/Blog/UmbracoMVPDontVoteForMe/commentByChrisKoiak</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-02-05T17:02:42</CreateDate>
    <NodeName Default="comment by Chris Koiak" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[very funny. It's a great line up, everyone on that list deserves to be a MVP!<br /><br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[chriskoiak@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Chris Koiak]]></Value>
    </commenterName>
  </Properties>
</Content>