<?xml version="1.0" encoding="utf-8"?>
<Content Key="57de19d3-cee5-4684-a652-bd416660f313" Alias="Comment by Ajay (2)" Level="4">
  <Info>
    <Parent Key="580def6d-c4f7-41d3-9981-e05e4051881a">Screencast: Installing Umbraco</Parent>
    <Path>/Site/Blog/ScreencastInstallingUmbraco/CommentByAjay2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-07-19T15:44:58</CreateDate>
    <NodeName Default="Comment by Ajay (2)" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastian,<br />The video is excellent and comes across easy but for some strange reason I cannot get Umbraco working. I have copied the download  v4.8 from codeplex, extracted and pointed a new website (in IIS 7.0 running Windows 7) to the extracted folder but I am getting 'Page cannot be displayed error'. I have not changed anything on the Web.config file and I have not set anything on my local SQL Server. From this vague details, it would be good if you can help me resolve this issue since I do not want to give up using Umbraco althought I have been almost 2 days trying to set this up.<br />Thanks for your help.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[ajay_chatrath@tesco.net]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Ajay]]></Value>
    </commenterName>
  </Properties>
</Content>