<?xml version="1.0" encoding="utf-8"?>
<Content Key="b965eeae-6bb2-4f2d-a371-377f1bf0e9fb" Alias="Comment by Eric Schrepel" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByEricSchrepel</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-12-12T21:05:25</CreateDate>
    <NodeName Default="Comment by Eric Schrepel" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[When I do the above steps, I get stuck at trying to load the site the first time, with a YSOD with "access to the path d:\inetpub\___\app_data\TEMP\PluginCache is denied" error. I've set NETWORK SERVICE as a user with full rights to that inetpub\___ folder and all subfolders/files. Any thoughts? Using IIS 7/Win7. (Also, I notice that my other WebPI-installed Umbraco sites have an add'l user that has full rights; don't know if that makes a difference between that and the manual install.)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[eschrepel@nwcouncil.org]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Eric Schrepel]]></Value>
    </commenterName>
  </Properties>
</Content>