<?xml version="1.0" encoding="utf-8"?>
<Content Key="32903fdd-f043-4119-937d-b1bbfb36b402" Alias="Comment by John Walker" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentByJohnWalker</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-04-22T19:24:33</CreateDate>
    <NodeName Default="Comment by John Walker" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Just been looking at doing this myself, like GFoley83 approach to having the properties easier to access, code used:<br /><br />@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<br /><br />@{<br />    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();<br /><br />    var propertiesDict = new Dictionary<string, object>();<br />    Model.Content.Properties.ForEach(x => propertiesDict.Add(x.Alias, x.Value));<br />}<br /><br />@Html.Raw(serializer.Serialize(propertiesDict))]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[mail@john-walker.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[John Walker]]></Value>
    </commenterName>
  </Properties>
</Content>