<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d739137-21b7-42a8-a5b5-eb9d1902e732" Alias="Comment by Jes Mandrup" Level="4">
  <Info>
    <Parent Key="ce9858a0-7b07-4fe5-bfdc-cded00fbb212">So you want to secure your Umbraco site</Parent>
    <Path>/Site/Blog/SoYouWantToSecureYourUmbracoSite/CommentByJesMandrup</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-10-11T09:23:03</CreateDate>
    <NodeName Default="Comment by Jes Mandrup" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Great article. <br /><br />What are the options if we want to  to encrypt the database? In our case the members can post comments and we stored their phonenumbers.<br /><br /> ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jes.mandrup@kraftvaerk.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jes Mandrup]]></Value>
    </commenterName>
  </Properties>
</Content>