<?xml version="1.0" encoding="utf-8"?>
<Content Key="10e6fae7-05e0-462d-990f-5ab8eca16c72" Alias="comment by Jesper Ordrup" Level="4">
  <Info>
    <Parent Key="f82bcc16-d998-4bce-b0ab-b4f0407bbf46">Umbraco MVP - Don't vote for me</Parent>
    <Path>/Site/Blog/UmbracoMVPDontVoteForMe/commentByJesperOrdrup</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-02-06T20:18:01</CreateDate>
    <NodeName Default="comment by Jesper Ordrup" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks for the kind words Sebastiaan.<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jesper@jesper.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jesper Ordrup]]></Value>
    </commenterName>
  </Properties>
</Content>