<?xml version="1.0" encoding="utf-8"?>
<Content Key="29a4dceb-d405-4491-84bb-c47467324875" Alias="Comment by Niels Hartvig (2)" Level="4">
  <Info>
    <Parent Key="0920d9f0-19e4-4337-b89d-5e3a2aa55914">Umbraco developer productivity with uSiteBuilder</Parent>
    <Path>/Site/Blog/UmbracoDeveloperProductivityWithUSiteBuilder/CommentByNielsHartvig2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-09T09:53:52</CreateDate>
    <NodeName Default="Comment by Niels Hartvig (2)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Code First is all the rage these days. In the Umbraco world as well, just wait and see :-)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[nh@umbraco.dk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Niels Hartvig]]></Value>
    </commenterName>
  </Properties>
</Content>