<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee3fc954-1aae-4d99-81ae-574d5fb687b4" Alias="Comment by Damian (2)" Level="4">
  <Info>
    <Parent Key="0920d9f0-19e4-4337-b89d-5e3a2aa55914">Umbraco developer productivity with uSiteBuilder</Parent>
    <Path>/Site/Blog/UmbracoDeveloperProductivityWithUSiteBuilder/CommentByDamian2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-08-07T14:34:51</CreateDate>
    <NodeName Default="Comment by Damian (2)" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi,<br /><br />What are all the<br /><br id="mf77"><br /><br id="mf120"><br /><br />etc<br /><br />type codes in the code views?<br /><br />Is it just html thats not getting rendered correctly?<br /><br />Also - Are you still using uSitebuilder?<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[djomen.mobile@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Damian]]></Value>
    </commenterName>
  </Properties>
</Content>