<?xml version="1.0" encoding="utf-8"?>
<Content Key="94279e72-89ad-4c7b-9b53-fce25df73fcd" Alias="Comment by Markus The (2) (1) (1)" Level="4">
  <Info>
    <Parent Key="30f2acbe-5336-477b-bd56-81bd54da1b05">Let's Encrypt, on Windows</Parent>
    <Path>/Site/Blog/LetsEncryptOnWindows/CommentByMarkusThe211</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2015-12-07T16:27:24</CreateDate>
    <NodeName Default="Comment by Markus The (2) (1) (1)" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[That was it! Had to restart PowerShell IDE after unblocking everything.<br /><br />Now I get a complaint about the -FilePath parameter . Doh - I&#39;m using 0.7.1 which does not support that as you say, so I guess I&#39;ll have to build AcmeSharp from source.<br /><br />BTW: I&#39;ve been a big fan of Umbraco since early v4!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[markus@mobzystems.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Markus The]]></Value>
    </commenterName>
  </Properties>
</Content>