<?xml version="1.0" encoding="utf-8"?>
<Content Key="47ae65f1-b516-4793-8046-5a710568cbbf" Alias="Comment by Ameer" Level="4">
  <Info>
    <Parent Key="89cac2c8-a5d1-42c8-84c9-25bf5344b85a">How to use ASP.NET Web API in Umbraco 4 &amp; .NET 4.0</Parent>
    <Path>/Site/Blog/HowToUseASPNETWebAPIInUmbraco4NET40/CommentByAmeer</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-03-22T09:25:34</CreateDate>
    <NodeName Default="Comment by Ameer" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan <br />I'm using v6 , added the ~/api/ in the web.config, registered the route from https://gist.github.com/nul800sebastiaan/4755162 and created the apiController but It still not working and I get: The resource cannot be found, HTTP 404.<br />do you see that I missed something?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[ameer333@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Ameer]]></Value>
    </commenterName>
  </Properties>
</Content>