<?xml version="1.0" encoding="utf-8"?>
<Content Key="443fcde6-f453-43ee-aea6-f42335ef18c2" Alias="Comment by Craig Stevens (4) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentByCraigStevens41</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-04-16T16:49:47</CreateDate>
    <NodeName Default="Comment by Craig Stevens (4) (1)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Great article. Just tried this out and it works very well. One little wrinkle I just noticed was that, after setting up in VS, I created a site with a home page and some content. Everything uploaded except the content. So I deleted my local content and recreated it in the UaaS project&#39;s back office. Next time I ran the local VS project it downloaded everything I&#39;d built on the UaaS project. So what I&#39;m trying to say is that it appears you must create all content in UaaS and not in VS.  Does that sound right?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[craig@incrediblyuseful.net]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Craig Stevens]]></Value>
    </commenterName>
  </Properties>
</Content>