<?xml version="1.0" encoding="utf-8"?>
<Content Key="22b88d48-409a-4fb2-a0ac-22141edc5f14" Alias="Comment by Gaurav Kumar" Level="4">
  <Info>
    <Parent Key="8bfdd0da-09d9-41ba-848d-2f41dbc3e719">Styling the ASP.NET login controls</Parent>
    <Path>/Site/Blog/StylingTheASPNETLoginControls/CommentByGauravKumar</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-01-06T08:42:48</CreateDate>
    <NodeName Default="Comment by Gaurav Kumar" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi,<br />Your article are really awesome.actually i was in search for some good articles on Login Control in ASP.Net and finally i got one.<br />The most important is the simplicity which will be very helpful for the beginners.<br />I had found another nice post over the internet which have also a wonderful explanation on login control in asp.net, for more details of that post you may check out this link...<br /><br />http://www.mindstick.com/Articles/1bd75404-424e-4c84-ab55-28742117d6ad/?Login%20Control%20in%20ASP.Net<br /><br />Thanks Everyone!!<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[guggitanvi@yahoo.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Gaurav Kumar]]></Value>
    </commenterName>
  </Properties>
</Content>