<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2c99baa-af6c-4045-ac70-484ad1790b73" Alias="comment by Søren Sprogø (2)" Level="4">
  <Info>
    <Parent Key="23730856-5905-4b13-9659-eed5a781c7d9">Umbraco tip of the week: Redirects</Parent>
    <Path>/Site/Blog/UmbracoTipOfTheWeekRedirects/commentBySoerenSprogoe2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2009-06-29T09:27:14</CreateDate>
    <NodeName Default="comment by Søren Sprogø (2)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[What type of redirect does umbracoRedirect do?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[ssp@afdeling18.dk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Søren Sprogø]]></Value>
    </commenterName>
  </Properties>
</Content>