<?xml version="1.0" encoding="utf-8"?>
<Content Key="dae78b80-6917-473c-b21d-2b75273304c8" Alias="Comment by Sebastiaan Janssen (3) (1)" Level="4">
  <Info>
    <Parent Key="89cac2c8-a5d1-42c8-84c9-25bf5344b85a">How to use ASP.NET Web API in Umbraco 4 &amp; .NET 4.0</Parent>
    <Path>/Site/Blog/HowToUseASPNETWebAPIInUmbraco4NET40/CommentBySebastiaanJanssen31</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-11-11T14:00:13</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (3) (1)" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hmmm, I'm not sure you were intended to do that. Be advised that we're recommending the method mentioned in that issue instead, so you might want to rewrite it a tiny bit. :-)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>