<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb3ffcc3-8404-4f1f-bb1e-b40a174f965f" Alias="Comment by Jan Skovgaard" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByJanSkovgaard</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-07-18T18:50:46</CreateDate>
    <NodeName Default="Comment by Jan Skovgaard" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Seb<br /><br />Just want to give you #h5yr! for taking the time to write this guide - it's added to my favourites :-)<br /><br />/Jan]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jaskov@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jan Skovgaard]]></Value>
    </commenterName>
  </Properties>
</Content>