<?xml version="1.0" encoding="utf-8"?>
<Content Key="c74925b7-35fb-4435-98b6-22b89a8821b9" Alias="Comment by Kevin (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="61900023-d419-4bf7-ae38-f7cf3e046293">Making sure your Umbraco site performs on Azure</Parent>
    <Path>/Site/Blog/MakingSureYourUmbracoSitePerformsOnAzure/CommentByKevin111</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2017-04-19T20:27:11</CreateDate>
    <NodeName Default="Comment by Kevin (1) (1) (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Were you ever able to write to your Umbraco logs under App_Data? ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[kevin@kevinduong.net]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Kevin]]></Value>
    </commenterName>
  </Properties>
</Content>