<?xml version="1.0" encoding="utf-8"?>
<Content Key="455f49cc-67ee-42e6-b714-2753f0cc5064" Alias="Comment by Anders" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByAnders</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-02-09T12:33:45</CreateDate>
    <NodeName Default="Comment by Anders" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[This was a very good article. This was exactly what i was looking for, and it saved my a lot of trouble.. I have bookmarked it since im sure I will need it again :)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[a_nysom@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Anders]]></Value>
    </commenterName>
  </Properties>
</Content>