<?xml version="1.0" encoding="utf-8"?>
<Content Key="953c3c81-91df-4fdc-a718-d3dca57eb7e8" Alias="Comment by Will" Level="4">
  <Info>
    <Parent Key="51e61f86-3134-43eb-9518-f7d654e0115a">Making Contour even sexier</Parent>
    <Path>/Site/Blog/MakingContourEvenSexier/CommentByWill</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-04-23T05:49:01</CreateDate>
    <NodeName Default="Comment by Will" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks for the great plugin.<br />I'm using it for a project now.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[cultiv@m1m1k.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Will]]></Value>
    </commenterName>
  </Properties>
</Content>