<?xml version="1.0" encoding="utf-8"?>
<Content Key="58e08558-ffe7-4fc9-a25f-b12571eb630f" Alias="Comment by sajidriaz (2)" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentBySajidriaz2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-11-14T15:23:51</CreateDate>
    <NodeName Default="Comment by sajidriaz (2)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thank you!!!<br /><br />however, when I install CWS i get no xslt. any ideas]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sajid.riaz@hotmail.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[sajidriaz]]></Value>
    </commenterName>
  </Properties>
</Content>