<?xml version="1.0" encoding="utf-8"?>
<Content Key="8370a5b5-253b-410e-a0ef-7478e7a36bed" Alias="comment by Pinal Bhatt (1) (1)" Level="4">
  <Info>
    <Parent Key="fab8f78d-5d8e-4f5d-b50d-50d4ce5c6de0">How to use Razor in Umbraco</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbraco/commentByPinalBhatt11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-02-16T17:29:10</CreateDate>
    <NodeName Default="comment by Pinal Bhatt (1) (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[One more question:<br /><br />3. Will 4.6.2 support Macro parameters for razor?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[self@pbdesk.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Pinal Bhatt]]></Value>
    </commenterName>
  </Properties>
</Content>