<?xml version="1.0" encoding="utf-8"?>
<Content Key="3cde6c06-6666-4ec2-be97-fbf59177427b" Alias="Comment by JMK" Level="4">
  <Info>
    <Parent Key="aa926dd0-d71a-48f1-813a-362637c6f9aa">Moving from DateFolders to Umbraco's new ListView</Parent>
    <Path>/Site/Blog/MovingFromDateFoldersToUmbracosNewListView/CommentByJMK</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2014-01-27T21:33:28</CreateDate>
    <NodeName Default="Comment by JMK" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Sebastiaan - just curious as to what you would do for an events list, where there is a chance that an event might have the same name as a previous event (eg. an event that occurs annually). I'm currently using DateFolders for events, which provides a unique URL for annual events with the same name (as the date is different). I'm thinking I won't be able to use the ListView in this situation? Also - for the ListView it would be great if we could display other properties in the list (eg. blog post date) - that would be very useful in your example above. I'll try to find some time to see if I can play around and modify the datatype - not sure how easy/difficult that would be.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jono@muchmedia.com.au]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[JMK]]></Value>
    </commenterName>
  </Properties>
</Content>