<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d36f3a4-ece5-41be-b8ae-b223e3848f7b" Alias="Comment by Sebastiaan Janssen (4) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentBySebastiaanJanssen411</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-06-22T11:15:19</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (4) (1) (1)" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[For now that&#39;s up to you how you would do it. I think I would just make a 3rd folder in the site (next to x.Web and x.Core) and put all your .less and whatever files need building in gulp there. Then the gulp build output can go to the .Web directory.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[hello@sebastiaanjanssen.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>