<?xml version="1.0" encoding="utf-8"?>
<Content Key="efdd1e0e-51be-4feb-b085-ecaacbd095ec" Alias="comment by Sebastiaan Janssen" Level="4">
  <Info>
    <Parent Key="19b88e6d-7779-48d8-bba3-74c2b922c806">Umbraco - Object reference not set..</Parent>
    <Path>/Site/Blog/UmbracoObjectReferenceNotSet/commentBySebastiaanJanssen</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-03-09T08:52:51</CreateDate>
    <NodeName Default="comment by Sebastiaan Janssen" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks Lee, I should've mentioned in the post that a recycle of the application pool is the first thing I tried. Sometimes, IIS is just messing with you. However, seeing as though I got the SQL time-out first, it seemed unlikely that a recycle would fix it (and it didn't).<br /><br />But, absolutely, try a recycle first!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>