<?xml version="1.0" encoding="utf-8"?>
<Content Key="2108bd75-53bc-46c9-b3ff-b7284ebe5d13" Alias="Comment by Bjarne Fyrstenborg (3) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentByBjarneFyrstenborg311</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-06-22T13:20:06</CreateDate>
    <NodeName Default="Comment by Bjarne Fyrstenborg (3) (1) (1)" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Okay, when I create a folder structure /app/less at root an create a &quot;styles.less&quot; inside that folder, VS just create &quot;styles.less&quot; at root (without folder structure).<br /><br />If I manually paste a folder &quot;app&quot; with subfolders and files to root of solution and re-open VS, it doesn&#39;t seem to see the files.<br /><br />It seems the files have to be within a webapplication project or website?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bjarne_fyrstenborg@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Bjarne Fyrstenborg]]></Value>
    </commenterName>
  </Properties>
</Content>