<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0db5dd1-fd8c-488f-8033-8f41a476ad09" Alias="Comment by David Peck (2) (1)" Level="4">
  <Info>
    <Parent Key="ce9858a0-7b07-4fe5-bfdc-cded00fbb212">So you want to secure your Umbraco site</Parent>
    <Path>/Site/Blog/SoYouWantToSecureYourUmbracoSite/CommentByDavidPeck21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-07-21T13:26:34</CreateDate>
    <NodeName Default="Comment by David Peck (2) (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I already told you at CG but this is a really useful post. Thanks!<br /><br />I thought it worth mentioning my experience with some Safari quirks and CSP. If you&#39;re still running on http, then you&#39;ll need to specify https://... for any domains loaded over https. Also, Safari doesn&#39;t support nonce, and so you&#39;ll need to specify inline-script as a fallback (http://stackoverflow.com/questions/32788355/csp-nonce-ignored-by-safari)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[david@wired-digital.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[David Peck]]></Value>
    </commenterName>
  </Properties>
</Content>