<?xml version="1.0" encoding="utf-8"?>
<Content Key="9eb002bd-a22a-40f4-b843-ab3942f8d464" Alias="comment by Soeren Sprogoe" Level="4">
  <Info>
    <Parent Key="f40055a7-d573-4f60-9f67-0d58d2d75317">SEO optimizing in Umbraco</Parent>
    <Path>/Site/Blog/SEOOptimizingInUmbraco/commentBySoerenSprogoe</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-04-08T11:14:26</CreateDate>
    <NodeName Default="comment by Soeren Sprogoe" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hmmm, seems to me like you got some poor advise from Woorank.<br /><br />First of all, you won't rank better by implementing Sitemap.xml. You'll just be sure that the Google Bot can discover all pages on your site, which is usually not a problem for Umbraco based solutions. In fact, a lot of SEO'ers argue, that using Sitemap.xml is actually a bad thing...<br /><br />Secondly, Google is still testing microformats. And to my knowledge only in the US so far. But you may aswell implement it and play around with it, so your site is ready if/when they start rolling it out. Especially if you have some sort of product catalog.<br /><br />Geo tags is an okay thing to implement, and as you say it only takes seconds. It will make your site pop up on tha google map, if people google "umbraco seo den haag".<br /><br />Just my 2 cents on what your write, hope you can use it :-P]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[ssp@afdeling18.dk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Soeren Sprogoe]]></Value>
    </commenterName>
  </Properties>
</Content>