<?xml version="1.0" encoding="utf-8"?>
<Content Key="9086060e-91ec-4131-994b-3a790aead57b" Alias="Comment by Michiel" Level="4">
  <Info>
    <Parent Key="34e92740-8aaa-4d8e-85ac-5c9ddbf1a54d">From 0 to Umbraco site in 60 seconds</Parent>
    <Path>/Site/Blog/From0ToUmbracoSiteIn60Seconds/CommentByMichiel</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-09-24T12:17:37</CreateDate>
    <NodeName Default="Comment by Michiel" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Any change you can make a video like this on how to deploy this site to a server? Or a site with a MS SQL database?<br /><br />Or maybe point to a link for best practice?<br />Cause I like to know if I'm doing it the right way by just copying everything to the server.<br /><br />Thanks!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[michiel@bluebased.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Michiel]]></Value>
    </commenterName>
  </Properties>
</Content>