<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad4da104-c918-4581-95db-e739dbbf4ac9" Alias="Comment by Crispin Wright" Level="4">
  <Info>
    <Parent Key="30f2acbe-5336-477b-bd56-81bd54da1b05">Let's Encrypt, on Windows</Parent>
    <Path>/Site/Blog/LetsEncryptOnWindows/CommentByCrispinWright</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-07-24T22:59:01</CreateDate>
    <NodeName Default="Comment by Crispin Wright" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks for doing all the heavy lifting here Sebastiaan, i&#39;l be putting all this together over the next few days. shout if you&#39;re ever in new zealand, i&#39;ll buy you a beer.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[crispin.wright@iag.co.nz]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Crispin Wright]]></Value>
    </commenterName>
  </Properties>
</Content>