<?xml version="1.0" encoding="utf-8"?>
<Content Key="6897c311-a4d1-4885-b2d6-d37be360158b" Alias="Comment by erdem" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByErdem</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-01-16T20:27:48</CreateDate>
    <NodeName Default="Comment by erdem" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[at database configuration it says "database connection init failed"<br /><br />pls help!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[erdemvarer@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[erdem]]></Value>
    </commenterName>
  </Properties>
</Content>