<?xml version="1.0" encoding="utf-8"?>
<Content Key="eab8a65b-bd16-4a80-9f97-b42419873abb" Alias="Comment by Pinal Bhatt [PBDesk.com]  (2) (1)" Level="4">
  <Info>
    <Parent Key="89cac2c8-a5d1-42c8-84c9-25bf5344b85a">How to use ASP.NET Web API in Umbraco 4 &amp; .NET 4.0</Parent>
    <Path>/Site/Blog/HowToUseASPNETWebAPIInUmbraco4NET40/CommentByPinalBhattPBDeskcom21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-11-11T13:58:47</CreateDate>
    <NodeName Default="Comment by Pinal Bhatt [PBDesk.com]  (2) (1)" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Was also able to run this by overriding OnApplicationStarted in my new custom global.asax after inheriting it from Umbraco.Web.UmbracoApplication instead of using System.Web.PreApplicationStartMethod.<br /><br />Once again thanks a lot for this wonderful concept.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[pinalbhatt@yahoo.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Pinal Bhatt [PBDesk.com] ]]></Value>
    </commenterName>
  </Properties>
</Content>