<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a93f117-502f-4e9d-b18a-e727d6ea9a23" Alias="Comment by luis b" Level="4">
  <Info>
    <Parent Key="15cab22c-44ce-4947-bcec-ffd450bf1de2">An Umbraco database upgrade tip from the trenches</Parent>
    <Path>/Site/Blog/AnUmbracoDatabaseUpgradeTipFromTheTrenches/CommentByLuisB</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2018-03-27T07:31:22</CreateDate>
    <NodeName Default="Comment by luis b" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[hey, this sounds like a great idea. I have been trying to upgrade from 6.1.5 to 7.8 for many days with no luck. I have tried this, but I get the error when I try to log in backoffice: &quot;no url found for api name legacytreejs&quot;, I&#39;ve searched in google with no luck, any idea on this?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[lbricenob@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[luis b]]></Value>
    </commenterName>
  </Properties>
</Content>