<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2413820-2b83-4c08-abe5-a33672a7c2ee" Alias="Comment by Tom Fulton" Level="4">
  <Info>
    <Parent Key="3a288864-9cc4-4a1d-a1c0-e5d16eb81582">Umbraco tip of the week: give your editors less choice</Parent>
    <Path>/Site/Blog/UmbracoTipOfTheWeekGiveYourEditorsLessChoice/CommentByTomFulton</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2014-01-31T18:13:33</CreateDate>
    <NodeName Default="Comment by Tom Fulton" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Awesome points!  I love the idea of this, but I always forget to do it in practice (or I'm just lazy).  I wonder if there could be a more automatic/integrated way to achieve this, maybe by saying "This document type can only be created x times".  Been thinking about a provider model for Structure Extensions to achieve more complex rules like this.  Hmm!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[me@tomfulton.net]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Tom Fulton]]></Value>
    </commenterName>
  </Properties>
</Content>