<?xml version="1.0" encoding="utf-8"?>
<Content Key="b100051e-94e3-4918-9c3d-78cd2feb287a" Alias="Comment by Sebastiaan Janssen (2) (1)" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentBySebastiaanJanssen21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-09-22T13:53:23</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (2) (1)" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hey Bob, you got it almost right, just move the serializer outside of the foreach.<br /><br />Anyway, if you only need to have a list of a single property, you could easily just.. put them in a list! Like so:<br /><br />@{<br />var propList = new List<string>();<br />foreach (var item in Model.Children.Where("umbracoNaviHide != true"))<br />{<br />propList.Add(item.MyProperty);<br />}<br />var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();<br />@Html.Raw(serializer.Serialize(propList));<br />}<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>