<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d274565-2c57-4f51-8512-c35b94151352" Alias="Comment by Aaron Barnett" Level="4">
  <Info>
    <Parent Key="30f2acbe-5336-477b-bd56-81bd54da1b05">Let's Encrypt, on Windows</Parent>
    <Path>/Site/Blog/LetsEncryptOnWindows/CommentByAaronBarnett</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-04-15T14:28:03</CreateDate>
    <NodeName Default="Comment by Aaron Barnett" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[DOESN&#39;T WORK - LATEST VERSION.<br />v0.8.0.0 +<br /><br />First - Great post. Thanks!<br /><br />Second -<br />The latest version  is completely different (the acme commands are different, you don&#39;t specify the vault location, etc)<br /><br />I&#39;ve updated the script for the latest version:<br />https://gist.github.com/aarbar/d5685ddc3226bb287e89e7ac7b4d6219]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[aaron_000_@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Aaron Barnett]]></Value>
    </commenterName>
  </Properties>
</Content>