<?xml version="1.0" encoding="utf-8"?>
<Content Key="952d56b9-2818-4e71-a84b-02fb33fae233" Alias="Comment by Sebastiaan Janssen (2) (2)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentBySebastiaanJanssen22</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-04-16T18:21:44</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (2) (2)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I think you might&#39;ve missed a memo:<br />- Git deploy to UaaS will deploy all your site structure<br />- You can deploy your content from the backoffice in Umbraco, right-click on any content to deploy it or click the up arrow next to &quot;Save and publish&quot; to get to the &quot;Deploy&quot; button.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[hello@sebastiaanjanssen.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>