<?xml version="1.0" encoding="utf-8"?>
<Content Key="b69d0994-4aed-4a82-995f-70d35301b892" Alias="Comment by Sebastiaan Janssen (1) (1)" Level="4">
  <Info>
    <Parent Key="0920d9f0-19e4-4337-b89d-5e3a2aa55914">Umbraco developer productivity with uSiteBuilder</Parent>
    <Path>/Site/Blog/UmbracoDeveloperProductivityWithUSiteBuilder/CommentBySebastiaanJanssen11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-09T10:11:00</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (1) (1)" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Spot on Simon!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>