<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0725981-3faa-480d-9def-0917f353573d" Alias="comment by Nate" Level="4">
  <Info>
    <Parent Key="fab8f78d-5d8e-4f5d-b50d-50d4ce5c6de0">How to use Razor in Umbraco</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbraco/commentByNate</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-02-16T19:21:09</CreateDate>
    <NodeName Default="comment by Nate" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Question 1)  Is it possible to just use linq instead of that tiny XML parser to get that crop out?<br /><br />Question 2)  How is your visual studio project setup to do this kind of work?<br /><br />Thanks! Great stuff!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[npearson99@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Nate]]></Value>
    </commenterName>
  </Properties>
</Content>