<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b7ef630-c57e-46f7-b32e-90469ba4a9d7" Alias="Comment by Sebastiaan Janssen" Level="4">
  <Info>
    <Parent Key="3a288864-9cc4-4a1d-a1c0-e5d16eb81582">Umbraco tip of the week: give your editors less choice</Parent>
    <Path>/Site/Blog/UmbracoTipOfTheWeekGiveYourEditorsLessChoice/CommentBySebastiaanJanssen</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2014-01-31T22:35:21</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@Tom Well, for lazy people that would be nice, but wouldn't you be just as lazy filling in that setting on the document type in the first place? ;)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@cultiv.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>