<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7b3c5fc-7e0f-4559-b223-4b3cc743bed9" Alias="Comment by asdasd" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentByAsdasd</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2017-02-21T18:10:29</CreateDate>
    <NodeName Default="Comment by asdasd" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[&lt;script&gt;alert(&#39;hi&#39;)&lt;/script&gt;]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[asdasdas@asdasd.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[asdasd]]></Value>
    </commenterName>
  </Properties>
</Content>