<?xml version="1.0" encoding="utf-8"?>
<Content Key="657ad24e-5663-407a-ac18-0ecf0c53b2e2" Alias="Comment by Sebastiaan Janssen (2) (2)" Level="4">
  <Info>
    <Parent Key="30f2acbe-5336-477b-bd56-81bd54da1b05">Let's Encrypt, on Windows</Parent>
    <Path>/Site/Blog/LetsEncryptOnWindows/CommentBySebastiaanJanssen22</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2015-12-07T12:42:27</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (2) (2)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@Jeffrey I don&#39;t know, I don&#39;t see why it shouldn&#39;t be available for everybody? The certificate I got was for a .nl domain and is accepted by the browser, so shouldn&#39;t be a problem!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@cultiv.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>