<?xml version="1.0" encoding="utf-8"?>
<Content Key="dffc3901-3cbb-48a7-9ddf-248e4a6210b4" Alias="Comment by Sebastiaan Janssen (2)" Level="4">
  <Info>
    <Parent Key="701a6d2c-a1aa-42fa-966f-1a57a270ef5d">Released: Media cache package</Parent>
    <Path>/Site/Blog/ReleasedMediaCachePackage/CommentBySebastiaanJanssen2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-06-24T17:30:53</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (2)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[test]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@umbraco.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>