<?xml version="1.0" encoding="utf-8"?>
<Content Key="a117728c-4ae2-4a0f-a8ae-969311d1a0f4" Alias="Comment by Bjarne Fyrstenborg (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentByBjarneFyrstenborg111</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2017-09-19T08:53:22</CreateDate>
    <NodeName Default="Comment by Bjarne Fyrstenborg (1) (1) (1)" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan<br /><br />What I meant was that it is not just limited to use in packages, but also for creating a table in any project, if it doesn&#39;t exists?<br /><br />I my case I just needed to extend uCommerce with a custom Act Target, so I needed to create a custom table for this and insert a few entries in two existing core uCommerce tables.<br /><br />I don&#39;t need to deploy changes between environments, but just ensure these data are created on other environments and if other coworkers are cloning the project to local.<br /><br />All this is working and running in ApplicationStarted event, but I guess I can remove this logic to a Migrations class in the Up method and start with version 1.0.0 for the Migration attribute :)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bjarne_fyrstenborg@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Bjarne Fyrstenborg]]></Value>
    </commenterName>
  </Properties>
</Content>