<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d0e67a8-5162-4559-8649-2ac2a7300a2f" Alias="comment by Nate" Level="4">
  <Info>
    <Parent Key="1d3433cb-236a-47dc-922b-4c5fb0b26942">How to use Razor in Umbraco - Paging</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbracoPaging/commentByNate</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-02-17T22:03:31</CreateDate>
    <NodeName Default="comment by Nate" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Nice stuff!  Keep them coming!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[npearson99@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Nate]]></Value>
    </commenterName>
  </Properties>
</Content>