<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce8f4ef8-6a5a-40fe-8fbc-ee93d56b8479" Alias="Comment by Bjarne Fyrstenborg (5) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentByBjarneFyrstenborg511</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-06-23T10:22:56</CreateDate>
    <NodeName Default="Comment by Bjarne Fyrstenborg (5) (1) (1)" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Sure, I have created a topic on Our here: https://goo.gl/nFtwAk]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bjarne_fyrstenborg@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Bjarne Fyrstenborg]]></Value>
    </commenterName>
  </Properties>
</Content>