<?xml version="1.0" encoding="utf-8"?>
<Content Key="df81d611-c678-46ae-96df-6f296e3b53a8" Alias="Comment by Sebastiaan Janssen (2)" Level="4">
  <Info>
    <Parent Key="dc3d7a4e-076b-4591-ae33-360e41dd02a8">Easily debug your custom Umbraco user controls in Visual Studio</Parent>
    <Path>/Site/Blog/EasilyDebugYourCustomUmbracoUserControlsInVisualStudio/CommentBySebastiaanJanssen2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-09-13T11:40:04</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (2)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Still works, although I've now switched to using IIS Express instead of IIS, saves a lot of time setting up IIS, hostnames and starting VS as administrator.<br /><br />I'm not too sure about the masterpages, you can create them in VS, but they still need some umbraco directives, so I just create them in the backoffice. That way I can also immediately assign masterpages to document types.<br />That said, I've been using uSiteBuilder for that before, that makes it much more VS centric.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>