<?xml version="1.0" encoding="utf-8"?>
<Content Key="21b980ce-c3b7-47f4-a22e-21c714805696" Alias="Comment by Bille" Level="4">
  <Info>
    <Parent Key="ce9858a0-7b07-4fe5-bfdc-cded00fbb212">So you want to secure your Umbraco site</Parent>
    <Path>/Site/Blog/SoYouWantToSecureYourUmbracoSite/CommentByBille</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2017-07-06T12:48:16</CreateDate>
    <NodeName Default="Comment by Bille" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Really, really awesome post. Thanks.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[pb@elitenet.dk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Bille]]></Value>
    </commenterName>
  </Properties>
</Content>