<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e8b399a-5817-49ae-931a-bdc486db1266" Alias="comment by Chris Houston" Level="4">
  <Info>
    <Parent Key="f82bcc16-d998-4bce-b0ab-b4f0407bbf46">Umbraco MVP - Don't vote for me</Parent>
    <Path>/Site/Blog/UmbracoMVPDontVoteForMe/commentByChrisHouston</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-02-05T17:05:44</CreateDate>
    <NodeName Default="comment by Chris Houston" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan,<br /><br />Thank you for your kind words!<br /><br />I had no idea I was the first to reply to your first Umbraco post :) Glad I was able to help you become so active in the Umbraco Community yourself :)<br /><br />Cheers,<br /><br />Chris]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[chouston@vizioz.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Chris Houston]]></Value>
    </commenterName>
  </Properties>
</Content>