<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9cb6e82-3318-4aa3-8fcc-dd4078858357" Alias="Comment by Anthony Candaele (1) (1)" Level="4">
  <Info>
    <Parent Key="1d3433cb-236a-47dc-922b-4c5fb0b26942">How to use Razor in Umbraco - Paging</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbracoPaging/CommentByAnthonyCandaele11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-10T14:18:23</CreateDate>
    <NodeName Default="Comment by Anthony Candaele (1) (1)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Oh, and where can I find this Umbraco 4.7.1 version? I checked Codeplex but there I only find Umbraco 4.7.0]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[anthony.candaele@webmove.be]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Anthony Candaele]]></Value>
    </commenterName>
  </Properties>
</Content>