<?xml version="1.0" encoding="utf-8"?>
<Content Key="c01735b6-bd8d-4f90-b661-37bf691d324d" Alias="Comment by Sebastiaan Janssen (5) (1)" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentBySebastiaanJanssen51</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-09-22T16:47:03</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (5) (1)" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Your first attempt did just that, all of the properties were listed as you were for-eaching through the children..]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>