<?xml version="1.0" encoding="utf-8"?>
<Content Key="e22067fb-3216-4ee5-838b-05cd5630c849" Alias="Comment by Luis M (2)" Level="4">
  <Info>
    <Parent Key="986ca3ab-f023-4de6-bf98-48ddd3227e20">Released: Contact Form Package</Parent>
    <Path>/Site/Blog/ReleasedContactFormPackage/CommentByLuisM2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-10-12T01:35:06</CreateDate>
    <NodeName Default="Comment by Luis M (2)" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi, could you me why umbraco shows this message in my email when send a contact form:<br />"the form Form was submitted, this is the list of values it contained, you can turn this email off under workflows in Umbraco Contour<br />Name:<br />Empty due to Umbraco Contour in trial mode<br />Email:<br />Empty due to Umbraco Contour in trial mode<br />Phone:<br />Empty due to Umbraco Contour in trial mode<br />Comment:<br />Empty due to Umbraco Contour in trial mode<br />Join Email List:"<br />Umbraco is very well, but this problem not understand. Thanks for all]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[lmuoz@pictoric.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Luis M]]></Value>
    </commenterName>
  </Properties>
</Content>