<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4d25fe8-7cbd-4c2d-9978-d7d006400a02" Alias="Comment by Sebastiaan Janssen (1) (1)" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentBySebastiaanJanssen11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-11-14T17:41:31</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (1) (1)" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@Daniel & Hadeeel sorry for the late reply, it might still help others:<br /><br />@Daniel: Sounds like a permissions issue, be sure to check that the application pool user has permissions to modify. When the App Pool user is ApplicationPoolIdentity, I use the IIS_IUSRS group and give that permissions to modify everything in my "dev" folder and below it.<br /><br />@Hadeeel: In the hosts files (as detailed above "The hosts file can be found in: C:\Windows\System32\drivers\etc")<br /><br />@sajidriaz: I am guessing that the XSLT folder is not writable at the moment (see my reply above to Daniel for more info). See if you can create a new XSLT file in the developers section. If that does work then I am not sure what's going on. ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>