<?xml version="1.0" encoding="utf-8"?>
<Content Key="cae82918-d396-4037-ae96-fbfe23d1009d" Alias="Comment by Shankar" Level="4">
  <Info>
    <Parent Key="bf5a2a4e-05e1-4978-a4bd-7ba0d9e36e4f">Convert between VS2008 and 2010 projects, automatically</Parent>
    <Path>/Site/Blog/ConvertBetweenVS2008And2010ProjectsAutomatically/CommentByShankar</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-10-09T07:22:39</CreateDate>
    <NodeName Default="Comment by Shankar" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[for /f "tokens=*" %%a IN ('dir /b /s *.sln') do "C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\devenv.exe" /upgrade %%a<br /><br /><br />instead of using SSE executable ..directly we can use devenv executable with upgrade option to upgrade your projects from VS2008 to VS 2010.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[shankar.arul@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Shankar]]></Value>
    </commenterName>
  </Properties>
</Content>