<?xml version="1.0" encoding="utf-8"?>
<Content Key="692898c2-22bf-415f-8d42-36654814d47e" Alias="Comment by Jeffrey Schoemaker (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="ce9858a0-7b07-4fe5-bfdc-cded00fbb212">So you want to secure your Umbraco site</Parent>
    <Path>/Site/Blog/SoYouWantToSecureYourUmbracoSite/CommentByJeffreySchoemaker111</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-05-11T07:24:37</CreateDate>
    <NodeName Default="Comment by Jeffrey Schoemaker (1) (1) (1)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[One more thing that we discovered in our projects; In MVC5 the framework is adding the X-Frame-Options-header itself when you include an anti-forgery-token. During our security tests we discovered that sometimes there were headers with the content of SAMEORIGIN, SAMEORIGIN, SAMEORIGIN, SAMEORIGIN. This was because the header was once inserted by the server (through the configuration mentioned in the blog) and three times due to three forms with antiforgerytoken.<br /><br />Every browser will work correctly with this setting but our security tests failed. <br /><br />This issue can be fixed by adding &#39;AntiForgeryConfig.SuppressXFrameOptionsHeader = true;&#39; to your Global.asax.cx. More info on: https://www.quppa.net/blog/2013/11/28/html-antiforgerytoken-sets-an-x-frame-options-header-with-the-value-sameorigin/<br /><br />Cheers!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jeffrey.schoemaker@perplex.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jeffrey Schoemaker]]></Value>
    </commenterName>
  </Properties>
</Content>