<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e680f23-596f-44b5-bb6f-ca61e0efba55" Alias="comment by Lee" Level="4">
  <Info>
    <Parent Key="19b88e6d-7779-48d8-bba3-74c2b922c806">Umbraco - Object reference not set..</Parent>
    <Path>/Site/Blog/UmbracoObjectReferenceNotSet/commentByLee</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-03-09T07:23:56</CreateDate>
    <NodeName Default="comment by Lee" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[We had this problem as well a few months back, another quick fix is to either touch the web.config so the application restarts/rebuilds and it will disapear (Or more long winded restart IIS)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[lee@n3o.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Lee]]></Value>
    </commenterName>
  </Properties>
</Content>