<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcaebd3d-d38c-42f8-87b1-646975a72d7a" Alias="Comment by Bjarne Fyrstenborg (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentByBjarneFyrstenborg111</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-06-22T10:36:21</CreateDate>
    <NodeName Default="Comment by Bjarne Fyrstenborg (1) (1) (1)" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Yes, I found out that the issue was regarding spaces in path.<br /><br />When having an existing project on BitBucket with basic stuff like gulp tasks and other stuff, how to include it in this project? I can manually copy/paste the files, but is there and easier way to do it?<br /><br />Usually we just fork the &quot;starter project&quot; and then clone the project locally and start working from that. I wonder how to do this in a UaaS project?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bjarne_fyrstenborg@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Bjarne Fyrstenborg]]></Value>
    </commenterName>
  </Properties>
</Content>