<?xml version="1.0" encoding="utf-8"?>
<Content Key="0af3d4f7-9423-4756-b6bd-6b0a94a80978" Alias="Comment by sanyam" Level="4">
  <Info>
    <Parent Key="bf5a2a4e-05e1-4978-a4bd-7ba0d9e36e4f">Convert between VS2008 and 2010 projects, automatically</Parent>
    <Path>/Site/Blog/ConvertBetweenVS2008And2010ProjectsAutomatically/CommentBySanyam</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-05-04T06:10:03</CreateDate>
    <NodeName Default="Comment by sanyam" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[can you please send me the instructions that how can i convert my project developed in 2010 to 2008 using your software.<br />thanks.....]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sanyam.jain1108@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[sanyam]]></Value>
    </commenterName>
  </Properties>
</Content>