<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c6428ce-4b9e-4237-a640-cb28bf87c18e" Alias="comment by Chris Houston" Level="4">
  <Info>
    <Parent Key="2e1256b2-4bf6-4c59-8b25-f3615bc1206b">Umbraco tip of the week - security on your live servers</Parent>
    <Path>/Site/Blog/UmbracoTipOfTheWeekSecurityOnYourLiveServers/commentByChrisHouston</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2009-07-16T10:32:32</CreateDate>
    <NodeName Default="comment by Chris Houston" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan,<br /><br />An interesting blog post, Umbraco security is something I was thinking about looking into further as it gains in popularity it will only be a matter of time when someone tries to hack it, and if there is a weekness in the core it is likely to exist for all installations.<br /><br />A little side note, as your website is currently all in English you might like to change your date format to display in English also, it seems to be the only part of your site not in English :)<br /><br />Cheers,<br /><br />Chris]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[chouston@vizioz.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Chris Houston]]></Value>
    </commenterName>
  </Properties>
</Content>