<?xml version="1.0" encoding="utf-8"?>
<Content Key="953e9274-b8c0-4469-b0a5-2366d056ad54" Alias="Comment by Ali T (2) (1)" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentByAliT21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-03-30T10:59:04</CreateDate>
    <NodeName Default="Comment by Ali T (2) (1)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Really great and useful post! Thank you Seb !<br />Just a quick question, when Umbraco runs your custom migration, does it load Umbraco Upgrade page? or it does it behind the scene ?<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[etaheri@yahoo.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Ali T]]></Value>
    </commenterName>
  </Properties>
</Content>