<?xml version="1.0" encoding="utf-8"?>
<Content Key="80eac637-e25e-4961-bbc8-3343ab7f6531" Alias="Comment by Jeffrey" Level="4">
  <Info>
    <Parent Key="30f2acbe-5336-477b-bd56-81bd54da1b05">Let's Encrypt, on Windows</Parent>
    <Path>/Site/Blog/LetsEncryptOnWindows/CommentByJeffrey</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2015-12-07T16:15:14</CreateDate>
    <NodeName Default="Comment by Jeffrey" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@Sebastiaan: Aah, I attempted to do that when the service was still in the grace period but now it all works indeed. Let&#39;s start testing :)!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jeffrey.schoemaker@perplex.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jeffrey]]></Value>
    </commenterName>
  </Properties>
</Content>