<?xml version="1.0" encoding="utf-8"?>
<Content Key="4db6cc1e-a00e-4eb8-aef1-84083fcfa47a" Alias="Comment by Kenneth Solberg" Level="4">
  <Info>
    <Parent Key="23730856-5905-4b13-9659-eed5a781c7d9">Umbraco tip of the week: Redirects</Parent>
    <Path>/Site/Blog/UmbracoTipOfTheWeekRedirects/CommentByKennethSolberg</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-12-21T15:24:47</CreateDate>
    <NodeName Default="Comment by Kenneth Solberg" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[This technique is quite handy in multilingual sites as well where you have your usual language spesific branches such as /de, /en, /fr etc. and use the root node with internalRediredtId to point to the default language. Removes the need for a global landing page.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[kenneth.solberg@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Kenneth Solberg]]></Value>
    </commenterName>
  </Properties>
</Content>