<?xml version="1.0" encoding="utf-8"?>
<Content Key="03f804ac-ba46-4c20-ac51-82ed1961628f" Alias="comment by Jan Skovgaard" Level="4">
  <Info>
    <Parent Key="8bfdd0da-09d9-41ba-848d-2f41dbc3e719">Styling the ASP.NET login controls</Parent>
    <Path>/Site/Blog/StylingTheASPNETLoginControls/commentByJanSkovgaard</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2009-11-02T19:40:42</CreateDate>
    <NodeName Default="comment by Jan Skovgaard" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Peter<br /><br />Would you care to let us know how you got the control adapters working with Umbraco? Eventually in a blog-post if possible?<br /><br />Cheers!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jaskov@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jan Skovgaard]]></Value>
    </commenterName>
  </Properties>
</Content>