<?xml version="1.0" encoding="utf-8"?>
<Content Key="afaa3ab2-e171-4c4f-b852-59100e38ec35" Alias="Comment by Christoph" Level="4">
  <Info>
    <Parent Key="378c2f56-de4b-4087-ad6e-fd275656975a">Dropbox as a Git central repository</Parent>
    <Path>/Site/Blog/DropboxAsAGitCentralRepository/CommentByChristoph</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-08-10T21:37:50</CreateDate>
    <NodeName Default="Comment by Christoph" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I assume this idea would also work with other file syncing solutions, like Live Mesh or Sugarsync.<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[cc_nelson@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Christoph]]></Value>
    </commenterName>
  </Properties>
</Content>