<?xml version="1.0" encoding="utf-8"?>
<Content Key="07a8a12d-2f64-409a-96ec-8b6bace345f0" Alias="Comment by John Blair" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByJohnBlair</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-02-11T16:31:32</CreateDate>
    <NodeName Default="Comment by John Blair" />
    <SortOrder>31</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Oops...the installer can't connect to the repository<br /><br />Unbelievable how many people have encountered this trying to install a starter and no reliable fix from umbraco.<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[john_blair@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[John Blair]]></Value>
    </commenterName>
  </Properties>
</Content>