<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3467e32-528e-435c-b6da-dc0d9f841805" Alias="comment by Jeroen Breuer" Level="4">
  <Info>
    <Parent Key="51e61f86-3134-43eb-9518-f7d654e0115a">Making Contour even sexier</Parent>
    <Path>/Site/Blog/MakingContourEvenSexier/commentByJeroenBreuer</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-11-19T14:29:50</CreateDate>
    <NodeName Default="comment by Jeroen Breuer" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Very interesting! I've never used contour before because I'd like to have full control over the form styling. I've always build forms with a usercontrol in combination with my own package (http://our.umbraco.org/projects/backoffice-extensions/digibiz-email-form-with-tinymce). Now this seems like a nice alternative :).<br /><br />Jeroen]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jbreuer@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jeroen Breuer]]></Value>
    </commenterName>
  </Properties>
</Content>