<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a3ce1dc-9374-4f12-823a-82e630cdd239" Alias="Comment by Jeffrey Schoemaker (2) (1)" Level="4">
  <Info>
    <Parent Key="ce9858a0-7b07-4fe5-bfdc-cded00fbb212">So you want to secure your Umbraco site</Parent>
    <Path>/Site/Blog/SoYouWantToSecureYourUmbracoSite/CommentByJeffreySchoemaker21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-04-01T08:26:49</CreateDate>
    <NodeName Default="Comment by Jeffrey Schoemaker (2) (1)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan, great stuff and I think it sums up the basic checks you should do pretty good, thanks for writing it down!<br /><br />Please be aware that including &quot;includeSubDomains&quot; in your HSTS-header can do some serious harm if you&#39;re working for a company that isn&#39;t aware if there exists any other subdomains that you don&#39;t control or run on https! These sites will immediately break when adding this part of the header. ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jeffrey.schoemaker@perplex.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jeffrey Schoemaker]]></Value>
    </commenterName>
  </Properties>
</Content>