<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3d055ff-8b60-46cd-8c7c-f881b5c9e54e" Alias="Comment by Sebastiaan Janssen (2) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentBySebastiaanJanssen211</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-04-18T14:55:33</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (2) (1) (1)" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I do a lot of command line yes, I love Git Extensions, but other people tell me it&#39;s too geeky. :-) I guess I&#39;ve been using it for so long that I am stuck with this now and have a hard time using anything else. ;)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[hello@sebastiaanjanssen.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>