<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a339b7b-078b-4650-a428-7632bc2c63e6" Alias="Comment by Sebastiaan Janssen (2) (1)" Level="4">
  <Info>
    <Parent Key="1d3433cb-236a-47dc-922b-4c5fb0b26942">How to use Razor in Umbraco - Paging</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbracoPaging/CommentBySebastiaanJanssen21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-08-09T10:49:10</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (2) (1)" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I could've named that variable better, but this is not the CurrentPage as you know it from XSLT. It's the curent page number (which is set as: HttpContext.Current.Request.QueryString["page"]). ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>