<?xml version="1.0" encoding="utf-8"?>
<Content Key="2cd71c28-2f33-4fe3-a4be-835d56ac7c65" Alias="comment by Hendy" Level="4">
  <Info>
    <Parent Key="fab8f78d-5d8e-4f5d-b50d-50d4ce5c6de0">How to use Razor in Umbraco</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbraco/commentByHendy</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-02-17T09:17:32</CreateDate>
    <NodeName Default="comment by Hendy" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan,<br /><br />Nice introduction to the Razor syntax :) Another helper class you might like to consider using in conjunction with Razor is the <a href="http://ucomponents.codeplex.com/wikipage?title=uQuery">uQuery</a> library in uComponents. It has XPath axis type methods allowing Linq queries on the Content and Media trees, and also includes methods to return specific image crops.<br /><br />Cheers,<br />Hendy]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[hendyracher@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Hendy]]></Value>
    </commenterName>
  </Properties>
</Content>