<?xml version="1.0" encoding="utf-8"?>
<Content Key="78dc31bd-4df5-48c9-b4db-96e76c18f1b8" Alias="Comment by Janusz Stabik" Level="4">
  <Info>
    <Parent Key="0920d9f0-19e4-4337-b89d-5e3a2aa55914">Umbraco developer productivity with uSiteBuilder</Parent>
    <Path>/Site/Blog/UmbracoDeveloperProductivityWithUSiteBuilder/CommentByJanuszStabik</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-09T10:07:30</CreateDate>
    <NodeName Default="Comment by Janusz Stabik" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Great article. Been meaning to give this a try - the quick and easy way of finding alias's makes it all worth for me! ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[janusz@stabik.net]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Janusz Stabik]]></Value>
    </commenterName>
  </Properties>
</Content>