<?xml version="1.0" encoding="utf-8"?>
<Content Key="255880e8-363d-4a94-982e-f9f5cc551dd8" Alias="Comment by Nick" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentByNick</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-03-29T18:25:15</CreateDate>
    <NodeName Default="Comment by Nick" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Glad to see more info about this. Definitely appreciate the deep dive that even shows how it works at the database level. All I had to go on previously was this forum thread: https://our.umbraco.org/forum/developers/api-questions/73340-how-do-umbraco-db-migrations-work-not-upgrades]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[w@minify.org]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Nick]]></Value>
    </commenterName>
  </Properties>
</Content>