<?xml version="1.0" encoding="utf-8"?>
<Content Key="43e9b68b-4ca8-48bc-b747-f1bbdb3f0c88" Alias="Comment by Ajay (1) (1)" Level="4">
  <Info>
    <Parent Key="580def6d-c4f7-41d3-9981-e05e4051881a">Screencast: Installing Umbraco</Parent>
    <Path>/Site/Blog/ScreencastInstallingUmbraco/CommentByAjay11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-07-20T10:37:26</CreateDate>
    <NodeName Default="Comment by Ajay (1) (1)" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan,<br />I have resolved the previous problem. Your instructions on the other link did the trick.<br />Regards.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[ajay_chatrath@tesco.net]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Ajay]]></Value>
    </commenterName>
  </Properties>
</Content>