<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ff8897d-ddf3-4b73-905d-dc476f3f6067" Alias="Comment by Tej" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByTej</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-01-21T16:16:22</CreateDate>
    <NodeName Default="Comment by Tej" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[If you want to use these instructions, make sure that if you enter a port other than the default of 80, that you include it in the url when you try and load the site.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[fake@email.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Tej]]></Value>
    </commenterName>
  </Properties>
</Content>