<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca9dc08d-2937-42c2-90b4-a45cc262ab4b" Alias="Comment by Sebastiaan Janssen" Level="4">
  <Info>
    <Parent Key="378c2f56-de4b-4087-ad6e-fd275656975a">Dropbox as a Git central repository</Parent>
    <Path>/Site/Blog/DropboxAsAGitCentralRepository/CommentBySebastiaanJanssen</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-08-11T10:27:21</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Yeah obviously when it syncs it should work. Though I must say that dropbox is FAST. Tried this with Google Drive and it took ages to update on the other end.<br /><br />I also used to use Live Mesh before (it's discontinued now in favor of Skydrive) and that was also nice and fast.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>