<?xml version="1.0" encoding="utf-8"?>
<Content Key="ada8c7bc-8688-41fe-a3eb-5159aa701ed5" Alias="Comment by publicacc" Level="4">
  <Info>
    <Parent Key="1d3433cb-236a-47dc-922b-4c5fb0b26942">How to use Razor in Umbraco - Paging</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbracoPaging/CommentByPublicacc</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-10-18T03:50:21</CreateDate>
    <NodeName Default="Comment by publicacc" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[How to initilialize the paging object. Can you explain more detail? Thanks]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[hoangtrieu1984@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[publicacc]]></Value>
    </commenterName>
  </Properties>
</Content>