<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ee29d0a-40cf-467e-8e74-97dc4e7976ec" Alias="Comment by Daniel" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByDaniel</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-10-13T02:26:29</CreateDate>
    <NodeName Default="Comment by Daniel" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I followed the steps, but when I navigate to http://mySite.local/ the setup screen is shown without styles applyi, and when I click the Lets get started! link nothing happens. Any idea about this issue?<br /><br />Thanks!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[dpsol@yahoo.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Daniel]]></Value>
    </commenterName>
  </Properties>
</Content>