<?xml version="1.0" encoding="utf-8"?>
<Content Key="26649fa6-3475-4a74-893f-9a32d62a6046" Alias="Comment by gseagull" Level="4">
  <Info>
    <Parent Key="bf5a2a4e-05e1-4978-a4bd-7ba0d9e36e4f">Convert between VS2008 and 2010 projects, automatically</Parent>
    <Path>/Site/Blog/ConvertBetweenVS2008And2010ProjectsAutomatically/CommentByGseagull</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-23T13:18:29</CreateDate>
    <NodeName Default="Comment by gseagull" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[It worked for me, thanks a lot!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[greenspammer@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[gseagull]]></Value>
    </commenterName>
  </Properties>
</Content>