<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d40b22c-f9c5-416f-a52f-34129e7551d7" Alias="comment by Lee Kelleher" Level="4">
  <Info>
    <Parent Key="f40055a7-d573-4f60-9f67-0d58d2d75317">SEO optimizing in Umbraco</Parent>
    <Path>/Site/Blog/SEOOptimizingInUmbraco/commentByLeeKelleher</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-04-08T11:12:14</CreateDate>
    <NodeName Default="comment by Lee Kelleher" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks for letting us know about woorank, good useful service!<br /><br />As Bijesh mention, you can use the Robots.txt editor that I developed! ;-) */plug*<br /><br />Cheers, Lee.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[leekelleher@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Lee Kelleher]]></Value>
    </commenterName>
  </Properties>
</Content>