<?xml version="1.0" encoding="utf-8"?>
<Content Key="426974f5-aad5-4ab5-8486-5ac9debde66a" Alias="Comment by Brendan Rice" Level="4">
  <Info>
    <Parent Key="dc3d7a4e-076b-4591-ae33-360e41dd02a8">Easily debug your custom Umbraco user controls in Visual Studio</Parent>
    <Path>/Site/Blog/EasilyDebugYourCustomUmbracoUserControlsInVisualStudio/CommentByBrendanRice</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-08-12T00:39:25</CreateDate>
    <NodeName Default="Comment by Brendan Rice" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I keep referring to your article for the post build events, think I owe you a "thank you" :)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[brendan@gumpshen.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Brendan Rice]]></Value>
    </commenterName>
  </Properties>
</Content>