<?xml version="1.0" encoding="utf-8"?>
<Content Key="396ba089-f957-49d5-ba94-cfaa351cb644" Alias="Comment by Peter" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByPeter</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-02-13T10:58:22</CreateDate>
    <NodeName Default="Comment by Peter" />
    <SortOrder>32</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Ia have the same error trying to install V6:<br /><br />Error: the installer can't connect to the repository<br /><br />I can't install any of the starter kits suggested on the install process, and this renders an unusuable empty site. ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[peter@parker.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Peter]]></Value>
    </commenterName>
  </Properties>
</Content>