<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f8c772f-efd1-4fa9-b73b-8dcd5a3ac8e6" Alias="comment by Sebastiaan Janssen (2)" Level="4">
  <Info>
    <Parent Key="fab8f78d-5d8e-4f5d-b50d-50d4ce5c6de0">How to use Razor in Umbraco</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbraco/commentBySebastiaanJanssen2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-02-16T17:46:55</CreateDate>
    <NodeName Default="comment by Sebastiaan Janssen (2)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hey Pinal,<br /><br />1. The Umbraco team is hoping for a beta by the end of this week.<br />2. Not exactly, but you will want to as you want all of the intellisense goodness and want to move forward. Shouldn't be a lot of work.<br />3. Yes it will!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>