<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f9c084a-7cb9-480b-a71e-8617626243e7" Alias="Comment by Sebastiaan Janssen (6) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentBySebastiaanJanssen611</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-06-22T13:45:35</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (6) (1) (1)" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I don&#39;t know what you&#39;re trying to achieve now? All I am saying is that your app/ directory needs to be outside of x.Web. After that it&#39;s up to you to figure out how to  get the end-result files into x.Web.<br /><br />If you want to edit your app/ files in Visual Studio it is up to you to set that up. I&#39;d recommend adding a new website to the project. I have very little experience with any of that though (being a C# guy..) so I can&#39;t be of much help I&#39;m afraid. ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[hello@sebastiaanjanssen.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>