<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9f1741b-a150-4518-b6f1-ef5c68200cec" Alias="comment by Sebastiaan Janssen (2)" Level="4">
  <Info>
    <Parent Key="bf5a2a4e-05e1-4978-a4bd-7ba0d9e36e4f">Convert between VS2008 and 2010 projects, automatically</Parent>
    <Path>/Site/Blog/ConvertBetweenVS2008And2010ProjectsAutomatically/commentBySebastiaanJanssen2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-09-20T08:21:20</CreateDate>
    <NodeName Default="comment by Sebastiaan Janssen (2)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Stephanie: You just drop the .bat file into the same folder as the .sln file is and run it.<br /><br />Although, you wouldn't need it to upgrade a 2008 project to a 2010 project, VB Express should do that automatically for you.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>