<?xml version="1.0" encoding="utf-8"?>
<Content Key="56023c63-2c17-48c0-a409-2b6ea2191b4f" Alias="Comment by Colin" Level="4">
  <Info>
    <Parent Key="378c2f56-de4b-4087-ad6e-fd275656975a">Dropbox as a Git central repository</Parent>
    <Path>/Site/Blog/DropboxAsAGitCentralRepository/CommentByColin</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-03-09T00:01:25</CreateDate>
    <NodeName Default="Comment by Colin" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks Man,<br />This was easy to follow and works great.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[stylesie@stylesie.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Colin]]></Value>
    </commenterName>
  </Properties>
</Content>