<?xml version="1.0" encoding="utf-8"?>
<Content Key="afedecab-61a7-42cd-ae6c-def6a28ba48b" Alias="Comment by Craig" Level="4">
  <Info>
    <Parent Key="61900023-d419-4bf7-ae38-f7cf3e046293">Making sure your Umbraco site performs on Azure</Parent>
    <Path>/Site/Blog/MakingSureYourUmbracoSitePerformsOnAzure/CommentByCraig</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-03-26T11:30:16</CreateDate>
    <NodeName Default="Comment by Craig" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Great article Sebastiaan. I just went through a lot of this pain about a month ago and this is a great summary of the issues. One other Azure &quot;Gotcha&quot; I found was the need for a RedisCache as Azure doesn&#39;t provide session state out of the box like IIS does.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[craig@incrediblyuseful.net]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Craig]]></Value>
    </commenterName>
  </Properties>
</Content>