<?xml version="1.0" encoding="utf-8"?>
<Content Key="51cb415a-14bb-4793-b26b-80032d0dd731" Alias="Comment by Stefan Kip" Level="4">
  <Info>
    <Parent Key="aa926dd0-d71a-48f1-813a-362637c6f9aa">Moving from DateFolders to Umbraco's new ListView</Parent>
    <Path>/Site/Blog/MovingFromDateFoldersToUmbracosNewListView/CommentByStefanKip</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2014-01-19T18:17:28</CreateDate>
    <NodeName Default="Comment by Stefan Kip" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Is there a reason why you didn't install the Url Tracker, so redirects would've been create automatically? :)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[mail@kipusoep.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Stefan Kip]]></Value>
    </commenterName>
  </Properties>
</Content>