<?xml version="1.0" encoding="utf-8"?>
<Content Key="fef2bf6c-3d28-49de-8157-776649a22281" Alias="Comment by Sebastiaan Janssen" Level="4">
  <Info>
    <Parent Key="e1e9248a-f078-4689-8720-ee5a5a47f5ca">Tip of the week: Clean those ASP.NET temp files</Parent>
    <Path>/Site/Blog/TipOfTheWeekCleanThoseASPNETTempFiles/CommentBySebastiaanJanssen</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-04-13T17:16:38</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Yup, that was exactly what I was having trouble with as well. So far so good, no more stale embedded views. :-)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>