<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2535145-12c2-4f5e-9211-67e857f60daa" Alias="Comment by Joel Macfarlane" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByJoelMacfarlane</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-10-22T01:59:02</CreateDate>
    <NodeName Default="Comment by Joel Macfarlane" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[You are a rock star. Thanks for saving me more time banging my head against this.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jrbmacfarlane@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Joel Macfarlane]]></Value>
    </commenterName>
  </Properties>
</Content>