<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e061519-28c9-4b91-87ae-347712a86f0c" Alias="Comment by Nick (3)" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByNick3</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-06-19T18:23:41</CreateDate>
    <NodeName Default="Comment by Nick (3)" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Great guide.<br />Except after installation when I go to "Preview your new website" I get following error:<br /><br />Object reference not set to an instance of an object.<br /><br />Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated in the code.<br /><br />Exception Details: System.NullReferenceException: Object reference not set to an instance of an object.<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[nickpavone@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Nick]]></Value>
    </commenterName>
  </Properties>
</Content>