<?xml version="1.0" encoding="utf-8"?>
<Content Key="57ebf935-be84-4f04-9d38-40ad9cc074fe" Alias="Comment by GeekDrop.com" Level="4">
  <Info>
    <Parent Key="378c2f56-de4b-4087-ad6e-fd275656975a">Dropbox as a Git central repository</Parent>
    <Path>/Site/Blog/DropboxAsAGitCentralRepository/CommentByGeekDropcom</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-03-31T05:00:27</CreateDate>
    <NodeName Default="Comment by GeekDrop.com" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Exactly what I was looking for, nice and simple considering I'm a n00b to Git at the moment. Thanks!<br /><br />Best regards,<br />J. Scott Elblein<br />Owner | Operator<br />GeekDrop.com <http://geekdrop.com>]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[geekdroponline@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[GeekDrop.com]]></Value>
    </commenterName>
  </Properties>
</Content>