<?xml version="1.0" encoding="utf-8"?>
<Content Key="8173cee2-e211-454e-90a5-d91329d1cd86" Alias="comment by Ismail Mayat (2)" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/commentByIsmailMayat2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-12-20T09:49:38</CreateDate>
    <NodeName Default="comment by Ismail Mayat (2)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Sebastiaan,<br />I usually have global site settings as a separate tab on the home page so things like site name, google analyics etc can be stored there.  Was there a specific reason for having the settings as separate node?<br /><br />Regards<br /><br />Ismail]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[beren12@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Ismail Mayat]]></Value>
    </commenterName>
  </Properties>
</Content>