<?xml version="1.0" encoding="utf-8"?>
<Content Key="9571b1f0-4f2e-4b59-978b-0b5ee7f55a5f" Alias="Comment by Mike Chambers (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="06fe3c53-e8db-4a06-ab90-267b081a9a1d">How to diagnose Umbraco upgrade problems</Parent>
    <Path>/Site/Blog/HowToDiagnoseUmbracoUpgradeProblems/CommentByMikeChambers111</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-03-01T09:12:27</CreateDate>
    <NodeName Default="Comment by Mike Chambers (1) (1) (1)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[TotalCommander , directory synchronisation is also a safe bet - as well as a dual pane file explorer replacement, and other built in goodies.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[mike@mistynight.plus.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Mike Chambers]]></Value>
    </commenterName>
  </Properties>
</Content>