<?xml version="1.0" encoding="utf-8"?>
<Content Key="fcafcbcf-63ed-430a-be6a-d001bd190ea7" Alias="Comment by Paul Goodwin" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByPaulGoodwin</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-05-30T08:59:33</CreateDate>
    <NodeName Default="Comment by Paul Goodwin" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[It's great to see so much interest in Umbraco. We really need as many getting started / install tutorials as possible to encourage this, which is why I've been writing my own tutorial site <a href="http://www.uquickstart.com/">www.uquickstart.com</a>. I hope this helps]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[paul.goodwin@bayleafmedia.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Paul Goodwin]]></Value>
    </commenterName>
  </Properties>
</Content>