<?xml version="1.0" encoding="utf-8"?>
<Content Key="988efbe3-93c6-4167-84fd-342578e1b1c1" Alias="Comment by Josh" Level="4">
  <Info>
    <Parent Key="580def6d-c4f7-41d3-9981-e05e4051881a">Screencast: Installing Umbraco</Parent>
    <Path>/Site/Blog/ScreencastInstallingUmbraco/CommentByJosh</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-02-11T17:57:18</CreateDate>
    <NodeName Default="Comment by Josh" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Nice video.  I've followed your process and it works fine for my installation, but with one issue. The images are apparently assigned incorrect paths throughout the installation wizard and on the umbraco backend once installed.<br /><br />Any thoughts on how to resolve that?<br /><br />I am running iis7 sql server express on windows7.  ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[joshuawheelock@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Josh]]></Value>
    </commenterName>
  </Properties>
</Content>