<?xml version="1.0" encoding="utf-8"?>
<Content Key="bed90093-7b29-4019-85ba-7fb1d3e7629d" Alias="Comment by Craig Stevens (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentByCraigStevens111</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-04-16T18:35:43</CreateDate>
    <NodeName Default="Comment by Craig Stevens (1) (1) (1)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I got that, but thought it was just between the UaaS instances. Just tried it from my VS hosted back office and it deployed direct to the UaaS dev site. Impressed :) I&#39;m really happy atm as I&#39;ve added controllers and models and packages and they&#39;ve all gone up and deployed faultlessly.  Just had to add my .code dll into the SmartGit client as it wasn&#39;t recognised but that&#39;s all :)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[craig@incrediblyuseful.net]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Craig Stevens]]></Value>
    </commenterName>
  </Properties>
</Content>