<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a271de9-540e-4255-aa6d-81375c51d702" Alias="Comment by Sebastiaan Janssen" Level="4">
  <Info>
    <Parent Key="d7e30272-271c-4496-8da7-f60b21b9bdca">Tip of the week: ReSharper Code Templates</Parent>
    <Path>/Site/Blog/TipOfTheWeekReSharperCodeTemplates/CommentBySebastiaanJanssen</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-03-18T11:06:57</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[LOL!<br /><br />Thanks, have changed the template, but too lazy to redo the screenshots now. ;-)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>