<?xml version="1.0" encoding="utf-8"?>
<Content Key="3579e6c1-8691-4875-ad59-81e72f2a21f4" Alias="Comment by Ali T (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentByAliT111</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-03-30T16:16:35</CreateDate>
    <NodeName Default="Comment by Ali T (1) (1) (1)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Seb It&#39;s a big advantage that it doesn&#39;t run the Umbraco upgrade page. (I am a big fan of that now) <br /><br />Adding that to the upgrade installer is also is useful but not essential.<br /><br />I prefer the Umbraco Installer just updates Umbraco related stuff and shouldn&#39;t really care about what is happening outside of that. <br /><br />Thanks for reply and really useful post. Keep up the good work ! ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[etaheri@yahoo.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Ali T]]></Value>
    </commenterName>
  </Properties>
</Content>