<?xml version="1.0" encoding="utf-8"?>
<Content Key="21b999c5-f30f-412e-af77-d93150836c3a" Alias="comment by Yannick" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/commentByYannick</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-03-24T13:52:20</CreateDate>
    <NodeName Default="comment by Yannick" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Have you adapted your Cultiv sitemap to support this already?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[yannick@goyaweb.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Yannick]]></Value>
    </commenterName>
  </Properties>
</Content>