<?xml version="1.0" encoding="utf-8"?>
<Content Key="3723e097-392f-4470-8c53-7386ea6ad2d0" Alias="Comment by Micha&amp;#235;l Vanbrabandt" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentByMicha235lVanbrabandt</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-09-26T11:37:44</CreateDate>
    <NodeName Default="Comment by Micha&amp;#235;l Vanbrabandt" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Really nice and detailled explained. Love the way Umbraco is designed to do almost anything!<br /><br />Thanks for helping me out with upgrading custom tables!<br /><br />/Micha&#235;l]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[info@mivaweb.be]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Micha&#235;l Vanbrabandt]]></Value>
    </commenterName>
  </Properties>
</Content>