<?xml version="1.0" encoding="utf-8"?>
<Content Key="786a5774-72a4-4a6a-b543-374e98410de5" Alias="Comment by Blake Smith" Level="4">
  <Info>
    <Parent Key="7db200be-6bef-4a86-a549-4b2f08e274e9">The CodeGarden Guide to Copenhagen</Parent>
    <Path>/Site/Blog/TheCodeGardenGuideToCopenhagen/CommentByBlakeSmith</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2015-03-27T15:29:57</CreateDate>
    <NodeName Default="Comment by Blake Smith" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thank you so much for writing this post! This is really helpful! :)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[blake@letswritecode.net]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Blake Smith]]></Value>
    </commenterName>
  </Properties>
</Content>