<?xml version="1.0" encoding="utf-8"?>
<Content Key="64773417-0bf1-487a-9e59-7ea74f6c00c0" Alias="comment by Jeroen Breuer" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/commentByJeroenBreuer</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-03-31T12:01:10</CreateDate>
    <NodeName Default="comment by Jeroen Breuer" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hello,<br /><br />I'm using this setup now with a multilanguage site and it works perfect! First I set different host names and internal redirects to the correct urls. Than I added the url rewrite which uses "^~/" so it looks at the host name. This way if I go to website1.com/home it's redirected to website1.com with an internal redirect to the home page of website1 and if I do the same for website2 it get's redirected to the home of website2.<br /><br />Jeroen]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jbreuer@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jeroen Breuer]]></Value>
    </commenterName>
  </Properties>
</Content>