<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf70c9b0-7290-40ee-bc35-9d15f20eb646" Alias="Comment by Mark Wemekamp (2) (1)" Level="4">
  <Info>
    <Parent Key="ce9858a0-7b07-4fe5-bfdc-cded00fbb212">So you want to secure your Umbraco site</Parent>
    <Path>/Site/Blog/SoYouWantToSecureYourUmbracoSite/CommentByMarkWemekamp21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2017-01-04T14:39:53</CreateDate>
    <NodeName Default="Comment by Mark Wemekamp (2) (1)" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastian,<br />Thanks for the great article. I&#39;ve tried adding the X-Frame-Options header with the DENY value, but the backend wouldn&#39;t let me add new dictionary items.  Changing the value to SAMEORIGIN fixed this]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[mwemekamp@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Mark Wemekamp]]></Value>
    </commenterName>
  </Properties>
</Content>