<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c925eaa-2d17-475b-b854-b85984be65b8" Alias="Comment by Be_bert (2)" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/CommentByBe_bert2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-05-29T16:22:04</CreateDate>
    <NodeName Default="Comment by Be_bert (2)" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I use this method too. But in stead of putting a URL rewrite in the config file, I use the 'umbracoUrlName' property. On the homepage I set it on "/".<br /><br />In a 1 site,1 language installation it works like a charm.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bert_lerno@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Be_bert]]></Value>
    </commenterName>
  </Properties>
</Content>