<?xml version="1.0" encoding="utf-8"?>
<Content Key="5dd8ebc3-a7e0-4a8a-865b-b9b5a3bd5f83" Alias="Comment by Hadeeel " Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByHadeeel</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-10-14T23:29:40</CreateDate>
    <NodeName Default="Comment by Hadeeel " />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I cannot  finsh with insal the program when I should typ this (127.0.0.1      mynewumbracosite.local)<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[hadeelsabah@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Hadeeel ]]></Value>
    </commenterName>
  </Properties>
</Content>