<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4584f18-9264-438b-b75d-adf870ac15d6" Alias="comment by Sebastiaan" Level="4">
  <Info>
    <Parent Key="23730856-5905-4b13-9659-eed5a781c7d9">Umbraco tip of the week: Redirects</Parent>
    <Path>/Site/Blog/UmbracoTipOfTheWeekRedirects/commentBySebastiaan</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2009-06-29T17:12:45</CreateDate>
    <NodeName Default="comment by Sebastiaan" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks Søren! Obviously the internal redirect doesn't do a redirect at all, so there's no problem there.<br /><br />Maybe instead of the umbracoRedirect, it is better to use the umbracoUrlAlias.<br /><br />For search engines it would be better if the umbracoRedirect used a 301.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan]]></Value>
    </commenterName>
  </Properties>
</Content>