<?xml version="1.0" encoding="utf-8"?>
<Content Key="78acf453-071c-4001-ae4d-0a974cff4964" Alias="Comment by Sebastiaan Janssen (2) (1)" Level="4">
  <Info>
    <Parent Key="aa926dd0-d71a-48f1-813a-362637c6f9aa">Moving from DateFolders to Umbraco's new ListView</Parent>
    <Path>/Site/Blog/MovingFromDateFoldersToUmbracosNewListView/CommentBySebastiaanJanssen21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2014-01-27T22:16:31</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (2) (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@JMK Yep, it would be good to change up the view in such cases, shouldn't be too difficult, but if it is then we should make it easy! So your problem would be totally solved if the event date was in the list. Curious to see what you can come up with.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@cultiv.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>