<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3ae78b7-ed97-46ad-9a94-a2f2fee4ba48" Alias="comment by Lenni" Level="4">
  <Info>
    <Parent Key="1d3433cb-236a-47dc-922b-4c5fb0b26942">How to use Razor in Umbraco - Paging</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbracoPaging/commentByLenni</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-03-20T18:51:10</CreateDate>
    <NodeName Default="comment by Lenni" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Great work, I combined it with the Examine search example from joeriks blog and now I've got a razor search engine with paging.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[lennilg@mailme.dk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Lenni]]></Value>
    </commenterName>
  </Properties>
</Content>