<?xml version="1.0" encoding="utf-8"?>
<Content Key="a496480a-5c82-4752-98d4-f84432402f11" Alias="Comment by bob baty-barr (4) (1)" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentByBobBatyBarr41</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-09-22T16:44:45</CreateDate>
    <NodeName Default="Comment by bob baty-barr (4) (1)" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[grrr.... but what if i want all the properties of the node in Json, not just the property...<br /><br />i wish i was a programmer :(]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bob@maliciousthinktank.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[bob baty-barr]]></Value>
    </commenterName>
  </Properties>
</Content>