<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7c38ace-f778-44f1-83a5-2681ee98f02c" Alias="Comment by Aaron Powell" Level="4">
  <Info>
    <Parent Key="d7e30272-271c-4496-8da7-f60b21b9bdca">Tip of the week: ReSharper Code Templates</Parent>
    <Path>/Site/Blog/TipOfTheWeekReSharperCodeTemplates/CommentByAaronPowell</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-03-18T11:04:20</CreateDate>
    <NodeName Default="Comment by Aaron Powell" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hah ironic that that comment isn't actually ideal, I've been under a false assumption for a few years that that was the best way to do a ready function in jQuery.<br /><br />It's actually best to do $(document).ready(function () { ... }); from a performance point of view. The reason for this is that when you use the method I had in that blog post it jQuery has to do quite a few type checks before it works out what you're wanting to do where as the other way it doesn't do as many. Live and learn :P]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[me@aaron-powell.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Aaron Powell]]></Value>
    </commenterName>
  </Properties>
</Content>