<?xml version="1.0" encoding="utf-8"?>
<Content Key="de546ce2-0b34-4e40-8e3f-2b3fef8d8bfc" Alias="comment by MichaelMC" Level="4">
  <Info>
    <Parent Key="bf5a2a4e-05e1-4978-a4bd-7ba0d9e36e4f">Convert between VS2008 and 2010 projects, automatically</Parent>
    <Path>/Site/Blog/ConvertBetweenVS2008And2010ProjectsAutomatically/commentByMichaelMC</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-08-04T09:40:28</CreateDate>
    <NodeName Default="comment by MichaelMC" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks, but it doesn't work for me.  The string replacements seem to have been done in the .csproj and .sln files, but my VS2008 (SP1) still barfs when I try to open either.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[michael@michaelcompton.net]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[MichaelMC]]></Value>
    </commenterName>
  </Properties>
</Content>