<?xml version="1.0" encoding="utf-8"?>
<Content Key="e062094f-1251-4b98-8d5b-3b73243629a4" Alias="Comment by Kurt" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByKurt</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-09-14T16:36:27</CreateDate>
    <NodeName Default="Comment by Kurt" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks for this tutorial. First time installing Umbraco was a success. I did do one thing differently though. Instead of adding the mysite.local in my hosts file, I just bind a port to my localhost when creating the site in IIS. So as an example, my site's URL would be http://localhost:8787... or http://mylocalip:8787. ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[kurtemch@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Kurt]]></Value>
    </commenterName>
  </Properties>
</Content>