<?xml version="1.0" encoding="utf-8"?>
<Content Key="353660e4-f401-45fa-b848-f0a40699b32b" Alias="comment by Warren Buckleyt" Level="4">
  <Info>
    <Parent Key="0add4f54-2215-470c-ad77-6a97fbd474a9">PhotoMetaData package now available</Parent>
    <Path>/Site/Blog/PhotoMetaDataPackageNowAvailable/commentByWarrenBuckleyt</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-07-19T09:31:46</CreateDate>
    <NodeName Default="comment by Warren Buckleyt" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hiya Sebastiaan, good work on this.<br />However a small suggestion is not possible to have the properties added automatically with a custom package action on install using the API?<br /><br />Warren :)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[warren@creativewebspecialist.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Warren Buckleyt]]></Value>
    </commenterName>
  </Properties>
</Content>