<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c891937-2a4c-4aad-8dc8-cb437c0a723f" Alias="comment by Fredrik Sewen" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/commentByFredrikSewen</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-12-20T12:08:07</CreateDate>
    <NodeName Default="comment by Fredrik Sewen" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Sebastiaan, nice article.<br /><br />I usually end up doing the same as you are describing. Although I'm not too keen about this solution, since<br /><br />1) As Sander describes, it takes some of the control away from the Umbraco backend. When renaming/changing you have to change in the filestructure (rewrite-config-file).<br />2) I've heard from SEO-experts that it's never good to start with a 301-redirect. I think the reason is that the most natural in-link to your site is the www.domain.com and when google is "mapping" this it's not good if it's a 301-redirect.<br /><br />But I havn't found a better solution so until i know better it's a great tip and tutorial!<br /><br />Happy holidays,<br /><br />/Fredrik]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[fredrik@sewen.se]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Fredrik Sewen]]></Value>
    </commenterName>
  </Properties>
</Content>