<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb220323-7d41-4475-a885-fc24a3ca2c48" Alias="comment by Richard" Level="4">
  <Info>
    <Parent Key="f82bcc16-d998-4bce-b0ab-b4f0407bbf46">Umbraco MVP - Don't vote for me</Parent>
    <Path>/Site/Blog/UmbracoMVPDontVoteForMe/commentByRichard</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-02-05T14:18:12</CreateDate>
    <NodeName Default="comment by Richard" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hahaha very funny.<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[richard@richardsoeteman.net]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Richard]]></Value>
    </commenterName>
  </Properties>
</Content>