<?xml version="1.0" encoding="utf-8"?>
<Content Key="36e3e340-383f-4afe-828e-836260ac505f" Alias="Comment by Carlos" Level="4">
  <Info>
    <Parent Key="34e92740-8aaa-4d8e-85ac-5c9ddbf1a54d">From 0 to Umbraco site in 60 seconds</Parent>
    <Path>/Site/Blog/From0ToUmbracoSiteIn60Seconds/CommentByCarlos</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-10-04T20:05:16</CreateDate>
    <NodeName Default="Comment by Carlos" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I agree with Michiel.  Can you do a video on how to set it up to a database on a remote server (just blur out the creds). Or even to deploy the files to a server.  Is it just drag and drop? I have not seen a lot of videos, if any, on how to do this.  I see the use of the Sql CE, but is that going to handle lots of traffic or lots of data?<br /><br />Thanks]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[carlos.mosqueda@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Carlos]]></Value>
    </commenterName>
  </Properties>
</Content>