<?xml version="1.0" encoding="utf-8"?>
<Content Key="691f3859-4961-4468-af19-56523c158a59" Alias="Comment by Sebastiaan Janssen (6) (1)" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentBySebastiaanJanssen61</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-09-22T17:16:22</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (6) (1)" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Other way around, the scoping is in the curlies as you will notice:<br /><br />@{<br />var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();<br /><br />foreach (var item in Model.Children.Where("umbracoNaviHide != true"))<br />{<br />var node = new umbraco.NodeFactory.Node(item.Id);<br />@Html.Raw(serializer.Serialize(node.Properties));<br />}<br />}<br /><br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>