<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8ef8e39-108f-48b5-aa33-4a932ae9d25b" Alias="Comment by David Peck (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="ce9858a0-7b07-4fe5-bfdc-cded00fbb212">So you want to secure your Umbraco site</Parent>
    <Path>/Site/Blog/SoYouWantToSecureYourUmbracoSite/CommentByDavidPeck111</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2017-01-04T14:42:11</CreateDate>
    <NodeName Default="Comment by David Peck (1) (1) (1)" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I think the &lt;location path=&quot;umbraco&quot; /&gt; node mentioned in the article might be the bit you&#39;re missing. That sets SAMEORIGIN just for the Umbraco bit.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[david@wired-digital.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[David Peck]]></Value>
    </commenterName>
  </Properties>
</Content>