<?xml version="1.0" encoding="utf-8"?>
<Content Key="d275ea9f-0b89-4ad7-b7ad-71d69d8cb3a6" Alias="Comment by Simon Dingley (2)" Level="4">
  <Info>
    <Parent Key="0920d9f0-19e4-4337-b89d-5e3a2aa55914">Umbraco developer productivity with uSiteBuilder</Parent>
    <Path>/Site/Blog/UmbracoDeveloperProductivityWithUSiteBuilder/CommentBySimonDingley2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-09T09:15:22</CreateDate>
    <NodeName Default="Comment by Simon Dingley (2)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Good article Sebastiaan, you beat me to it. I have a post coming up in the near future on the same subject but it's always interesting to see other peoples project structures. In the case of yours - it is quite different to mine and that's what I like about Umbraco there are many different ways of reaching the same goal!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[simon@prolificnotion.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Simon Dingley]]></Value>
    </commenterName>
  </Properties>
</Content>