<?xml version="1.0" encoding="utf-8"?>
<Content Key="13fa8949-ca7b-4c9c-92d9-e430cca74513" Alias="comment by Lee Messenger" Level="4">
  <Info>
    <Parent Key="f82bcc16-d998-4bce-b0ab-b4f0407bbf46">Umbraco MVP - Don't vote for me</Parent>
    <Path>/Site/Blog/UmbracoMVPDontVoteForMe/commentByLeeMessenger</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-02-05T20:48:06</CreateDate>
    <NodeName Default="comment by Lee Messenger" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[LOL.. Holy crap.. Don't vote for me either, after reading that its made me realise that everyone has contributed something useful and I've made a suggestion to turn the forums into social drivel... lol... ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[lee@armcom.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Lee Messenger]]></Value>
    </commenterName>
  </Properties>
</Content>