<?xml version="1.0" encoding="utf-8"?>
<Content Key="d10d2622-b98b-4eb7-b593-4f6291f517aa" Alias="comment by glen" Level="4">
  <Info>
    <Parent Key="bf5a2a4e-05e1-4978-a4bd-7ba0d9e36e4f">Convert between VS2008 and 2010 projects, automatically</Parent>
    <Path>/Site/Blog/ConvertBetweenVS2008And2010ProjectsAutomatically/commentByGlen</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-04-28T08:50:41</CreateDate>
    <NodeName Default="comment by glen" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[It created all sorts of problems when trying to reload the VS2010 version - may have something to do with third part controls.<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[glenharvy@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[glen]]></Value>
    </commenterName>
  </Properties>
</Content>