<?xml version="1.0" encoding="utf-8"?>
<Content Key="98c51dfc-bdf2-449b-b900-1b0dec0f6f92" Alias="comment by Nik Wahlberg" Level="4">
  <Info>
    <Parent Key="580def6d-c4f7-41d3-9981-e05e4051881a">Screencast: Installing Umbraco</Parent>
    <Path>/Site/Blog/ScreencastInstallingUmbraco/commentByNikWahlberg</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-02-02T18:59:48</CreateDate>
    <NodeName Default="comment by Nik Wahlberg" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Nice! I've seen a lot of people asking "where to get started". This will be a bookmark to send them to!<br /><br />Best,<br />Nik]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[nwahlberg@scandiaconsulting.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Nik Wahlberg]]></Value>
    </commenterName>
  </Properties>
</Content>