<?xml version="1.0" encoding="utf-8"?>
<Content Key="39a3c298-f003-4464-9b1a-09528555f352" Alias="Comment by Sebastiaan Janssen" Level="4">
  <Info>
    <Parent Key="61900023-d419-4bf7-ae38-f7cf3e046293">Making sure your Umbraco site performs on Azure</Parent>
    <Path>/Site/Blog/MakingSureYourUmbracoSitePerformsOnAzure/CommentBySebastiaanJanssen</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-03-29T11:47:09</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Good question Lee, for now we don&#39;t have a solution for that! <br /><br />Created an issue: http://issues.umbraco.org/issue/UAAS-328]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@umbraco.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>