<?xml version="1.0" encoding="utf-8"?>
<Content Key="7bc523cd-aa6c-4741-b940-9989b325ef2b" Alias="Comment by Thomas" Level="4">
  <Info>
    <Parent Key="30f2acbe-5336-477b-bd56-81bd54da1b05">Let's Encrypt, on Windows</Parent>
    <Path>/Site/Blog/LetsEncryptOnWindows/CommentByThomas</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-07-20T12:54:40</CreateDate>
    <NodeName Default="Comment by Thomas" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi there, (lets encrypt) Can I ask you how do you issue a cert for both www and non www what is the command line you use to issue one certificate. Thanks Thomas ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[audioshea@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Thomas]]></Value>
    </commenterName>
  </Properties>
</Content>