<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ea35936-91d0-43e2-84a7-2529d29ed8ef" Alias="comment by Chris Houston" Level="4">
  <Info>
    <Parent Key="8b780c93-7446-4a37-a8cf-993c2e5320bb">A basic backup strategy</Parent>
    <Path>/Site/Blog/ABasicBackupStrategy/commentByChrisHouston</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2009-12-30T17:28:12</CreateDate>
    <NodeName Default="comment by Chris Houston" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks for posting this, I am also using a 2008 VPS server and have recently been thinking it was about time I setup my own backup strategy.<br /><br />Cheers,<br /><br />Chris]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[chouston@vizioz.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Chris Houston]]></Value>
    </commenterName>
  </Properties>
</Content>