<?xml version="1.0" encoding="utf-8"?>
<Content Key="c785bc57-8f6d-4ee2-a2f7-d99ae029e54a" Alias="Comment by Josh" Level="4">
  <Info>
    <Parent Key="ce9858a0-7b07-4fe5-bfdc-cded00fbb212">So you want to secure your Umbraco site</Parent>
    <Path>/Site/Blog/SoYouWantToSecureYourUmbracoSite/CommentByJosh</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-03-26T02:30:29</CreateDate>
    <NodeName Default="Comment by Josh" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[This is great stuff mate- thanks for your time to write it up, came together really well!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[josh@reiddesign.co.nz]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Josh]]></Value>
    </commenterName>
  </Properties>
</Content>