<?xml version="1.0" encoding="utf-8"?>
<Content Key="aee6e6d9-169e-4214-a80c-306b02d82a1e" Alias="Comment by Sebastiaan Janssen (10) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentBySebastiaanJanssen1011</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-11-15T21:05:08</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (10) (1) (1)" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks Jose, please note that you can absolutely not use uSync with Umbraco Cloud. It interferes with Courier (also known as Umbraco Deploy, also known as Content Flow).]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@cultiv.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>