<?xml version="1.0" encoding="utf-8"?>
<Content Key="d78c13f2-b218-4880-84fd-b5421348eedb" Alias="Comment by Charles Zipp (2)" Level="4">
  <Info>
    <Parent Key="89cac2c8-a5d1-42c8-84c9-25bf5344b85a">How to use ASP.NET Web API in Umbraco 4 &amp; .NET 4.0</Parent>
    <Path>/Site/Blog/HowToUseASPNETWebAPIInUmbraco4NET40/CommentByCharlesZipp2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-04-22T00:10:13</CreateDate>
    <NodeName Default="Comment by Charles Zipp (2)" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[For anyone that may have issues with this on V6...<br /><br />I was not able to get this to work. I was getting a 404 when i would try to browse to my api url. The problem was that i was using IApplicationStartupHandler. This is referenced by the url above (https://gist.github.com/nul800sebastiaan/4755162). However, if you download sabastiaan's sample project, he is using IApplicationEventHandler. Once i switched to that, all worked fine.<br /><br />May want to get that git doc updated...]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[charleszipp@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Charles Zipp]]></Value>
    </commenterName>
  </Properties>
</Content>