<?xml version="1.0" encoding="utf-8"?>
<Content Key="035a15e9-40a6-45ec-af3d-1ab87e2377f1" Alias="Comment by Sebastiaan Janssen (1) (1)" Level="4">
  <Info>
    <Parent Key="1d3433cb-236a-47dc-922b-4c5fb0b26942">How to use Razor in Umbraco - Paging</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbracoPaging/CommentBySebastiaanJanssen11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-10T15:18:12</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (1) (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Sorry, meant 4.7 :-)<br /><br />Personally, I'm running a self-compiled build off of the recent source code, which I'm calling 4.7.1. Looks like it should be out by the end of the month though.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>