<?xml version="1.0" encoding="utf-8"?>
<Content Key="7fa72b5d-feac-404b-9be3-434b3e41ff5b" Alias="Comment by HJAbbing (3)" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentByHJAbbing3</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-07-25T11:00:23</CreateDate>
    <NodeName Default="Comment by HJAbbing (3)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Awesome and very usefull post. I was wondering what you meant with that tweet!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[abbing@aride.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[HJAbbing]]></Value>
    </commenterName>
  </Properties>
</Content>