<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7b9a99a-189a-4635-921a-00b7c6988ebf" Alias="Comment by Sebastiaan Janssen (5) (1) (1)" Level="4">
  <Info>
    <Parent Key="30f2acbe-5336-477b-bd56-81bd54da1b05">Let's Encrypt, on Windows</Parent>
    <Path>/Site/Blog/LetsEncryptOnWindows/CommentBySebastiaanJanssen511</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-07-20T15:47:03</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (5) (1) (1)" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[But SAN has to be predefined, so if you change your mind and need to add more subdomains or additional domains, you&#39;d still need to regenerate the cert.<br /><br />And if you ever need to revoke the certificate, you&#39;d also revoke it for the other domain names.<br /><br />It&#39;s literally free to generate multiple certificates for a domain so I&#39;d personally not bother with SAN. ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[hello@sebastiaanjanssen.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>