<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb191f2a-5814-4760-8cef-a1e782716f48" Alias="Comment by Sebastiaan Janssen (1) (1)" Level="4">
  <Info>
    <Parent Key="580def6d-c4f7-41d3-9981-e05e4051881a">Screencast: Installing Umbraco</Parent>
    <Path>/Site/Blog/ScreencastInstallingUmbraco/CommentBySebastiaanJanssen11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-04-15T19:11:04</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (1) (1)" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Nope, can't change it any more, sorry. Use headphones.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>