<?xml version="1.0" encoding="utf-8"?>
<Content Key="755382aa-1b47-4a90-bfff-493eda74b86e" Alias="Comment by Agnes" Level="4">
  <Info>
    <Parent Key="2e1256b2-4bf6-4c59-8b25-f3615bc1206b">Umbraco tip of the week - security on your live servers</Parent>
    <Path>/Site/Blog/UmbracoTipOfTheWeekSecurityOnYourLiveServers/CommentByAgnes</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-07-03T02:50:33</CreateDate>
    <NodeName Default="Comment by Agnes" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[<a href="http://www.gw2gw2.com/gold.html">Guild Wars 2 Gold</a> PC at GameSpy - Check out the latest <a href="http://www.gw2gw2.com/gold.html">cheap GW2 Gold</a> cheats, cheat codes, walkthroughs, guides, videos and more!IGN is the <a href="http://www.gw2gw2.com/gold.html">Buy Guild Wars 2 Gold</a> (PC) resource with reviews,  wikis, videos, trailers, screenshots, cheats, walkthroughs, previews,news and release dates.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[Agnesdffd@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Agnes]]></Value>
    </commenterName>
  </Properties>
</Content>