<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b7428e3-d712-41ca-9821-835cd0ef1848" Alias="Comment by Sebastiaan Janssen (5) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentBySebastiaanJanssen511</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-06-22T12:48:03</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (5) (1) (1)" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Correct. So you want all that stuff to live outside of the x.Web folder and build the &quot;end-result&quot; files into the x.Web folder instead of the /dist folder. :)<br /><br />Of course you can still build it into a /dist folder as long as you then copy it over to where it needs to be in the x.Web folder (which is the UaaS repository)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[hello@sebastiaanjanssen.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>