<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9f10dc6-3ae4-492c-b64f-1b17815d185f" Alias="Comment by nuduto" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByNuduto</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-03-08T05:01:14</CreateDate>
    <NodeName Default="Comment by nuduto" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Much better guide than an Umbraco book I've just bought.<br /><br />Many thanks]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[trong@nuduto.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[nuduto]]></Value>
    </commenterName>
  </Properties>
</Content>