<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1b73ed6-13dd-4212-8613-719c3020be0c" Alias="Comment by Pratap Kumar" Level="4">
  <Info>
    <Parent Key="bf5a2a4e-05e1-4978-a4bd-7ba0d9e36e4f">Convert between VS2008 and 2010 projects, automatically</Parent>
    <Path>/Site/Blog/ConvertBetweenVS2008And2010ProjectsAutomatically/CommentByPratapKumar</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-09-28T12:45:25</CreateDate>
    <NodeName Default="Comment by Pratap Kumar" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Can you please explain how do I convert 2010 to 2008 OR 2008 to 2012.<br /><br />I need steps to do this.<br /><br />Thanks]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[pratap.nani123@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Pratap Kumar]]></Value>
    </commenterName>
  </Properties>
</Content>