<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebcc6eaf-30bd-45f0-8611-8a8983dab588" Alias="Comment by basha" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByBasha</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-01-25T11:53:13</CreateDate>
    <NodeName Default="Comment by basha" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[i think it cannot useful for windows xp<br /><br />pls give the solution for windows xp<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[habibbasha.cse@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[basha]]></Value>
    </commenterName>
  </Properties>
</Content>