<?xml version="1.0" encoding="utf-8"?>
<Content Key="61a008c2-d6c1-4cd7-8eaf-3e9d3d464028" Alias="Comment by Debbie" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByDebbie</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-06-01T17:07:15</CreateDate>
    <NodeName Default="Comment by Debbie" />
    <SortOrder>37</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi I have worked all my way through this and when I tried to load my url I get this:<br /><br /><br />Error Code<br />   0x80070021 <br /><br />Config Error<br />   This configuration section cannot be used at this path. This happens when the section is locked at a parent level. Locking is either by default (overrideModeDefault="Deny"), or set explicitly by a location tag with overrideMode="Deny" or the legacy allowOverride="false".  <br /><br />Config File<br />   \\?\C:\Development\UmbracoTraining\web.config <br /> Did all the IIS_IUSRS permissions thing but still doesn't appear to be working. Help!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[debbie@dcstudio.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Debbie]]></Value>
    </commenterName>
  </Properties>
</Content>