<?xml version="1.0" encoding="utf-8"?>
<Content Key="5169b690-9117-473f-aadf-d9634cd12f76" Alias="Comment by shears" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentByShears</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-10-13T10:37:44</CreateDate>
    <NodeName Default="Comment by shears" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thank you for the nice blog. It was very useful for me. Keep sharing these ideas in the future too. It was actually what I wanted and I am happy to be here! Thank you for sharing this information with us.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[hattorihanzoshears123@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[shears]]></Value>
    </commenterName>
  </Properties>
</Content>