<?xml version="1.0" encoding="utf-8"?>
<Content Key="26ad2d0d-f828-4d36-8ddc-c4f21f1fd392" Alias="Comment by Sebastiaan Janssen (3) (1) (1)" Level="4">
  <Info>
    <Parent Key="30f2acbe-5336-477b-bd56-81bd54da1b05">Let's Encrypt, on Windows</Parent>
    <Path>/Site/Blog/LetsEncryptOnWindows/CommentBySebastiaanJanssen311</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2015-12-08T11:04:39</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (3) (1) (1)" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@Markus awesome, sounds like a good addition! Glad it&#39;s working for you now! :)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@cultiv.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>