<?xml version="1.0" encoding="utf-8"?>
<Content Key="12a0e1ab-eb24-41d8-adf8-854482cca486" Alias="comment by Anthony (4)" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/commentByAnthony4</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-12-21T09:39:05</CreateDate>
    <NodeName Default="comment by Anthony (4)" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan,<br /><br />Thanks for this great contribution. I have to create a multilangue website.<br /><br />How could I implement your site structure for a multilanguage site?<br /><br />content<br />- site<br />- nl-Be<br />- home<br />- klanten<br />- ...<br />- fr-BE<br />- home<br />- clients<br />- ...<br /><br />greetings,<br /><br />Anthony]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[anthony.candaele@webmove.be]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Anthony]]></Value>
    </commenterName>
  </Properties>
</Content>