<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c42010f-3faf-482f-a688-bdfa85816487" Alias="Comment by Pinal Bhatt [PBDesk.com] (2)" Level="4">
  <Info>
    <Parent Key="89cac2c8-a5d1-42c8-84c9-25bf5344b85a">How to use ASP.NET Web API in Umbraco 4 &amp; .NET 4.0</Parent>
    <Path>/Site/Blog/HowToUseASPNETWebAPIInUmbraco4NET40/CommentByPinalBhattPBDeskcom2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-06-28T22:21:33</CreateDate>
    <NodeName Default="Comment by Pinal Bhatt [PBDesk.com] (2)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Really good call. But one question did you integrated Umbraco 4.7.2 project with MVC4  first before doing these steps?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[pinalbhatt@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Pinal Bhatt [PBDesk.com]]]></Value>
    </commenterName>
  </Properties>
</Content>