<?xml version="1.0" encoding="utf-8"?>
<Content Key="3263da11-ec57-468b-acd0-813e75c33ea6" Alias="Comment by Sebastiaan Janssen (3)" Level="4">
  <Info>
    <Parent Key="0920d9f0-19e4-4337-b89d-5e3a2aa55914">Umbraco developer productivity with uSiteBuilder</Parent>
    <Path>/Site/Blog/UmbracoDeveloperProductivityWithUSiteBuilder/CommentBySebastiaanJanssen3</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-09T10:05:42</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (3)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@Simon Would love to see other setups as well, bring it on.<br /><br />@Ismail Don't be put off, it takes about an hour to learn and you gain in productivity immediately.<br /><br />@Lee It's pretty easy to learn and use, try it on your next project.<br /><br />@Niels I (quite literally) can't wait!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>