<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a28fdbd-997e-4a6d-ba90-d44c46a13c6e" Alias="Comment by Be_bert (1) (1)" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/CommentByBe_bert11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-05-30T12:39:14</CreateDate>
    <NodeName Default="Comment by Be_bert (1) (1)" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[In the rare case the url would end up somewhere in your site it would do a 301. The point here however is to never see the url 'something.com/home'.<br /><br />By using the 'UmbracoUrlName' property "something.com/home" would never show up in the navigation and the 301 wouldn't occur, or would it?<br /><br />I imagine in the backend the settings node just shows the 'home' node content on his non redirected url and the navigation just shows a url linked to another node ('by accident').]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bert_lerno@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Be_bert]]></Value>
    </commenterName>
  </Properties>
</Content>