<?xml version="1.0" encoding="utf-8"?>
<Content Key="022021f7-b795-4313-bc79-c9ff90154c42" Alias="comment by Ismail Mayat (1) (1)" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/commentByIsmailMayat11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-12-20T10:35:27</CreateDate>
    <NodeName Default="comment by Ismail Mayat (1) (1)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Ah cool makes sense.<br /><br />Regards<br /><br />Ismail]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[beren12@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Ismail Mayat]]></Value>
    </commenterName>
  </Properties>
</Content>