<?xml version="1.0" encoding="utf-8"?>
<Content Key="770a79c0-94f3-4b47-bb2f-2361ba0c9eb8" Alias="Comment by mehek" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByMehek</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-02-27T16:23:59</CreateDate>
    <NodeName Default="Comment by mehek" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[jsu wont accept my username and pass..even though i hav followed ur steps to the dot..HELP]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[cute_devil42@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[mehek]]></Value>
    </commenterName>
  </Properties>
</Content>