<?xml version="1.0" encoding="utf-8"?>
<Content Key="19ff381b-8b24-4598-8394-ea832ef21255" Alias="Comment by scott w" Level="4">
  <Info>
    <Parent Key="15cab22c-44ce-4947-bcec-ffd450bf1de2">An Umbraco database upgrade tip from the trenches</Parent>
    <Path>/Site/Blog/AnUmbracoDatabaseUpgradeTipFromTheTrenches/CommentByScottW</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-12-01T11:23:28</CreateDate>
    <NodeName Default="Comment by scott w" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[nice post]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[scottw@mail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[scott w]]></Value>
    </commenterName>
  </Properties>
</Content>