<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9f30803-0cb4-4527-8e40-59f53cf3aca3" Alias="Comment by Morten Empeño" Level="4">
  <Info>
    <Parent Key="ce9858a0-7b07-4fe5-bfdc-cded00fbb212">So you want to secure your Umbraco site</Parent>
    <Path>/Site/Blog/SoYouWantToSecureYourUmbracoSite/CommentByMortenEmpeno</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2017-09-24T09:00:51</CreateDate>
    <NodeName Default="Comment by Morten Empeño" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thank you so much for doing such a great work, and for sharing all your findings.<br /><br />So much value and so well explained and illustrated :)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[contact@mortenempeno.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Morten Empeño]]></Value>
    </commenterName>
  </Properties>
</Content>