<?xml version="1.0" encoding="utf-8"?>
<Content Key="986a9e3f-4567-40e2-858d-d317003c82db" Alias="Comment by Anthony (1) (1)" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/CommentByAnthony11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-11-14T18:04:14</CreateDate>
    <NodeName Default="Comment by Anthony (1) (1)" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[This is exactly what I used to do... up until today.<br /><br />There was 1 major thing to consider... The 301 URL Tracker package.<br /><br />When settings a redirect for the home node, the user will always see /home/ in the browser address bar. We only want the user to see /<br /><br />The uComponents 301 redirect seems to have the same issue.<br /><br />Personally, I don't mind seeing /home/. But clients for some reason don't like it.<br /><br />So the structure we are using now is:<br /><br />Site (renders the home page)<br />- Some Page<br />- Some Page<br />- Some Page<br />- Site Configuration<br />- Some sub node for configuration<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[anthonydotnet@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Anthony]]></Value>
    </commenterName>
  </Properties>
</Content>