<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a000638-21b4-4591-b74e-057374e38448" Alias="comment by Michael" Level="4">
  <Info>
    <Parent Key="bf5a2a4e-05e1-4978-a4bd-7ba0d9e36e4f">Convert between VS2008 and 2010 projects, automatically</Parent>
    <Path>/Site/Blog/ConvertBetweenVS2008And2010ProjectsAutomatically/commentByMichael</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-12-29T16:42:43</CreateDate>
    <NodeName Default="comment by Michael" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[The batch file works only if you don't have spaces in your paths. For example<br /><br />c:\Proj\xx.sln works fine but<br />c:\Doc and Settings\Proj\xx.sln does not<br /><br />Simple fix is to modify batch files and put quotes around %%a.<br /><br />Here is new line<br />for /f "tokens=*" %%a IN ('dir /b /s *.sln') do ssr.exe 0 "Format Version 11.00" "Format Version 10.00" "%%a"]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[mkobaly@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Michael]]></Value>
    </commenterName>
  </Properties>
</Content>