<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a4dc10a-caa6-47eb-b526-314b7c183cab" Alias="Comment by Jon Humphrey" Level="4">
  <Info>
    <Parent Key="ce9858a0-7b07-4fe5-bfdc-cded00fbb212">So you want to secure your Umbraco site</Parent>
    <Path>/Site/Blog/SoYouWantToSecureYourUmbracoSite/CommentByJonHumphrey</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-09-19T16:32:25</CreateDate>
    <NodeName Default="Comment by Jon Humphrey" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks Sebastiaan, <br /><br />This whole article, and subsequently linked urls, have given me a much better understanding of the whole security side of things for an Umbraco site! :-D<br /><br />Not to mention I can proudly say my site is now grade A secure ... albeit with small caveats! ;-)<br /> <br />#H5YR!!!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jon@randomprecision.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jon Humphrey]]></Value>
    </commenterName>
  </Properties>
</Content>