<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcc4a2a5-cdff-4057-9a2f-e68afdc3c6ce" Alias="Comment by Craig Cronin" Level="4">
  <Info>
    <Parent Key="7db200be-6bef-4a86-a549-4b2f08e274e9">The CodeGarden Guide to Copenhagen</Parent>
    <Path>/Site/Blog/TheCodeGardenGuideToCopenhagen/CommentByCraigCronin</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2014-04-03T00:05:22</CreateDate>
    <NodeName Default="Comment by Craig Cronin" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan, I came across this post last year and wanted to check if there are going to be any updates to the information.  Thanks really helps.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[craigacronin@me.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Craig Cronin]]></Value>
    </commenterName>
  </Properties>
</Content>