<?xml version="1.0" encoding="utf-8"?>
<Content Key="216f3fd1-8b60-43a9-97a0-16b7dbc09b8a" Alias="Comment by Ajay" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByAjay</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-07-20T10:14:34</CreateDate>
    <NodeName Default="Comment by Ajay" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan,<br />Great instructions to get an awesome bit of software working. It was taking me days to get this working and thanks to you I can progress with my work. Thanks.<br />Regards.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[ajay_chatrath@tesco.net]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Ajay]]></Value>
    </commenterName>
  </Properties>
</Content>