<?xml version="1.0" encoding="utf-8"?>
<Content Key="29fbc710-bcd8-48ef-96be-92333207e37b" Alias="Comment by bob baty-barr (6)" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentByBobBatyBarr6</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-09-21T23:49:38</CreateDate>
    <NodeName Default="Comment by bob baty-barr (6)" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Sebastiaan.... stuff like this is just awesome! but of course, i have a question ;)<br /><br />if i am wanting to do something very specific, like json serialize subnodes and specific properties of those nodes to help populate a dropdown via jquery let's say :)<br /><br />where would i start?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bob@maliciousthinktank.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[bob baty-barr]]></Value>
    </commenterName>
  </Properties>
</Content>