<?xml version="1.0" encoding="utf-8"?>
<Content Key="de05f6dd-0c97-4d5e-9bcf-75e7177bbf0e" Alias="Comment by Nick (1) (1)" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByNick11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-06-19T18:58:23</CreateDate>
    <NodeName Default="Comment by Nick (1) (1)" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I can login to the back office fine.<br />AND I can also see the starter kit files installed.<br /><br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[nickpavone@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Nick]]></Value>
    </commenterName>
  </Properties>
</Content>