<?xml version="1.0" encoding="utf-8"?>
<Content Key="9678b229-06b5-4b23-84a1-6022fe086470" Alias="Comment by Simon Justesen (2) (1)" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentBySimonJustesen21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-08-02T14:01:37</CreateDate>
    <NodeName Default="Comment by Simon Justesen (2) (1)" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Duh, I see that you're using the new syntax further above .. sorry.. *note to self: do not just skim the text* ;)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[simon.justesen@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Simon Justesen]]></Value>
    </commenterName>
  </Properties>
</Content>