<?xml version="1.0" encoding="utf-8"?>
<Content Key="35327531-4922-4c23-b5f8-2a40a3bfee3f" Alias="Comment by Sebastiaan Janssen (1) (1)" Level="4">
  <Info>
    <Parent Key="986ca3ab-f023-4de6-bf98-48ddd3227e20">Released: Contact Form Package</Parent>
    <Path>/Site/Blog/ReleasedContactFormPackage/CommentBySebastiaanJanssen11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-19T15:21:40</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (1) (1)" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Sounds like a plan! I've used the jQuery fancybox plugin for that in the past. It can open an iframe inside of the pop-up.<br /><br />Come to think of it: you could also put the contact form in an iframe. This is not specific to Umbraco, it's just a bit of HTML (and maybe using the fancybox plugin).]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>