<?xml version="1.0" encoding="utf-8"?>
<Content Key="707a092f-d2cf-4237-bd25-ede7c511cf5b" Alias="Comment by Sebastiaan Janssen (9) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentBySebastiaanJanssen911</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-09-27T09:10:31</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (9) (1) (1)" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[No, asterisks are not possible. That prompt is coming from git.exe which we have no control over.<br /><br />You can right-click to paste a password.<br /><br />Yes, we&#39;re fixing it in this sprint to show a better error when the password is wrong (you&#39;re probably still going to have to start over).]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@cultiv.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>