<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2d63b8b-aaaa-4cab-b64e-fbcba6a31969" Alias="Comment by Brendan Rice" Level="4">
  <Info>
    <Parent Key="1d3433cb-236a-47dc-922b-4c5fb0b26942">How to use Razor in Umbraco - Paging</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbracoPaging/CommentByBrendanRice</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-12-04T21:35:18</CreateDate>
    <NodeName Default="Comment by Brendan Rice" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Nice one mate will definatly be using this :)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[brendan@gumpshen.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Brendan Rice]]></Value>
    </commenterName>
  </Properties>
</Content>