<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d5372bc-855b-478b-a3e0-1a8fd69a0ec2" Alias="Comment by Sebastiaan Janssen (2)" Level="4">
  <Info>
    <Parent Key="aa926dd0-d71a-48f1-813a-362637c6f9aa">Moving from DateFolders to Umbraco's new ListView</Parent>
    <Path>/Site/Blog/MovingFromDateFoldersToUmbracosNewListView/CommentBySebastiaanJanssen2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2014-01-19T18:52:46</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (2)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Sure, that's another option. <br />I do like the simple, single catch-all though, no need to do lookups for each content item either.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@cultiv.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>