<?xml version="1.0" encoding="utf-8"?>
<Content Key="841943ca-b896-4a4c-9a01-b6122650e70b" Alias="Comment by Sebastiaan Janssen (2)" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentBySebastiaanJanssen2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-07-31T23:30:36</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (2)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@Michael Daar kan ik je ook niet bij helpen, toen SQL server geïnstalleerd werd, is een wachtwoord voor het "sa" account opgegeven.<br /><br />Je zou kunnen proberen in te loggen via windows authenticatie (maar dat moet tijdens de installatie van de server aan gezet zijn) of via een andere username/password die je kent voor die server.<br /><br />Mocht dit allemaal geen optie zijn dan denk ik dat de enige andere oplossing is het volledig de-installeren en opnieuw installeren van SQL server, waarbij je let op het aanzetten van Windows Authenticatie en het sa wachtwoord onthoud.<br /><br />Succes!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>