<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0ecc870-8efd-4a8a-9478-297d1e8cd867" Alias="Comment by Charles Roper (2) (2)" Level="4">
  <Info>
    <Parent Key="30f2acbe-5336-477b-bd56-81bd54da1b05">Let's Encrypt, on Windows</Parent>
    <Path>/Site/Blog/LetsEncryptOnWindows/CommentByCharlesRoper22</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-04-26T13:51:13</CreateDate>
    <NodeName Default="Comment by Charles Roper (2) (2)" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Great post Sebastiaan - really helpful. Thanks for the update Aaron.<br /><br />A couple of questions:<br /><br />1. I get a cert1-all.pfx at the end. What do I now do with this? My host needs an &quot;SSL Server private key&quot; and an &quot;SSL Certificate&quot;<br /><br />2. When I want to generate a new cert, I have to clear out the existing vault - is that expected? If I don&#39;t clear it, the script fails.<br /><br />3. When generating a new cert, I need to update the Resource Record (TXT) on DNS. This is a manual step - is there a way of automating it? I&#39;m using CloudFlare for DNS which definitely can be automated: https://api.cloudflare.com/#dns-records-for-a-zone-update-dns-record. Or can this step be avoided somehow?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[charles@roper.im]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Charles Roper]]></Value>
    </commenterName>
  </Properties>
</Content>