<?xml version="1.0" encoding="utf-8"?>
<Content Key="769ed1b0-360d-438e-9079-b817219f8fb9" Alias="Comment by Stephen Adams" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentByStephenAdams</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-03-29T19:29:43</CreateDate>
    <NodeName Default="Comment by Stephen Adams" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[This is great. Can this be incorporated into the Umbraco documentation (if it isn&#39;t already)?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[stephen@ciedigital.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Stephen Adams]]></Value>
    </commenterName>
  </Properties>
</Content>