<?xml version="1.0" encoding="utf-8"?>
<Content Key="4bdea753-2fbf-4c7a-9468-b2f547fc946e" Alias="Comment by Sebastiaan Janssen" Level="4">
  <Info>
    <Parent Key="34e92740-8aaa-4d8e-85ac-5c9ddbf1a54d">From 0 to Umbraco site in 60 seconds</Parent>
    <Path>/Site/Blog/From0ToUmbracoSiteIn60Seconds/CommentBySebastiaanJanssen</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-09-13T19:06:19</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Sshhh, it took me 1 second to start clicking! :P]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>