<?xml version="1.0" encoding="utf-8"?>
<Content Key="e85a3cb9-96e6-452c-8b58-87fba585814d" Alias="Comment by Trieu Hoang" Level="4">
  <Info>
    <Parent Key="1d3433cb-236a-47dc-922b-4c5fb0b26942">How to use Razor in Umbraco - Paging</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbracoPaging/CommentByTrieuHoang</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-10-18T03:57:48</CreateDate>
    <NodeName Default="Comment by Trieu Hoang" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I do follow your instruction, I get below error. Can you help me?<br /><br />"Cannot use a lambda expression as an argument to a dynamically dispatched operation without first casting it to a delegate or expression tree type"]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[hoangtrieu1984@yahoo.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Trieu Hoang]]></Value>
    </commenterName>
  </Properties>
</Content>