<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b1c61cd-fa59-4511-93f8-b34e810c49e5" Alias="Comment by Barry" Level="4">
  <Info>
    <Parent Key="1d3433cb-236a-47dc-922b-4c5fb0b26942">How to use Razor in Umbraco - Paging</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbracoPaging/CommentByBarry</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-09-22T18:04:39</CreateDate>
    <NodeName Default="Comment by Barry" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I'm a big fan of this paging method Sebatiaan, thanks for sharing. I was wondering if ytou evert looking into integrating it with some jQuery - so that it only shows e.g. 10 items, and when you click on a link near the 'edge' the paging bar on the subsequent page moves to show the next set.<br /><br />Not great at jQuery etc so any pointers, or code you can share that accomplishes this, would be much appreciated!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[barryfogarty@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Barry]]></Value>
    </commenterName>
  </Properties>
</Content>