<?xml version="1.0" encoding="utf-8"?>
<Content Key="c991b886-9788-473f-9098-fd5bc12ce3b9" Alias="Comment by Paul" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByPaul</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-06-20T18:48:51</CreateDate>
    <NodeName Default="Comment by Paul" />
    <SortOrder>38</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hello guys,<br /><br />I could really do with your help im pulling my hair out here been on this for a few hours. Im fairlly new to umbraco and have been installing it via the matrix but i thought the time has come to try and install in maually. However, after setting up my database and IIS im getting to step three and it seems to be getting to 90% and failing with the error message<br /><br />The database configuration failed with the following message: Login failed for user 'umbraco_db'. Please check log file for additional information (can be found in '/App_Data/Logs/UmbracoTraceLog.txt')<br /><br />Im convinced this is a permissions problem but cant seem to solve it so any help would be awsome.<br /><br />Thanks<br /><br />Paul]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[muncher39@yahoo.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Paul]]></Value>
    </commenterName>
  </Properties>
</Content>