<?xml version="1.0" encoding="utf-8"?>
<Content Key="c848bd8b-d319-4c8e-b136-58eb76038a67" Alias="Comment by Karen" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByKaren</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-06-24T16:08:42</CreateDate>
    <NodeName Default="Comment by Karen" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[In XP it is just as easy. <br />The only difference is steps 4/5 regarding creating the website in IIS.  Download a nice utility called IISAdmin.NET.  This lets you create multiple websites under IIS6.  (Hopefully if you've been developing long enough that you are still using XP, you will have this anyway.)<br />So now create your new website using IISAdmin.Net, then go into IIS and change the .net version under the site properties. <br /><br />(ps, people still use XP for different reasons, cost, company policy, the amount of time I cannot afford or don't want to take to re-set up my environment in Windows 7...)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[xnera@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Karen]]></Value>
    </commenterName>
  </Properties>
</Content>