<?xml version="1.0" encoding="utf-8"?>
<Content Key="f91c569f-09b2-4884-98a3-7c80c7951a1d" Alias="Comment by Omid Tansaz (1) (1)" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentByOmidTansaz11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-11-21T13:07:41</CreateDate>
    <NodeName Default="Comment by Omid Tansaz (1) (1)" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@leonard<br /><br />what do u mean with a node that uses the template? So do you suggest that we shouldn't use altTemplate method?<br /><br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[pet78pfz@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Omid Tansaz]]></Value>
    </commenterName>
  </Properties>
</Content>