<?xml version="1.0" encoding="utf-8"?>
<Content Key="a775db37-6fcd-48d4-8e23-ed2004e7eb92" Alias="Comment by Sebastiaan Janssen (8) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentBySebastiaanJanssen811</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-07-04T06:02:47</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (8) (1) (1)" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@Nirmit you&#39;ll have to use Visual Studio 2015 for now, will update this in the near future. <br />It might help to install the MSBuild.Microsoft.VisualStudio.Web.targets NuGet package as mentioned here: http://stackoverflow.com/a/32278656/5018]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[hello@sebastiaanjanssen.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>