<?xml version="1.0" encoding="utf-8"?>
<Content Key="e03f506e-ff35-481a-aa33-3b96b87602f5" Alias="Comment by Sebastiaan Janssen (2) (1)" Level="4">
  <Info>
    <Parent Key="89cac2c8-a5d1-42c8-84c9-25bf5344b85a">How to use ASP.NET Web API in Umbraco 4 &amp; .NET 4.0</Parent>
    <Path>/Site/Blog/HowToUseASPNETWebAPIInUmbraco4NET40/CommentBySebastiaanJanssen21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-11-11T13:56:02</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (2) (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I'll ask Shannon if this can be fixed in 4.11.0 somehow, we've been talking about a similar scenario before so I think he might be able to make it work again.<br /><br />Also, for your information, we're now offering a new way to register routes that might be handier for you, read about it here:<br /><br />http://issues.umbraco.org/issue/U4-1173]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>