<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f5891a9-d369-47ce-ba21-f69cb378227a" Alias="comment by Chris Houston" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/commentByChrisHouston</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-12-20T14:30:15</CreateDate>
    <NodeName Default="comment by Chris Houston" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan,<br /><br />We do exactly the same as you, however we prefer not to use the 301 and we usually put in a bit of logic on our XSLT that generates the navigation so that the home page link goes to the root of the site instead of /home that way avoiding the 301 re-direct entirely.<br /><br />Happy Christmas to you too!<br /><br />Chris]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[chouston@vizioz.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Chris Houston]]></Value>
    </commenterName>
  </Properties>
</Content>