<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a76f2c1-1ce4-41fe-b52a-ca0ada96966a" Alias="Comment by 80s Rocker" Level="4">
  <Info>
    <Parent Key="d7e30272-271c-4496-8da7-f60b21b9bdca">Tip of the week: ReSharper Code Templates</Parent>
    <Path>/Site/Blog/TipOfTheWeekReSharperCodeTemplates/CommentBy80sRocker</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-03-18T15:35:57</CreateDate>
    <NodeName Default="Comment by 80s Rocker" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[But are the extra type checks really that big of performance hit?<br /><br />1) Only called once per page and it is run client side.<br /><br />2) Javascript is cached after it is loaded once.<br /><br />Not saying the extra type checks are not adding some time to call, but how much.  For most sites I doubt that the time difference is that big of deal, so unless it adds significant time to page load, I'll stick with shorthand method.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[pcresourcesllc@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[80s Rocker]]></Value>
    </commenterName>
  </Properties>
</Content>