<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f40f8f4-f25d-451e-8d29-3e4cd4aaf6cb" Alias="Comment by Henri" Level="4">
  <Info>
    <Parent Key="19b88e6d-7779-48d8-bba3-74c2b922c806">Umbraco - Object reference not set..</Parent>
    <Path>/Site/Blog/UmbracoObjectReferenceNotSet/CommentByHenri</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-10-02T13:58:17</CreateDate>
    <NodeName Default="Comment by Henri" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Ugh, an old site has started doing this on a weekly basis. Only solution that i have found is to recycle the app pool.<br /><br />Annoying as hell, and I'd rather not update the site. Did anyone ever figure out what caused this?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[eatfrog@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Henri]]></Value>
    </commenterName>
  </Properties>
</Content>