<?xml version="1.0" encoding="utf-8"?>
<Content Key="2aa0cf4e-993d-42ac-96c9-a928c0f1a2f0" Alias="Comment by Jose Cerqueiro (3) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentByJoseCerqueiro311</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-11-16T15:45:17</CreateDate>
    <NodeName Default="Comment by Jose Cerqueiro (3) (1) (1)" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[That clarifies a lot.<br />We already have an UC paid subscription but I agree with you we should create a dummy project to experiment a lot more.<br /><br />Please note that, despite the bumps we had while learning, we like UC very much and are actively promoting the service to our customers.<br /><br />Thank very much you for your time]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jac@ikels.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jose Cerqueiro]]></Value>
    </commenterName>
  </Properties>
</Content>