<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2d7bbae-25d0-4914-ade1-b63667b5b04c" Alias="Comment by Sebastiaan Janssen (2) (2)" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentBySebastiaanJanssen22</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-03-30T11:44:10</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (2) (2)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@Ali No, right now your custom migrations always runs during startup in your event handler, not in the upgrade installer screen.<br /><br />As said in the post above, we want to run this in the upgrade installer as well but that&#39;s not there yet.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@cultiv.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>