<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3e2a4f8-9968-46a2-98a7-8d9faac05c1f" Alias="Comment by Sebastiaan Janssen (7) (1)" Level="4">
  <Info>
    <Parent Key="89cac2c8-a5d1-42c8-84c9-25bf5344b85a">How to use ASP.NET Web API in Umbraco 4 &amp; .NET 4.0</Parent>
    <Path>/Site/Blog/HowToUseASPNETWebAPIInUmbraco4NET40/CommentBySebastiaanJanssen71</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-02-11T16:41:34</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (7) (1)" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@Damian Register the route like so:<br />https://gist.github.com/nul800sebastiaan/4755162<br /><br />In web.config add ~/api in the umbracoReservedPaths and create an ApiController class like above (just start with the default example to test if it works and go to /api/values).]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@umbraco.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>