<?xml version="1.0" encoding="utf-8"?>
<Content Key="05710e98-a4d6-4677-ad40-adced5468b16" Alias="Comment by Julius Bartkus (2)" Level="4">
  <Info>
    <Parent Key="1d3433cb-236a-47dc-922b-4c5fb0b26942">How to use Razor in Umbraco - Paging</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbracoPaging/CommentByJuliusBartkus2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-08-09T10:46:06</CreateDate>
    <NodeName Default="Comment by Julius Bartkus (2)" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[There is no need for currentId in<br />@helper RenderPaging(Paging paging, int currentId) {<br /><br />because paging holds CurrentPage value]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sourness@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Julius Bartkus]]></Value>
    </commenterName>
  </Properties>
</Content>