<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6175b80-48e0-42fe-aa28-8b84e9a4fbad" Alias="Comment by Markus The (4) (1) (1)" Level="4">
  <Info>
    <Parent Key="30f2acbe-5336-477b-bd56-81bd54da1b05">Let's Encrypt, on Windows</Parent>
    <Path>/Site/Blog/LetsEncryptOnWindows/CommentByMarkusThe411</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-07-20T14:37:14</CreateDate>
    <NodeName Default="Comment by Markus The (4) (1) (1)" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[But it DOES support &quot;Subject Alternative Names&quot; - SAN&#39;s. This allows you to have a single certificate covering www.site.com and site.com (and site2.com and site3.com, etc.)<br /><br />I&#39;ve used ACMESharp (https://github.com/ebekker/ACMESharp), which has a PowerShell script supporting SAN&#39;s.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[markus@mobzystems.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Markus The]]></Value>
    </commenterName>
  </Properties>
</Content>