<?xml version="1.0" encoding="utf-8"?>
<Content Key="21dca0c0-59fe-4949-8771-e7c0ab644453" Alias="Comment by Giuliano" Level="4">
  <Info>
    <Parent Key="61900023-d419-4bf7-ae38-f7cf3e046293">Making sure your Umbraco site performs on Azure</Parent>
    <Path>/Site/Blog/MakingSureYourUmbracoSitePerformsOnAzure/CommentByGiuliano</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2018-12-06T14:01:26</CreateDate>
    <NodeName Default="Comment by Giuliano" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi, <br /><br />I was reading your article about useTempStorage=&quot;Sync&quot; and I noticed that it is flagged as obsolete <br />there: https://github.com/umbraco/Umbraco-CMS/blob/dd6e764588d22ef2b7bce01fd504ece89834f181/src/UmbracoExamine/UmbracoExamineSearcher.cs <br /><br />but still used there: https://github.com/umbraco/Umbraco-CMS/blob/dd6e764588d22ef2b7bce01fd504ece89834f181/src/UmbracoExamine/BaseUmbracoIndexer.cs<br /><br />Is it still used ? ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[giuliano.dore@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Giuliano]]></Value>
    </commenterName>
  </Properties>
</Content>