<?xml version="1.0" encoding="utf-8"?>
<Content Key="48f15825-685d-4c9c-9825-0ff6f0dbdc46" Alias="comment by Laurence" Level="4">
  <Info>
    <Parent Key="23730856-5905-4b13-9659-eed5a781c7d9">Umbraco tip of the week: Redirects</Parent>
    <Path>/Site/Blog/UmbracoTipOfTheWeekRedirects/commentByLaurence</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2009-06-28T16:44:25</CreateDate>
    <NodeName Default="comment by Laurence" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[interesting tip!<br />thanks! (: lau]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[lau@voodoodog.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Laurence]]></Value>
    </commenterName>
  </Properties>
</Content>