<?xml version="1.0" encoding="utf-8"?>
<Content Key="03cbecb7-cb2b-430d-99bf-4617041953a1" Alias="Comment by Sebastiaan Janssen (3) (1)" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentBySebastiaanJanssen31</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-06-19T18:59:36</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (3) (1)" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hmmm, try doing a save & publish on the homepage. If that doesn't help then I'm not sure what the problem is, be best to post a question at our.umbraco.org then!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>