<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb485628-25ef-4f98-946d-5c0d6398cc4d" Alias="Comment by Indrakumar" Level="4">
  <Info>
    <Parent Key="0920d9f0-19e4-4337-b89d-5e3a2aa55914">Umbraco developer productivity with uSiteBuilder</Parent>
    <Path>/Site/Blog/UmbracoDeveloperProductivityWithUSiteBuilder/CommentByIndrakumar</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-10T14:00:51</CreateDate>
    <NodeName Default="Comment by Indrakumar" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Iam using uSiteBuilder in one of my project I agree that uSiteBuilder simplify our project development, specially large project can be develop very fast and<br />make deployment very easy. One thing I like most about it is the .net way of development.<br />I hope future releases will incorporate lots of feature.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[indrakumar_mca@yahoo.co.in]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Indrakumar]]></Value>
    </commenterName>
  </Properties>
</Content>