<?xml version="1.0" encoding="utf-8"?>
<Content Key="96772fca-476c-4f7c-bf3b-c8bd46fe277c" Alias="Comment by Casey Neehouse" Level="4">
  <Info>
    <Parent Key="3a288864-9cc4-4a1d-a1c0-e5d16eb81582">Umbraco tip of the week: give your editors less choice</Parent>
    <Path>/Site/Blog/UmbracoTipOfTheWeekGiveYourEditorsLessChoice/CommentByCaseyNeehouse</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2014-01-31T17:22:15</CreateDate>
    <NodeName Default="Comment by Casey Neehouse" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Great Points.  I have been hooking into the create dialog (in v6) and removing things that are already created.  Admins still get the full list, but general users get the simple list.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[casey@neehouse.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Casey Neehouse]]></Value>
    </commenterName>
  </Properties>
</Content>