<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a31a25b-6168-4266-aa54-4cab1d94e7fd" Alias="comment by Sebastian" Level="4">
  <Info>
    <Parent Key="986ca3ab-f023-4de6-bf98-48ddd3227e20">Released: Contact Form Package</Parent>
    <Path>/Site/Blog/ReleasedContactFormPackage/commentBySebastian</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2009-10-16T11:35:48</CreateDate>
    <NodeName Default="comment by Sebastian" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi - great work!<br />The best contact form i found for umbraco.<br />But i can't integrate it in the masterpage because i (and otners too) have Problems with the form tags: http://our.umbraco.org/projects/cultiv-contact-form/requests-and-questions/4411-Error-on-use---A-page-can-have-only-one-server-side-Form-tag<br />any Ideas?<br />greetz<br />Sewi]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastian@kogler-software.at]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastian]]></Value>
    </commenterName>
  </Properties>
</Content>