<?xml version="1.0" encoding="utf-8"?>
<Content Key="91884549-3b27-4b15-b621-f70e561c8035" Alias="Comment by Lotte" Level="4">
  <Info>
    <Parent Key="dc3d7a4e-076b-4591-ae33-360e41dd02a8">Easily debug your custom Umbraco user controls in Visual Studio</Parent>
    <Path>/Site/Blog/EasilyDebugYourCustomUmbracoUserControlsInVisualStudio/CommentByLotte</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-09-13T11:16:55</CreateDate>
    <NodeName Default="Comment by Lotte" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Would this way work with Visual Studio 2010 and the latest umbraco (4.9 at time of writing I believe)?  Or has this approach now been revised since?<br /><br />Also, whilst I'm at it, with v4.9 do you still need to create masterpages via the browser interface and not in VS directly (think that used to be the case)? ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[Umbraco@lottepitcher.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Lotte]]></Value>
    </commenterName>
  </Properties>
</Content>