<?xml version="1.0" encoding="utf-8"?>
<Content Key="139baae5-a995-436b-b0ac-50d434bd8f02" Alias="Comment by Alex" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentByAlex</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2017-05-19T06:12:32</CreateDate>
    <NodeName Default="Comment by Alex" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi.<br />I have a question, what will happened if upgrade fails? <br />Does all migration run in transaction?<br />Can I just restore only files in web site folder to rollback previous version?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[alexey.miller@outlook.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Alex]]></Value>
    </commenterName>
  </Properties>
</Content>