<?xml version="1.0" encoding="utf-8"?>
<Content Key="119f3fd4-3cbc-4ab2-9d5b-4125a4840ad6" Alias="Comment by martin griffiths" Level="4">
  <Info>
    <Parent Key="aa926dd0-d71a-48f1-813a-362637c6f9aa">Moving from DateFolders to Umbraco's new ListView</Parent>
    <Path>/Site/Blog/MovingFromDateFoldersToUmbracosNewListView/CommentByMartinGriffiths</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2014-01-27T11:38:52</CreateDate>
    <NodeName Default="Comment by martin griffiths" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Why did you go to the trouble of putting all posts in the root of the blog? For housekeeping would it not have made sense to at least retain the year folders and switch those to listview?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[martin.griffiths@lcp.uk.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[martin griffiths]]></Value>
    </commenterName>
  </Properties>
</Content>