<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f18cbab-64a3-44ca-9bf6-9ecd8fd37484" Alias="Comment by Nicolai M" Level="4">
  <Info>
    <Parent Key="580def6d-c4f7-41d3-9981-e05e4051881a">Screencast: Installing Umbraco</Parent>
    <Path>/Site/Blog/ScreencastInstallingUmbraco/CommentByNicolaiM</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-11-26T12:10:07</CreateDate>
    <NodeName Default="Comment by Nicolai M" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I hope I get my message across:<br />I have no problem setting up Umbraco site as new web site on IIS (let's call it websiteA). The problem for me is getting a copy of this websiteA folder working when I copy it to root of another site and make it an application. http://websiteB/copyOfWebsiteAfolder<br />I did make sure correct appPool, permissions, etc. What I'm left with is resolving of URL not working. Like CSS, images (like /images/logo.png, not talking about the media folder).<br />So please - another answer than <base href="/websiteAfolder" /> cause that doesn't work.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[dererpost@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Nicolai M]]></Value>
    </commenterName>
  </Properties>
</Content>