<?xml version="1.0" encoding="utf-8"?>
<Content Key="770808e7-eba3-42e8-9032-e824960df6e1" Alias="Comment by Mark Drake" Level="4">
  <Info>
    <Parent Key="ce9858a0-7b07-4fe5-bfdc-cded00fbb212">So you want to secure your Umbraco site</Parent>
    <Path>/Site/Blog/SoYouWantToSecureYourUmbracoSite/CommentByMarkDrake</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-03-31T14:14:53</CreateDate>
    <NodeName Default="Comment by Mark Drake" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I can&#39;t imagine the time it took you to go through all of this - thank you. All of this material is great and will become part of our checklist prior to launches. Great info, tools, and processes. Thanks!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[markusdrake@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Mark Drake]]></Value>
    </commenterName>
  </Properties>
</Content>