<?xml version="1.0" encoding="utf-8"?>
<Content Key="e87e1128-4b9d-4c2f-b7eb-f5779b045509" Alias="Comment by Luis M (1) (1)" Level="4">
  <Info>
    <Parent Key="986ca3ab-f023-4de6-bf98-48ddd3227e20">Released: Contact Form Package</Parent>
    <Path>/Site/Blog/ReleasedContactFormPackage/CommentByLuisM11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-10-12T01:36:34</CreateDate>
    <NodeName Default="Comment by Luis M (1) (1)" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[sorry my emails in the last message had some errors. Iam sorry. In that comment it is ok]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[lmunoz@pictoric.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Luis M]]></Value>
    </commenterName>
  </Properties>
</Content>