<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1fa1067-c2ec-44c2-9cf1-46ea9f5686ba" Alias="comment by bob baty-barr" Level="4">
  <Info>
    <Parent Key="f82bcc16-d998-4bce-b0ab-b4f0407bbf46">Umbraco MVP - Don't vote for me</Parent>
    <Path>/Site/Blog/UmbracoMVPDontVoteForMe/commentByBobBatyBarr</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-02-05T16:13:15</CreateDate>
    <NodeName Default="comment by bob baty-barr" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Nicely done Sebastiaan -- great work all around!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bob@maliciousthinktank.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[bob baty-barr]]></Value>
    </commenterName>
  </Properties>
</Content>