<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8c84028-ca96-4aae-9dd4-7d45502803a2" Alias="Comment by Omid Tansaz (2)" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentByOmidTansaz2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-07-11T13:04:21</CreateDate>
    <NodeName Default="Comment by Omid Tansaz (2)" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[JSON with children also containing node ID & Names:<br /><br /><br /><br />@{<br />var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();<br />var myList = new List<object>();<br />foreach (var item in Model.Children.Where("umbracoNaviHide != true"))<br />{<br />var thisNode = new umbraco.NodeFactory.Node(item.Id);<br />var thisNodeProperties = new Dictionary<string,object>();<br />thisNodeProperties.Add("Id",thisNode.Id);    thisNodeProperties.Add("Name",thisNode.Name);<br />thisNodeProperties.Add("Properties",thisNode.PropertiesAsList);<br />myList.Add(thisNodeProperties);<br />}<br />@Html.Raw(serializer.Serialize(myList));<br />} ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[pet78pfz@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Omid Tansaz]]></Value>
    </commenterName>
  </Properties>
</Content>