<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd3903c6-b5dc-4fb6-b8ce-70b845b7eb1f" Alias="Comment by Lee" Level="4">
  <Info>
    <Parent Key="0920d9f0-19e4-4337-b89d-5e3a2aa55914">Umbraco developer productivity with uSiteBuilder</Parent>
    <Path>/Site/Blog/UmbracoDeveloperProductivityWithUSiteBuilder/CommentByLee</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-09T09:50:45</CreateDate>
    <NodeName Default="Comment by Lee" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Great stuff Seb! Just like Simon I love seeing how other people have their stucture.<br /><br />I have looked at uSiteBuilder but think I'll wait until its a bit more mature before I start chucking loads of time into it.<br /><br />Hope to see more blogs like this in the future :)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[lee@n3o.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Lee]]></Value>
    </commenterName>
  </Properties>
</Content>