<?xml version="1.0" encoding="utf-8"?>
<Content Key="bde4a432-d908-4071-bacb-f8ebfd6b6fe2" Alias="Comment by Jose Cerqueiro (2) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentByJoseCerqueiro211</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-11-16T14:19:50</CreateDate>
    <NodeName Default="Comment by Jose Cerqueiro (2) (1) (1)" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Sebastiaan, thanks a lot for your recommendations and warnings regarding uSync. We are reconsidering to give our developers access to UC and learn how to work with Git branches<br /><br />Getting back to my original question, is there any advice against customizing the .gitignore that comes with the cloned git repo from UC ?<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jac@ikels.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jose Cerqueiro]]></Value>
    </commenterName>
  </Properties>
</Content>