<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e77f734-e141-44fb-af1d-a080082b007c" Alias="Comment by Christoph" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByChristoph</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-08-08T22:44:29</CreateDate>
    <NodeName Default="Comment by Christoph" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[thanks, this was brilliant.  should be part of the official instructions when you download the file from codeplex]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[cc_nelson@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Christoph]]></Value>
    </commenterName>
  </Properties>
</Content>