<?xml version="1.0" encoding="utf-8"?>
<Content Key="3268ff9d-49dd-4b4d-a0bb-aeb6d606454f" Alias="comment by Chris Houston (1) (1)" Level="4">
  <Info>
    <Parent Key="580def6d-c4f7-41d3-9981-e05e4051881a">Screencast: Installing Umbraco</Parent>
    <Path>/Site/Blog/ScreencastInstallingUmbraco/commentByChrisHouston11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-02-01T00:34:35</CreateDate>
    <NodeName Default="comment by Chris Houston (1) (1)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Nice video Sebastiaan,<br /><br />I am sure there will be a lot of new people out there who will find this useful, I know I would have done when I first started out with Umbraco :)<br /><br />What software did you use to make your screencast?<br /><br />Cheers,<br /><br />Chris]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[chouston@vizioz.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Chris Houston]]></Value>
    </commenterName>
  </Properties>
</Content>