<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ccf07df-abda-418d-9a24-87141d82c92b" Alias="Comment by Damian (2)" Level="4">
  <Info>
    <Parent Key="89cac2c8-a5d1-42c8-84c9-25bf5344b85a">How to use ASP.NET Web API in Umbraco 4 &amp; .NET 4.0</Parent>
    <Path>/Site/Blog/HowToUseASPNETWebAPIInUmbraco4NET40/CommentByDamian2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-02-11T11:33:05</CreateDate>
    <NodeName Default="Comment by Damian (2)" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan<br /><br />Do you know the best way to utilise WebAPI v Standard Controllers in Umbraco v6.<br /><br />Been trying to get WEBApi to play nicely in a separate project for v6 like you have in this article  and not having a great deal of luck at the moment.<br /><br />Thanks]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[djomen.mobile@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Damian]]></Value>
    </commenterName>
  </Properties>
</Content>