<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9371da6-144e-47eb-ad60-d0cfb9700525" Alias="Comment by James Jackson-South" Level="4">
  <Info>
    <Parent Key="ce9858a0-7b07-4fe5-bfdc-cded00fbb212">So you want to secure your Umbraco site</Parent>
    <Path>/Site/Blog/SoYouWantToSecureYourUmbracoSite/CommentByJamesJacksonSouth</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-03-29T05:53:44</CreateDate>
    <NodeName Default="Comment by James Jackson-South" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[This is an excellent blog post! I&#39;ll be referring to it for every release now. <br /><br />Been thinking about the umbracoUseSSL setting. I usually use HttpContext.Request.IsSecureConnection to determine whether the Secure property should be set. That&#39;s one less thing to forget. ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[james_south@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[James Jackson-South]]></Value>
    </commenterName>
  </Properties>
</Content>