<?xml version="1.0" encoding="utf-8"?>
<Content Key="bade4400-442c-4f3c-945c-bc75adf9e27d" Alias="comment by Donald Burgess" Level="4">
  <Info>
    <Parent Key="dc3d7a4e-076b-4591-ae33-360e41dd02a8">Easily debug your custom Umbraco user controls in Visual Studio</Parent>
    <Path>/Site/Blog/EasilyDebugYourCustomUmbracoUserControlsInVisualStudio/commentByDonaldBurgess</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2009-12-16T06:27:35</CreateDate>
    <NodeName Default="comment by Donald Burgess" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hello Jay<br />I have followed your instruction and also created a entry in IIS7 to create a website "UmbracoDevelop" with a physical path to "C:\users\admin\documents\projet1\UmbracoDevelop"<br />the folders UmbrcoFramework and UmbracoModules are in the UmbracoDevelop folder.  I have set the custom Web Server to http://UmbracoDevelop for both HelloWord and UmbracoFramework.<br />Also checked all the permission and they seem OK.<br /><br />However, when I run debug (F%5) I get an error "Unable to start debugging on the web server. The debugger cannot connect to the remote computer. ..."<br /><br />Is there something I am missing in the instruction?<br /><br />Thanks<br />Don]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[donaldburgess266@bigpond.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Donald Burgess]]></Value>
    </commenterName>
  </Properties>
</Content>