<?xml version="1.0" encoding="utf-8"?>
<Content Key="64cf6310-8ff7-466a-b79e-b41718f1e3f8" Alias="comment by Lee Kelleher" Level="4">
  <Info>
    <Parent Key="f82bcc16-d998-4bce-b0ab-b4f0407bbf46">Umbraco MVP - Don't vote for me</Parent>
    <Path>/Site/Blog/UmbracoMVPDontVoteForMe/commentByLeeKelleher</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-02-05T14:26:48</CreateDate>
    <NodeName Default="comment by Lee Kelleher" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks for the kind words Sebastiaan. Don't stop what you're doing in the community, who else would I have to compete with for the number #1 slot? ;-)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[lee@vertino.net]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Lee Kelleher]]></Value>
    </commenterName>
  </Properties>
</Content>