<?xml version="1.0" encoding="utf-8"?>
<Content Key="88e7efb6-950c-4792-9cbe-6c572986314a" Alias="Comment by Shannon (2) (1)" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentByShannon21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-12-28T06:17:05</CreateDate>
    <NodeName Default="Comment by Shannon (2) (1)" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[No migration should be using any reference to ApplicationContext.Current or the Database or DatabaseContext directly. The usage of this `_schemaHelper.CreateTable&lt;Statistics&gt;(false);` to create a table is incorrect and will result in you not being able to rollback if something goes wrong since this executes outside of the migrations transaction. You can see in the Umbraco Core the code we use to create/modify tables and all of that is done on the underlying migration context.<br /><br />Also ApplicationContext.Current singletons shouldn&#39;t be used on views since it&#39;s already exposed as a property]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sdeminick@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Shannon]]></Value>
    </commenterName>
  </Properties>
</Content>