<?xml version="1.0" encoding="utf-8"?>
<Content Key="ffa549c2-2c74-4b23-b57a-8dd86612011a" Alias="Comment by Nick (2) (1)" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByNick21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-06-19T19:00:39</CreateDate>
    <NodeName Default="Comment by Nick (2) (1)" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[yep, tried that too. no luck.<br /><br />thanks for your help though!<br />I did read that it is related to unused macros so testing that now.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[nickpavone@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Nick]]></Value>
    </commenterName>
  </Properties>
</Content>