<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0249961-328a-464e-9303-7c7a2944ef81" Alias="comment by J Bo " Level="4">
  <Info>
    <Parent Key="bf5a2a4e-05e1-4978-a4bd-7ba0d9e36e4f">Convert between VS2008 and 2010 projects, automatically</Parent>
    <Path>/Site/Blog/ConvertBetweenVS2008And2010ProjectsAutomatically/commentByJBo</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-12-14T01:29:01</CreateDate>
    <NodeName Default="comment by J Bo " />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I have tried the 2010 to 2008 .bat and ssr.exe files in both of the directories that my projet has .sln files and still am unable to open in 2008 :(<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[vengaboymt@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[J Bo ]]></Value>
    </commenterName>
  </Properties>
</Content>