<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ac72743-b187-44ed-8124-10f06a3dfa28" Alias="Comment by Jeffrey Schoemaker" Level="4">
  <Info>
    <Parent Key="30f2acbe-5336-477b-bd56-81bd54da1b05">Let's Encrypt, on Windows</Parent>
    <Path>/Site/Blog/LetsEncryptOnWindows/CommentByJeffreySchoemaker</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2015-12-07T12:32:23</CreateDate>
    <NodeName Default="Comment by Jeffrey Schoemaker" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebas,<br /><br />thanks for researching and sharing! It was on my todo-list for a long time and this makes it a lot easier. <br /><br />I&#39;ve heard that it&#39;s currently not available for The Netherlands? Have you heard that too?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jeffrey.schoemaker@perplex.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jeffrey Schoemaker]]></Value>
    </commenterName>
  </Properties>
</Content>