<?xml version="1.0" encoding="utf-8"?>
<Content Key="8af91180-1f35-45ac-8e21-63c368a27af9" Alias="Comment by Eran" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentByEran</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-08-09T11:12:34</CreateDate>
    <NodeName Default="Comment by Eran" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[really interesting. thanks.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[eran@thereturnvalue.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Eran]]></Value>
    </commenterName>
  </Properties>
</Content>