<?xml version="1.0" encoding="utf-8"?>
<Content Key="f73572c3-0ae8-4b86-8d55-6a4e14686be8" Alias="comment by Lee" Level="4">
  <Info>
    <Parent Key="580def6d-c4f7-41d3-9981-e05e4051881a">Screencast: Installing Umbraco</Parent>
    <Path>/Site/Blog/ScreencastInstallingUmbraco/commentByLee</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-02-01T07:08:13</CreateDate>
    <NodeName Default="comment by Lee" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Awesome Sebastiaan, I was thinking about doing the same thing :)  Great minds think a like! (Or is it fools never differ .. lol) - Anyway this will be great for people starting out :)  Top job]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[lee@armcom.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Lee]]></Value>
    </commenterName>
  </Properties>
</Content>