<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9ac819a-8187-492b-83d3-d1fa263875f2" Alias="Comment by khalid" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentByKhalid</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-02-28T04:25:32</CreateDate>
    <NodeName Default="Comment by khalid" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[How i can install Umbraco , i am the new user , please help what i need for it do.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[mikesofltd@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[khalid]]></Value>
    </commenterName>
  </Properties>
</Content>