<?xml version="1.0" encoding="utf-8"?>
<Content Key="e490af49-8c43-4c99-9b7a-26a07641b546" Alias="comment by Yannick" Level="4">
  <Info>
    <Parent Key="5fc1d04e-b1da-4fd6-885a-cb824335b547">Using "/base" to create and consume a JSON string</Parent>
    <Path>/Site/Blog/UsingBaseToCreateAndConsumeAJSONString/commentByYannick</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-10-13T16:05:23</CreateDate>
    <NodeName Default="comment by Yannick" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[thanks, I was wondering if I could need this one day but hey that's one very specific use case.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[yannick@goyaweb.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Yannick]]></Value>
    </commenterName>
  </Properties>
</Content>