<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f1955b2-b038-4ce3-8121-dec95a9cfa7d" Alias="Comment by Anon (1) (1)" Level="4">
  <Info>
    <Parent Key="89cac2c8-a5d1-42c8-84c9-25bf5344b85a">How to use ASP.NET Web API in Umbraco 4 &amp; .NET 4.0</Parent>
    <Path>/Site/Blog/HowToUseASPNETWebAPIInUmbraco4NET40/CommentByAnon11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-12-10T09:48:36</CreateDate>
    <NodeName Default="Comment by Anon (1) (1)" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[That's awesome, thanks a mil!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gavinfoley@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Anon]]></Value>
    </commenterName>
  </Properties>
</Content>