<?xml version="1.0" encoding="utf-8"?>
<Content Key="f676e584-0765-4126-9460-ee41cff629aa" Alias="Comment by Vaidas Sirtautas (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="06fe3c53-e8db-4a06-ab90-267b081a9a1d">How to diagnose Umbraco upgrade problems</Parent>
    <Path>/Site/Blog/HowToDiagnoseUmbracoUpgradeProblems/CommentByVaidasSirtautas111</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-10-25T08:01:50</CreateDate>
    <NodeName Default="Comment by Vaidas Sirtautas (1) (1) (1)" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@Sebastiaan, thanks!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[v@vsshs.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Vaidas Sirtautas]]></Value>
    </commenterName>
  </Properties>
</Content>