<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b9144f7-892a-4df4-a415-3758d6e788e5" Alias="Comment by Sebastiaan Janssen (4) (1)" Level="4">
  <Info>
    <Parent Key="89cac2c8-a5d1-42c8-84c9-25bf5344b85a">How to use ASP.NET Web API in Umbraco 4 &amp; .NET 4.0</Parent>
    <Path>/Site/Blog/HowToUseASPNETWebAPIInUmbraco4NET40/CommentBySebastiaanJanssen41</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-11-12T08:33:20</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (4) (1)" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Look at the issue I posted:<br />http://issues.umbraco.org/issue/U4-854<br /><br />So I meant using IApplicationEventHandler is the recommended way forward from now on.<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>