<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf236bba-0570-4b6e-800a-bb6e5ef71220" Alias="Comment by Sebastiaan Janssen (5) (1)" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/CommentBySebastiaanJanssen51</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-05-29T19:46:09</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (5) (1)" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Yup, that'll work as well, however, it doesn't do a 301 but a 302 (temporary) redirect so search engines will try to index it over and over again.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>