<?xml version="1.0" encoding="utf-8"?>
<Content Key="9191dcc7-ed94-4c86-9f0c-9d1c53767e4a" Alias="Comment by Damian (1) (1)" Level="4">
  <Info>
    <Parent Key="89cac2c8-a5d1-42c8-84c9-25bf5344b85a">How to use ASP.NET Web API in Umbraco 4 &amp; .NET 4.0</Parent>
    <Path>/Site/Blog/HowToUseASPNETWebAPIInUmbraco4NET40/CommentByDamian11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-02-12T11:42:15</CreateDate>
    <NodeName Default="Comment by Damian (1) (1)" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Aweome. I actually game back to say i managed to get it working using the AppStart example for the old version but saw your reply.<br /><br />Gave it a whirl and it works great - and much cleaner! :)<br /><br />Thanks Sebastiaan.<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[djomen.mobile@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Damian]]></Value>
    </commenterName>
  </Properties>
</Content>