<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c364370-118d-4533-b27c-09ffab03605b" Alias="comment by Pinal Bhatt (2) (1)" Level="4">
  <Info>
    <Parent Key="fab8f78d-5d8e-4f5d-b50d-50d4ce5c6de0">How to use Razor in Umbraco</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbraco/commentByPinalBhatt21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-02-16T17:59:17</CreateDate>
    <NodeName Default="comment by Pinal Bhatt (2) (1)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks a lot Sebastiaan. ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[self@pbdesk.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Pinal Bhatt]]></Value>
    </commenterName>
  </Properties>
</Content>