<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e1aa6ab-8659-4b1a-bd39-e11c5b1e636a" Alias="Comment by Mark Wemekamp (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="ce9858a0-7b07-4fe5-bfdc-cded00fbb212">So you want to secure your Umbraco site</Parent>
    <Path>/Site/Blog/SoYouWantToSecureYourUmbracoSite/CommentByMarkWemekamp111</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2017-01-04T14:47:50</CreateDate>
    <NodeName Default="Comment by Mark Wemekamp (1) (1) (1)" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks for the heads up David, I missed that part.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[mwemekamp@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Mark Wemekamp]]></Value>
    </commenterName>
  </Properties>
</Content>