<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe5715e4-4923-495e-a011-f24e6ffacdf8" Alias="Comment by Mike Chambers (2) (1)" Level="4">
  <Info>
    <Parent Key="06fe3c53-e8db-4a06-ab90-267b081a9a1d">How to diagnose Umbraco upgrade problems</Parent>
    <Path>/Site/Blog/HowToDiagnoseUmbracoUpgradeProblems/CommentByMikeChambers21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-02-27T17:22:07</CreateDate>
    <NodeName Default="Comment by Mike Chambers (2) (1)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Have had some hicups of late where clearing the gac resolved it... Just deleting the relevant temp asp.net folder...]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[Mike@mistynight.plus.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Mike Chambers]]></Value>
    </commenterName>
  </Properties>
</Content>