<?xml version="1.0" encoding="utf-8"?>
<Content Key="538907bb-16c8-4a5c-bdbb-fa2961936138" Alias="Comment by Tim Gaunt" Level="4">
  <Info>
    <Parent Key="8bfdd0da-09d9-41ba-848d-2f41dbc3e719">Styling the ASP.NET login controls</Parent>
    <Path>/Site/Blog/StylingTheASPNETLoginControls/CommentByTimGaunt</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-09-26T10:07:55</CreateDate>
    <NodeName Default="Comment by Tim Gaunt" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@Dirk and @Jan, if you don't want the surrounding table you can add: RenderOuterTable="False" to the asp:login e.g.:<br /><br />&lt;asp:Login runat="server" RenderOuterTable="False"&gt;<br /><br />Hope the helps.<br /><br />Tim]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[timgaunt@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Tim Gaunt]]></Value>
    </commenterName>
  </Properties>
</Content>