<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec1fe721-bd27-4124-bfe0-0725d170fa4f" Alias="Comment by Yannick" Level="4">
  <Info>
    <Parent Key="34e92740-8aaa-4d8e-85ac-5c9ddbf1a54d">From 0 to Umbraco site in 60 seconds</Parent>
    <Path>/Site/Blog/From0ToUmbracoSiteIn60Seconds/CommentByYannick</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-09-13T19:05:06</CreateDate>
    <NodeName Default="Comment by Yannick" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[61s]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[yannick@goyaweb.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Yannick]]></Value>
    </commenterName>
  </Properties>
</Content>