<?xml version="1.0" encoding="utf-8"?>
<Content Key="33b0bb1d-bc38-4291-b4f4-aa6a161ad3a2" Alias="Comment by Jose Cerqueiro (2) (2)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentByJoseCerqueiro22</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-11-15T21:02:08</CreateDate>
    <NodeName Default="Comment by Jose Cerqueiro (2) (2)" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan, great post. Thanks<br /><br />Is there any advice against customizing the .gitignore that comes with the cloned git repository from Umbraco Cloud ?<br /><br />I am asking because I would like to install uSync in the local repo *but* exclude all related files from committing to the Umbraco Cloud Dev environment<br /><br />Does the .gitignore get copied from dev to live when syncing environments ?<br /><br /><br />Thanks]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jac@ikels.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jose Cerqueiro]]></Value>
    </commenterName>
  </Properties>
</Content>