<?xml version="1.0" encoding="utf-8"?>
<Content Key="89b2518f-7b03-41ac-9478-8824af53eaff" Alias="Comment by bob baty-barr (1) (1)" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentByBobBatyBarr11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-09-22T00:09:45</CreateDate>
    <NodeName Default="Comment by bob baty-barr (1) (1)" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[i know this is not right...<br />@foreach (var item in @Model.Children.Where("umbracoNaviHide != true")){<br />var node = new umbraco.NodeFactory.Node(item.Id);<br />var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();<br />@Html.Raw(serializer.Serialize(node.Properties));<br />}<br /><br />but i don't really know how to scope the vars right :(]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bob@maliciousthinktank.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[bob baty-barr]]></Value>
    </commenterName>
  </Properties>
</Content>