<?xml version="1.0" encoding="utf-8"?>
<Content Key="8cb30143-8fcc-4425-a53b-e66b37e73a90" Alias="comment by Aaron Williams" Level="4">
  <Info>
    <Parent Key="8b780c93-7446-4a37-a8cf-993c2e5320bb">A basic backup strategy</Parent>
    <Path>/Site/Blog/ABasicBackupStrategy/commentByAaronWilliams</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2009-12-30T17:12:24</CreateDate>
    <NodeName Default="comment by Aaron Williams" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks Sebastiaan!  I'm on a VPS as well so going to play with the SQLExpress part of the backup tonight.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bayshield@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Aaron Williams]]></Value>
    </commenterName>
  </Properties>
</Content>