<?xml version="1.0" encoding="utf-8"?>
<Content Key="79a8585a-626a-4d41-b986-212d33eeccdb" Alias="comment by Bijesh" Level="4">
  <Info>
    <Parent Key="f40055a7-d573-4f60-9f67-0d58d2d75317">SEO optimizing in Umbraco</Parent>
    <Path>/Site/Blog/SEOOptimizingInUmbraco/commentByBijesh</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-04-08T10:23:42</CreateDate>
    <NodeName Default="comment by Bijesh" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Thanks for the info, some really useful tips there.<br /><br />About the robot.txt, there is a package that enables you to edit the robots.txt file within the Developer section of Umbraco - http://our.umbraco.org/projects/robotstxt-editor]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bijesht@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Bijesh]]></Value>
    </commenterName>
  </Properties>
</Content>