<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ef687d1-8d0d-443e-8ff1-26ed9ab35095" Alias="Comment by Sebastiaan Janssen (2)" Level="4">
  <Info>
    <Parent Key="1d3433cb-236a-47dc-922b-4c5fb0b26942">How to use Razor in Umbraco - Paging</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbracoPaging/CommentBySebastiaanJanssen2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-10T12:20:25</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (2)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[With overview page I mean the page that the paging is on (which is an Umbraco template, with a Razor script file, hehe).<br /><br />FYI, there's a paging example (and other examples) in Umbraco 4.7.1, click on the arrow down next to the "Insert Inline Razor" macro button in Umbraco's template editor.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>