<?xml version="1.0" encoding="utf-8"?>
<Content Key="63e9bf5b-ed4d-4839-a556-0a7e5ca9297d" Alias="Comment by Sebastiaan Janssen (2)" Level="4">
  <Info>
    <Parent Key="986ca3ab-f023-4de6-bf98-48ddd3227e20">Released: Contact Form Package</Parent>
    <Path>/Site/Blog/ReleasedContactFormPackage/CommentBySebastiaanJanssen2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-19T11:48:37</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (2)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[The solution would be to remove the extra form runat="server" tag. However, I don't know what other forms you're using on that page.<br /><br />If you absolutely need 2 forms that run at the server on that page, make sure to add validationgroups to each form. For this package, you'd need to change the source as it's not built in (I have no plans of updating it any time soon either, I just don't have the time at the moment).]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>