<?xml version="1.0" encoding="utf-8"?>
<Content Key="5123eeb5-beae-4cd8-a1a4-0a53c36b6838" Alias="Comment by Sebastiaan Janssen (1) (1)" Level="4">
  <Info>
    <Parent Key="701a6d2c-a1aa-42fa-966f-1a57a270ef5d">Released: Media cache package</Parent>
    <Path>/Site/Blog/ReleasedMediaCachePackage/CommentBySebastiaanJanssen11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-06-24T17:31:20</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (1) (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[test]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@umbraco.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>