<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0950ae6-2217-49cc-976b-6a886333cd79" Alias="Comment by Guido Adam" Level="4">
  <Info>
    <Parent Key="23730856-5905-4b13-9659-eed5a781c7d9">Umbraco tip of the week: Redirects</Parent>
    <Path>/Site/Blog/UmbracoTipOfTheWeekRedirects/CommentByGuidoAdam</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-02-13T15:49:14</CreateDate>
    <NodeName Default="Comment by Guido Adam" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Anyone know how to Redirect Internal in Umbraco 5?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[daze@home.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Guido Adam]]></Value>
    </commenterName>
  </Properties>
</Content>