<?xml version="1.0" encoding="utf-8"?>
<Content Key="196048d4-debe-4b7d-b16d-9f030ce4a875" Alias="Comment by ismail mayat" Level="4">
  <Info>
    <Parent Key="0920d9f0-19e4-4337-b89d-5e3a2aa55914">Umbraco developer productivity with uSiteBuilder</Parent>
    <Path>/Site/Blog/UmbracoDeveloperProductivityWithUSiteBuilder/CommentByIsmailMayat</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-09T09:35:55</CreateDate>
    <NodeName Default="Comment by ismail mayat" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Sebastiaan,<br />Awesome stuff the stuff you cant do is putting me off that the moment but reckon future releases will resolve those issues. Cant wait for a session at cg11 from you ;-}<br /><br />Ismail]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[beren12@hotmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[ismail mayat]]></Value>
    </commenterName>
  </Properties>
</Content>