<?xml version="1.0" encoding="utf-8"?>
<Content Key="99309607-a732-4248-9643-c4412fe136be" Alias="Comment by Sebastiaan Janssen (4) (1)" Level="4">
  <Info>
    <Parent Key="7bc7fd85-a171-43c5-9584-baf6ff2125c0">Tip of the week: The "ultimate" site structure setup</Parent>
    <Path>/Site/Blog/TipOfTheWeekTheUltimateSiteStructureSetup/CommentBySebastiaanJanssen41</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-11T08:28:26</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (4) (1)" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[That really depends on the site that I'm building. Most of the time, these are enough. Generally, it would be things that are used throughout the whole site (and are therefore not page-specific).<br /><br />Examples include a logo that needs to change from time to time, I've used it for the google maos api key.. those sorts of things.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[gravatar.com@cork.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>