<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc91d762-d63a-440f-8e80-b2548121b147" Alias="Comment by Muhammad" Level="4">
  <Info>
    <Parent Key="3a288864-9cc4-4a1d-a1c0-e5d16eb81582">Umbraco tip of the week: give your editors less choice</Parent>
    <Path>/Site/Blog/UmbracoTipOfTheWeekGiveYourEditorsLessChoice/CommentByMuhammad</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2014-01-31T18:02:25</CreateDate>
    <NodeName Default="Comment by Muhammad" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Good tip! Lucky that I already follow it but I can understand the pain of allowing everything under root.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[imcsharpdev@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Muhammad]]></Value>
    </commenterName>
  </Properties>
</Content>