<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a4ed06b-68aa-4610-b80c-47175ef1cb20" Alias="Comment by Sebastiaan Janssen (5) (1)" Level="4">
  <Info>
    <Parent Key="6e33f47f-7e0e-4527-829f-2251b31a276a">How to install Umbraco manually</Parent>
    <Path>/Site/Blog/HowToInstallUmbracoManually/CommentBySebastiaanJanssen51</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-02-13T13:05:39</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (5) (1)" />
    <SortOrder>34</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@Peter @John Please analyze this with Fiddler and open a bug on issues.umbraco.org so it can be looked at. <br />Make sure to include relevant info like type of browser + version, the error you see in Fiddler, any firewalls that you might be behind, the proxy server your browser is using, etc.<br /><br />Again, most people do not have this problem.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@umbraco.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>