<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a2a5efa-b261-4b57-8943-8edf2c6702fe" Alias="Comment by Andy Butland" Level="4">
  <Info>
    <Parent Key="e1e9248a-f078-4689-8720-ee5a5a47f5ca">Tip of the week: Clean those ASP.NET temp files</Parent>
    <Path>/Site/Blog/TipOfTheWeekCleanThoseASPNETTempFiles/CommentByAndyButland</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2012-04-13T15:24:06</CreateDate>
    <NodeName Default="Comment by Andy Butland" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Looks handy... have you had chance to see if this technique works with embedded views too?  Have had trouble with getting those to update when working on plug-ins using them.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[abutland73@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Andy Butland]]></Value>
    </commenterName>
  </Properties>
</Content>