<?xml version="1.0" encoding="utf-8"?>
<Content Key="3920f308-3516-4dad-9c76-c4cc25b2bedf" Alias="comment by Laurie" Level="4">
  <Info>
    <Parent Key="8b780c93-7446-4a37-a8cf-993c2e5320bb">A basic backup strategy</Parent>
    <Path>/Site/Blog/ABasicBackupStrategy/commentByLaurie</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2009-12-30T16:56:55</CreateDate>
    <NodeName Default="comment by Laurie" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Good article thanks! Lau<br /><br />p.s I hope the restore does go smoothly! ;)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[lau@voodoodog.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Laurie]]></Value>
    </commenterName>
  </Properties>
</Content>