<?xml version="1.0" encoding="utf-8"?>
<Content Key="48d7aae4-d159-4583-9559-980cd318e94d" Alias="Comment by Charles Roper (2) (1)" Level="4">
  <Info>
    <Parent Key="30f2acbe-5336-477b-bd56-81bd54da1b05">Let's Encrypt, on Windows</Parent>
    <Path>/Site/Blog/LetsEncryptOnWindows/CommentByCharlesRoper21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-04-26T21:21:21</CreateDate>
    <NodeName Default="Comment by Charles Roper (2) (1)" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I&#39;ve created a script to update the _acme-challenge TXT entry on CloudFlare.<br /><br />https://gist.github.com/charlesroper/38a57c7b28cfae2bfe6b9f67ab73de98<br /><br />This could be built into the main script, but I don&#39;t know how to programatically grab the RR Value from the Complete-ACMEChallenge command.<br /><br />Does anyone know how?]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[charles@roper.im]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Charles Roper]]></Value>
    </commenterName>
  </Properties>
</Content>