<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d419b41-112f-48c6-9d52-00ab9bb6849e" Alias="Comment by Curt" Level="4">
  <Info>
    <Parent Key="580def6d-c4f7-41d3-9981-e05e4051881a">Screencast: Installing Umbraco</Parent>
    <Path>/Site/Blog/ScreencastInstallingUmbraco/CommentByCurt</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-08-22T09:49:44</CreateDate>
    <NodeName Default="Comment by Curt" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[After looking at this screencast I can see why people use Wordpress.<br /><br />Also my volume is up 100% and I still can't make out a single work you're mumbling, or read anything on that little video.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[lectroid10-randomblogpost@yahoo.com.au]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Curt]]></Value>
    </commenterName>
  </Properties>
</Content>