<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f49ece9-4995-4bbb-9918-90dc4aeb684b" Alias="Comment by Anthony Candaele (2) (1)" Level="4">
  <Info>
    <Parent Key="1d3433cb-236a-47dc-922b-4c5fb0b26942">How to use Razor in Umbraco - Paging</Parent>
    <Path>/Site/Blog/HowToUseRazorInUmbracoPaging/CommentByAnthonyCandaele21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-10T16:14:37</CreateDate>
    <NodeName Default="Comment by Anthony Candaele (2) (1)" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Oh, then I'll be patient and wait 'till the end of the month :)]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[anthony.candaele@webmove.be]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Anthony Candaele]]></Value>
    </commenterName>
  </Properties>
</Content>