<?xml version="1.0" encoding="utf-8"?>
<Content Key="dabba598-2091-4a65-a854-7f72aea683fa" Alias="Comment by Simon Dingley (1) (1)" Level="4">
  <Info>
    <Parent Key="0920d9f0-19e4-4337-b89d-5e3a2aa55914">Umbraco developer productivity with uSiteBuilder</Parent>
    <Path>/Site/Blog/UmbracoDeveloperProductivityWithUSiteBuilder/CommentBySimonDingley11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-09T10:08:26</CreateDate>
    <NodeName Default="Comment by Simon Dingley (1) (1)" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[To those who are putting off using uSitebuilder because because of what you can't currently do, I would urge you to give it a go. I have encountered no show stoppers and what you can't do in uSitebuilder you can do in the UI but for me that has so far only been the ordering of tabs.<br /><br />For me the reasons for using uSitebuilder far outweigh any reasons not to at this point in time!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[simon@prolificnotion.co.uk]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Simon Dingley]]></Value>
    </commenterName>
  </Properties>
</Content>