<?xml version="1.0" encoding="utf-8"?>
<Content Key="2aa4b1d7-b082-4af5-97f8-da8bad5dff41" Alias="Comment by bob baty-barr (3) (1)" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentByBobBatyBarr31</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-09-22T15:28:26</CreateDate>
    <NodeName Default="Comment by bob baty-barr (3) (1)" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[well, color me learning :)<br />i just needed to cast it with .ToString()<br /><br />hooray for me!<br />and many thanks to you Sebastiaan, my friend!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bob@maliciousthinktank.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[bob baty-barr]]></Value>
    </commenterName>
  </Properties>
</Content>