<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb925c91-10db-470d-a394-ee8ad580e7ec" Alias="Comment by bob baty-barr (5) (1)" Level="4">
  <Info>
    <Parent Key="114ff52c-1698-49a8-9ec2-b28ec2f0d112">Razor vs. "/base" to output Json in Umbraco</Parent>
    <Path>/Site/Blog/RazorVsBaseToOutputJsonInUmbraco/CommentByBobBatyBarr51</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-09-22T17:02:35</CreateDate>
    <NodeName Default="Comment by bob baty-barr (5) (1)" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[when i do this...<br />@{<br /><br />foreach (var item in @Model.Children.Where("umbracoNaviHide != true")){<br />var node = new umbraco.NodeFactory.Node(item.Id);<br />}<br /><br />var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();<br />@Html.Raw(serializer.Serialize(node.Properties));<br />}<br /><br />i get an error about the name node does not exist in current context :(]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[bob@maliciousthinktank.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[bob baty-barr]]></Value>
    </commenterName>
  </Properties>
</Content>