<?xml version="1.0" encoding="utf-8"?>
<Content Key="96ee35db-7dbf-4734-b3c0-288c47f6d273" Alias="Comment by Sebastiaan Janssen (3) (1) (1)" Level="4">
  <Info>
    <Parent Key="cfada670-108b-4789-85aa-ca031e71bff9">Using Umbraco migrations to deploy changes</Parent>
    <Path>/Site/Blog/UsingUmbracoMigrationsToDeployChanges/CommentBySebastiaanJanssen311</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2017-09-19T09:48:30</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (3) (1) (1)" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Ah I see what you mean. Migrations are definitely not just limited to packages!<br /><br />Yes, Migrations are nicer for this as you can easily make them version dependent and do automatic upgrades if that table ever needs to change. In that case, the &quot;1.0.1&quot; (or whatever version) upgrade will only run on environments that have not yet executed the 1.0.1 upgrade.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@cultiv.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>