<?xml version="1.0" encoding="utf-8"?>
<Content Key="194e9567-a73d-4096-b9a6-d4ac23a0350d" Alias="Comment by Jeff Nall" Level="4">
  <Info>
    <Parent Key="30f2acbe-5336-477b-bd56-81bd54da1b05">Let's Encrypt, on Windows</Parent>
    <Path>/Site/Blog/LetsEncryptOnWindows/CommentByJeffNall</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2015-12-15T04:30:44</CreateDate>
    <NodeName Default="Comment by Jeff Nall" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[I started off the night planning on blogging about how to do this, but you did a better job than I ever could.  Followed your instructions and generated my cert.  Great post!]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jeffmnall@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jeff Nall]]></Value>
    </commenterName>
  </Properties>
</Content>