<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e4d3c26-91b9-4abc-b2e7-ab527ce3b401" Alias="Comment by Sebastiaan Janssen (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="d5cd2b20-7d28-4ff6-b072-6bd1f5ac829f">Visual Studio and Umbraco as a Service</Parent>
    <Path>/Site/Blog/VisualStudioAndUmbracoAsAService/CommentBySebastiaanJanssen111</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2016-04-18T13:54:56</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (1) (1) (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Is it okay if I just answer that I dislike Smartgit? ;-)))<br /><br />They&#39;re definitely untracked files (they&#39;re new), so that&#39;s correct. I&#39;m not familiar with the SmartGit UI so don&#39;t know if that&#39;s the problem. At least on my end, when I add stuff to the site it shows them immediately.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[hello@sebastiaanjanssen.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>