<?xml version="1.0" encoding="utf-8"?>
<Content Key="7220bb7b-3921-4295-b1b8-7adf7a17e74c" Alias="Comment by Sebastiaan Janssen (2) (1)" Level="4">
  <Info>
    <Parent Key="30f2acbe-5336-477b-bd56-81bd54da1b05">Let's Encrypt, on Windows</Parent>
    <Path>/Site/Blog/LetsEncryptOnWindows/CommentBySebastiaanJanssen21</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2015-12-07T16:19:55</CreateDate>
    <NodeName Default="Comment by Sebastiaan Janssen (2) (1)" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[@Markus Aha, never mind.. I think you need to &quot;Unblock&quot; the zip (maybe even the unzipped files) you downloaded (file properties). ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[sebastiaan@cultiv.nl]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Sebastiaan Janssen]]></Value>
    </commenterName>
  </Properties>
</Content>