<?xml version="1.0" encoding="utf-8"?>
<Content Key="69edc3bb-348e-4de4-8f4c-43be63a942bd" Alias="comment by Horst Wutscher" Level="4">
  <Info>
    <Parent Key="bf5a2a4e-05e1-4978-a4bd-7ba0d9e36e4f">Convert between VS2008 and 2010 projects, automatically</Parent>
    <Path>/Site/Blog/ConvertBetweenVS2008And2010ProjectsAutomatically/commentByHorstWutscher</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2010-11-28T20:08:36</CreateDate>
    <NodeName Default="comment by Horst Wutscher" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hello Sebastiaan,<br />i found your migration package here.<br />Can you explain how it works?<br /><br />For your information:<br />I have update my TFS 2008 over backup and restore the databases to a new Server - TFS 2010 and run the migration command.<br />Now i must update my default CMMI and Agile 4.2 Team Projects from TFS 2008 Server to the new Process Templates 5.0.<br /><br />Can your script do this? How it works and what did i have to do after run the script?<br /><br />Thanks for yur help,<br />Horst Wutscher<br />]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[horst.wutscher@web.de]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Horst Wutscher]]></Value>
    </commenterName>
  </Properties>
</Content>