<?xml version="1.0" encoding="utf-8"?>
<Content Key="da644d29-527b-4ca5-ac58-dffec9245a05" Alias="comment by Peter Gregory" Level="4">
  <Info>
    <Parent Key="8bfdd0da-09d9-41ba-848d-2f41dbc3e719">Styling the ASP.NET login controls</Parent>
    <Path>/Site/Blog/StylingTheASPNETLoginControls/commentByPeterGregory</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2009-09-07T01:31:21</CreateDate>
    <NodeName Default="comment by Peter Gregory" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Hi Sebastiaan<br /><br />We are using the control adapters with our Umbraco projects running under 3.5 and have no problems.  Just one thing to be aware of tho is that they rewrite the checkbox lists and radio button lists from being tables to uls (a good thing) but that means in the admin the checkbox lists and radio button lists get bullet points.<br /><br />Just need to disable that control adapter to stop it from happening or create a new adapter and a control that inherits from those controls.<br /><br />Hope it works out for you.]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[pgregorynz@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Peter Gregory]]></Value>
    </commenterName>
  </Properties>
</Content>