<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc79d363-197b-4260-ae33-b46224b90b77" Alias="Comment by Pete Duncanson" Level="4">
  <Info>
    <Parent Key="7db200be-6bef-4a86-a549-4b2f08e274e9">The CodeGarden Guide to Copenhagen</Parent>
    <Path>/Site/Blog/TheCodeGardenGuideToCopenhagen/CommentByPeteDuncanson</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-02-22T16:07:24</CreateDate>
    <NodeName Default="Comment by Pete Duncanson" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[My biggest tip is to expect to stay out in the evenings and make the most of engaging with people at every opportunity. Don't be the guy who goes back to the hotel to get some spreadsheets finished off, that is not fun and you'll miss out on so so so much. Learning how others talk, think and work can really be helpful when you next have a problem and you are back at work in the real world. If you buy someone a pint you are likely to get a much more helpful response the next time you need them to help you debug a problem via the forums :)<br /><br />I've seen those who do come out afterwards and those that head straight back at the end of each day. The former always say they had a great time and learnt so much, the latter nearly always complain they didn't get much out of it. Come with the right mindset and you'll have a blast and learn a ton of good stuff. Strap in though, its a full on couple of days!<br /><br />See you there<br /><br />Pete]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[pete@offroadcode.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Pete Duncanson]]></Value>
    </commenterName>
  </Properties>
</Content>