<?xml version="1.0" encoding="utf-8"?>
<Content Key="3baef4c8-829f-4f3e-bf8c-85387da2e83d" Alias="Comment by Dave (1) (1)" Level="4">
  <Info>
    <Parent Key="986ca3ab-f023-4de6-bf98-48ddd3227e20">Released: Contact Form Package</Parent>
    <Path>/Site/Blog/ReleasedContactFormPackage/CommentByDave11</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2011-05-19T11:42:34</CreateDate>
    <NodeName Default="Comment by Dave (1) (1)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Sorry - forgot to say - I'm using Umbraco 4.5.2 if that makes any difference<br />Dave]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[dave.pruce@fusioninternetsolutions.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Dave]]></Value>
    </commenterName>
  </Properties>
</Content>