<?xml version="1.0" encoding="utf-8"?>
<Content Key="4776bcaa-1f53-4940-a984-550b8b0a6175" Alias="Comment by mens replica cartier watches" Level="4">
  <Info>
    <Parent Key="b8f8692a-e2b0-4019-bf87-6c923aa6c960">Version control in Git - Part 3 (a central repository)</Parent>
    <Path>/Site/Blog/VersionControlInGitPart3ACentralRepository/CommentByMensReplicaCartierWatches</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2013-07-02T18:20:17</CreateDate>
    <NodeName Default="Comment by mens replica cartier watches" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[ replica cartier for women <a href="http://www.marianne.com/replica-cartier.htm">cartier replica watches</a>]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[tqwerap@qq.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[mens replica cartier watches]]></Value>
    </commenterName>
  </Properties>
</Content>