<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf5a2a4e-05e1-4978-a4bd-7ba0d9e36e4f" Alias="Convert between VS2008 and 2010 projects, automatically" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/ConvertBetweenVS2008And2010ProjectsAutomatically</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2010-03-16T19:32:58</CreateDate>
    <NodeName Default="Convert between VS2008 and 2010 projects, automatically" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Recently, I was told that I was being a bother and that I shouldn't develop in VS2010. Sure, the current RC is not the final version, but it's a release candidate, not much will change between now and the RTM (unless something really bad happens). But sometimes you need to conform and give people what they want. Back to VS2008 I went.</p>
<p>I love working with the latest and greatest though, so in a few spare hours just now I have been plotting and scheming and came up with a brilliant solution to thwart the command of my opresser, muhahaha!</p>
<p>Yes, I did it, I created a tool that can convert my complete VS2010 project back to a VS2008 project so that I can commit my code without my opponent knowing worked in VS2010.</p>
<p>This is done, very simply by replacing a few strings in the <em>.sln</em> and <em>.csproj</em> files. Now, this is a simple approach and it will throw away some information that is new to VS2010. However, it works for my purposes and I'm sharing it here so that people will be able to build upon it if they wish, or use it as is.</p>
<p><strong>Mind you, there is NO GUARANTEES and I'm sure this is going to kill your project if you're not careful!</strong></p>
<p>Was that proper warning? Okay, well here it is: two old-school batch files and a tool to do the string replacements (which I got from <a href="http://www.programmersheaven.com/download/41236/download.aspx"> programmersheaven</a>).</p>
<p>You can now download <a href="/media/2958/convertbetweenvs2010and2008.zip">the fully automated VS2008 to VS2010 converter</a>, enjoy.</p>
<p>Oh HAI <a href="http://twitter.com/gerbenvdiggelen/">Gerben</a>, didn't know you were going to read this...</p>
<p><img src="/media/38866fc9b4494f9f8e59466ec16138da/00000006000000000000000000000000/naughtycat.jpg" alt="funny-pictures-cat-goes-on-the-naughty-list" width="500" height="333" data-udi="umb://media/38866fc9b4494f9f8e59466ec16138da"></p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/6614dbcff342442392edce3e27f4edc4]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>