<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc3d7a4e-076b-4591-ae33-360e41dd02a8" Alias="Easily debug your custom Umbraco user controls in Visual Studio" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/EasilyDebugYourCustomUmbracoUserControlsInVisualStudio</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2009-06-01T21:06:46</CreateDate>
    <NodeName Default="Easily debug your custom Umbraco user controls in Visual Studio" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>I've been looking for the best way to debug when creating user controls for Umbraco, and there were no complete instructions available online.</p>
<p>The simplest way for me has been as follows.</p>
<p>When I create a new Umbraco website, I make a structure in my development folder of three folders under the site's name:</p>
<p>Database<br> UmbracoFramework<br> UmbracoModules</p>
<p>Logically, my database mdf/ldf files go into the "Database" folder. I do this to have everything belonging to the site close together.</p>
<p>In UmbracoFramework, I place the cleanly downloaded files of Umbraco's install. I've changed the default web.config to the .Net 3.5 version, using directory URL's.</p>
<p>One important thing to note is that, for this to work in Windows 7 (and probably Vista), you need to run Visual Studio <strong>as Administrator</strong>. If you don't, the debug session won't start. If there's any work-arounds for this, I'd love to know.</p>
<p>So let's see what we'd need to do in Visual Studio.</p>
<p>After starting VS2008, we create a new (blank) solution for this project.</p>
<p><img src="umb://media/bbc54d9835794d47b9ff2b6d339fe231" alt="umbvs08_01" width="498" height="355" data-udi="umb://media/bbc54d9835794d47b9ff2b6d339fe231"></p>
<p>Then we add an existing website (note you can do this either before installing Umbraco locally or right after right, it doesn't matter).</p>
<p><img src="umb://media/6ee4aa738331466cbb9e804f2d9e2a9e" alt="umbvs08_02" width="500" height="264" data-udi="umb://media/6ee4aa738331466cbb9e804f2d9e2a9e"></p>
<p>In your build configuration manager, make sure never to build this project, there's no need.</p>
<p><img src="umb://media/5ceb69dddc4d4ee6a3b2a6021c43a196" alt="umbvs08_03" width="499" height="314" data-udi="umb://media/5ceb69dddc4d4ee6a3b2a6021c43a196"></p>
<p>Now we can start creating a user control, add a new ASP.NET Web Application project in the folder UmbracoModules. We'll call this one (surprise!) "HelloWorld".</p>
<p>So a HelloWorld folder will be created under UmbracoModules.</p>
<p><img src="umb://media/2e112ea1006d4319bb7211e939e2ab80" alt="umbvs08_05" width="499" height="320" data-udi="umb://media/2e112ea1006d4319bb7211e939e2ab80"></p>
<p>We won't need the web.config and default.aspx, so I delete them.</p>
<p>We can automatically copy the dll/pdb files and the ascx files to the UmbracoFramework folder during each build. This is done using the post-build events:</p>
<p>XCOPY "$(ProjectDir)bin\<strong>HelloWorld</strong>.*" "$(ProjectDir)..\..\UmbracoFramework\bin\" /y<br> XCOPY "$(ProjectDir)*.ascx" "$(ProjectDir)..\..\UmbracoFramework\usercontrols\" /y</p>
<p>Note that "Helloworld.*" is the name of the dll/pdb's we want to copy. Don't use *.* here if you reference the Umbraco framework files, else they'll get copied over the existing verions each time.</p>
<p><img src="umb://media/fa5d4f9476ae48628a4afa9dca36b12a" alt="umbvs08_06" width="500" height="338" data-udi="umb://media/fa5d4f9476ae48628a4afa9dca36b12a"></p>
<p>For both the <strong>UmbracoFramework AND the new module</strong>, we'll change the default webserver into a "custom" one. This is just a link to the local domain name we created in IIS.</p>
<p><img src="umb://media/ee814b4fa1d1493d9c58313c07114274" alt="umbvs08_07" width="499" height="575" data-udi="umb://media/ee814b4fa1d1493d9c58313c07114274"></p>
<p><img src="/media/6a4249f7acce420991cede461093c3df/00000006000000000000000000000000/umbvs08_07_1.png" alt="umbvs08_07_1" width="498" height="315" data-udi="umb://media/6a4249f7acce420991cede461093c3df"></p>
<p>Once everything is saved, we're done. We can start creating a new user control and put breakpoints in them.</p>
<p><img src="umb://media/76fb36828ca14ac3a8d218578622fd7d" alt="umbvs08_08" width="500" height="339" data-udi="umb://media/76fb36828ca14ac3a8d218578622fd7d"></p>
<p>Hit F5 and see what happens.</p>
<p><img src="umb://media/306b3b2e920e449e8b5bb93c069632f5" alt="umbvs08_09" width="500" height="358" data-udi="umb://media/306b3b2e920e449e8b5bb93c069632f5"></p>
<p>Voila! A breakpoint being hit, we can start debugging.</p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/be793cb75817442ca2c59a88c2d3f679]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>