<?xml version="1.0" encoding="utf-8"?>
<Content Key="0367f3e7-8c66-419a-9125-d238069a05d7" Alias="Efficient JS/CSS handling in .Net" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/EfficientJSCSSHandlingInNet</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2009-06-08T16:11:09</CreateDate>
    <NodeName Default="Efficient JS/CSS handling in .Net" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>This seems like a very useful project, I'll definately be looking at it for future projects. Quote:</p>
<p style="padding-left: 30px;"><em>"all of your style sheet and JavaScript files in your ASP.NET web application can be automatically minified, compressed, combined, and cached".</em></p>
<p><a href="http://www.codeproject.com/KB/aspnet/CssAndJavaScriptOptimizer.aspx"> http://www.codeproject.com/KB/aspnet/CssAndJavaScriptOptimizer.aspx</a></p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/760eaa0579934f2bb220b1191e13dd43]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>