<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac0a1eca-187b-43e8-a94d-225e568d97ba" Alias="Help your favorite open source project by helping yourself" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/HelpYourFavoriteOpenSourceProjectByHelpingYourself</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2017-09-08T18:07:49</CreateDate>
    <NodeName Default="Help your favorite open source project by helping yourself" />
    <SortOrder>48</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Hello, my name is Sebastiaan and I work for <a href="https://umbraco.com">Umbraco</a>.</p>
<p>When I started working for Umbraco we had a large but manageable community of people building sites with Umbraco and figuring out the best solutions for their problems with our software. Problems? Yes, we have an approximately 15-year old codebase, which had many bugs when I started working at Umbraco we have many bugs we have yet to fix.</p>
<p>We used to be able to mostly keep up with bugs people were dealing with, we more often than not were able to give tips on the forums, on Twitter and in the issue tracker. This is fun and thankful work and I still love helping out whenever I can.</p>
<p>However, these days, with the amount of people using our software, this is no longer manageable. Many people want to use our software and this is great. I still love to help people but I can't dive into every problem in depth, nor can my colleagues. This is why we offer support contracts, if you need help and you're willing to pay for it then you get to jump the line of people who also want help but are not willing to pay for it.. or not able to pay for it. Your money allows us to hire and train more people to help out!</p>
<p>But that last category of people, the ones that simply cannot pay for priority support are sometimes out of luck. We have a <a href="https://our.umbraco.org/">wonderful community</a>, donating a lot of their spare time to try and help out. But their time is also limited and they will not always be able to give you a solution either. </p>
<p>Most of the time we will spend the time to pick up high priority problems that affect a lot of Umbraco users anyway, so most people are not left high and dry when there's bad bugs.</p>
<p>On the other hand, the problem you're facing might only apply to you, or it has a workaround that's acceptable to most people or it only applies to a particular setup that we are unable to replicate. What to do?</p>
<h2>Contributing to open source software</h2>
<p>As a developer myself, I use open source tools that help me do my job better or easier. I often get annoyed or blocked by some bug in the software. So, I like giving back!</p>
<p><img style="width: 289px; height: 340px;" src="/media/c6ba8ee9f4da41f8913548fdb16f08ea/00000006000000000000000000000000/2017-09-08_202249.png" alt="" rel="1686" data-id="0" data-udi="umb://media/c6ba8ee9f4da41f8913548fdb16f08ea" /></p>
<p>Over the years I've contributed to projects like Git Extensions, lets-encrypt-win-simple, ACMESharp, ImageProcessor, UmbracoTracelogViewer and other projects. Some of these were directly related to work I was doing for Umbraco, most in my spare time.</p>
<p>And here is where I have a confession to make: most of my contributions initially were born out of pure frustration. Bugs that were annoying, features that didn't work the way I liked them, missing features, etc. So that's the dirty truth: I mostly contributed out of pure selfishness. </p>
<p>However, the happy outcome of these contributions has always been: a change for the better, not just for me but for all the other users of that software. It may come as no surprise but it feels really, REALLY good to help turn that frown upside down!</p>
<p><img style="width: 480px; height: 270px;" src="/media/7a3fb67a022943238fc5e2b964fdb1aa/00000006000000000000000000000000/frownupsidedown.gif" alt="" rel="1630" data-id="0" data-udi="umb://media/7a3fb67a022943238fc5e2b964fdb1aa" /></p>
<h2>Help yourself</h2>
<p>So, dear Umbraco users, let me give you some tips on how you can help yourself (and help us in the process!). You are in the unique position to investigate your particular problem.</p>
<p>By digging into the specific bug you're encountering you can give us a hint or some proof of where our code is doing something wrong, You might even be able to send us a pull request so we can look at it and go "ha! how could we have been so silly as to believe that would ever work correctly?". After which we'll happily click the "Merge" button to get your code into the next release of Umbraco and you potentially make many people's life better!</p>
<p>Here are a few steps you should take:</p>
<h3>1. Identify the exact problem</h3>
<p>What exactly is happening?</p>
<p>It's like going to the doctor: if I press here, it hurts here. The better you can describe which steps you take to get into an unwanted situation, the better your chances that it can be fixed.</p>
<h3>2. Pinpoint the problem</h3>
<p>Following up to point 1: is it just you?</p>
<p>Download a fresh copy of the Umbraco version you're running and install it without any plugins and without your custom code in there. Follow the same steps you took to identify the problem (see point number 1). Do you still see the problem? If not, the problem is likely a configuration difference, due to some plugin you installed or caused by some of the custom code you wrote.</p>
<p>At this point I usually start to compare configuration files and if they're the same, I'd start taking some custom components out of the site, to see if I can narrow it down to some plugin or to some of my own code.</p>
<h3>3. Eliminate the problem</h3>
<p>Is the problem fixed already?</p>
<p>If you see an error message: Google it, add the word "Umbraco" in quotes to your query to get the best results. Is there an issue on the issue tracker with a "Due in version" set? Is the version higher than the version you're running now? Time to attempt an upgrade to see if the problem is already fixed! Take a backup of your site and database, upgrade the backup to the latest version and try steps 1 and 2 again.</p>
<p>Hint: issues on the tracker almost always point to the code we changed, it might give you a good idea of if your particular problem is going to be fixed.</p>
<h3>4. Investigate the problem</h3>
<p>Did none of the above help? Time to get your hands dirty! This is where the fun part starts! </p>
<p>Each Umbraco release <a href="https://github.com/umbraco/Umbraco-CMS/releases">is tagged when we release it</a>, so you can find the particular version you're using and get the exact source code for it. You can clone the Umbraco repository and with a command like `git checkout tags/release-7.4.2` you would get to the exact code that your Umbraco 7.4.2 site is using right now. </p>
<p>With that code, you can now do great things! Open up `umbraco.sln` in Visual Studio and build it. The build output will not only give you the same dlls you are using right now but also the pdb files, the symbols to debug the code.</p>
<p>If you go into the `~/src/Umbraco.Web.UI/bin` directory you can find the files that were just modified.</p>
<p><img style="width: 557px; height: 666px;" src="/media/9e7ccaf70f8f4b70b8563282b072b20c/00000006000000000000000000000000/2017-09-08_205928.png" alt="" rel="1657" data-id="0" data-udi="umb://media/9e7ccaf70f8f4b70b8563282b072b20c" /></p>
<p>Go ahead and copy these files right into the problematic website. You now have full debugging capabilities for that website, while maintaining the exact functionality that was in our dlls in the first place! </p>
<p>Back in Visual Studio you can attach it to the process that is running your website, for example IISExpress (the easiest way) or the w3wp process.</p>
<p>Now you can set breakpoints in our code to narrow down that problem that's been annoying the heck out of you!</p>
<p><strong>Pro tip</strong> - if your problem only occurs on the live server and you cannot attach to the process to set breakpoints: add copious logging to the areas you suspect of having problems, update the dlls on your server with the new ones that add logging and see what you can find.</p>
<h3>5. Report back to us!</h3>
<p>Hopefully by now you will have figured out the root cause of your particular problem, or at least you got closer to it. You should be able to tell us in great detail (describing the previous steps in depth) what the problem is and maybe even how we could fix it.</p>
<p>At this point people sometimes feel like they've spent too much time on this already and tell us: the code in file x on line y is wrong; you should change it from a KiloJoule to a Pancake. <br />This doesn't really tell us very much though, you might be right but to us a KiloJoule doesn't look like a Pancake at all so we would love to hear the process that led you to this conclusion. The more details you can give the easier we can help get this fixed.</p>
<p>We <a href="https://our.umbraco.org/contribute/quick-start-guide/">love pull requests</a>, send us the fixed code so it's easy for us to look at it, get embarrassed about our silly mistake and accept that fix as quick as we can.</p>
<p>Hint: unit tests are a great way to prove your fix does what it says it does and doesn't break something else. Not required, but much appreciated.</p>
<p>If you can't provide a unit test: be as detailed as you can in your description.</p>
<h3>Avoiding rabbit holes</h3>
<p>Aha, now you have the power!</p>
<p><img style="width: 0px; height: 0px;" src="/media/87d9ce8edb57488e8c20a78de277a69c/00000006000000000000000000000000/hemanpower.gif" alt="" rel="1638" data-id="0" data-udi="umb://media/87d9ce8edb57488e8c20a78de277a69c" /></p>
<p>Something you should be careful of: changing loads of code. We understand, more than anyone, that our code might make you angry, that it's all wrong and not following best practices. There are reasons for this. We are dealing with legacy code, some of it might go away soon. We have coding styles that you may hate, we understand (even within our team there's the constant <a href="https://marketplace.visualstudio.com/items?itemName=Shanewho.IHateRegions">I Hate #Regions</a> battle).</p>
<p>Rarely will we accept a code clean-up pull request. It is not very useful, and might lead to a refactor gone wrong which introduces subtle bugs. </p>
<p>We also know that you are really missing feature X and you know exactly how to build it and, by golly, you're doing it, sinking a month's worth of weekends into it, emerging with a beautiful pull request.</p>
<p>We understand, completely, but.. talk to us first! Please, before you go down a rabbit hole, discuss it first, open an <a href="http://issues.umbraco.org/issues">issue on the issue tracker</a>, describe what you want to do and make sure we want you to do it.</p>
<p>It is always a good idea to lobby for an issue/feature by asking around about it on Twitter and adding a discussion in the dedicated forum "<a href="https://our.umbraco.org/forum/contributing-to-umbraco-cms/">Contributing to Umbraco CMS</a>". This should give you a bit of an idea of how useful other people think your proposal is.</p>
<p>Remember: we can't put everything in Umbraco, some things are much more suitable for a plugin. We would love to guide you.</p>
<h2>Conclusion</h2>
<p>The power of open source software is that you can poke at it, you can look into everything that's happening behind the scenes and get and better understanding of a problem you're having. That understanding may even lead to a bugfix, which would be great. But if anything, it will teach you something and by poking at problems in our code, you're not just helping yourself grow, eventually you might also help someone else, or many people in the process. </p>
<p>The true power of OSS is that by being selfish and helping yourself, you can turn that frown upside down for many people. </p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/da890cae1f5e4e769e2d12e4e8833503]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[1]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>