<?xml version="1.0" encoding="utf-8"?>
<Content Key="06fe3c53-e8db-4a06-ab90-267b081a9a1d" Alias="How to diagnose Umbraco upgrade problems" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/HowToDiagnoseUmbracoUpgradeProblems</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2016-02-27T12:49:15</CreateDate>
    <NodeName Default="How to diagnose Umbraco upgrade problems" />
    <SortOrder>41</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Upgrading Umbraco.. one of my favorite thing to do! Not yours? Having problems? Okay.. let's see what we can do about that.</p>
<p>First of all: we test upgrading for every Umbraco version we release. We upgrade the solution we use for masterclasses, we upgrade <a href="https://our.umbraco.org">Our Umbraco</a> and when there's big changes we upgrade a bunch of other random sites too. So when it doesn't work for you, it's most likely that something went wrong on your computer, not in our upgrader. I'm not blaming the "victim" here, but just want to make you aware that we do all we can to make your upgrades succeed the first time. We miss stuff sometimes though, and that sucks, in which case we either try to correct that quickly or at least document it. </p>
<p>We also document how to upgrade your site as comprehensively as possible, so make sure to read the documentation, loads of hints and tips that we keep up to date:</p>
<ul>
<li><a href="https://our.umbraco.org/documentation/Getting-Started/Setup/Upgrading/general">The general upgrade guide</a></li>
<li><a href="https://our.umbraco.org/documentation/Getting-Started/Setup/Upgrading/version-specific">The version specific upgrade guide</a></li>
</ul>
<p>Needless to say: you have your code checked into source control (or at the very least backed up before you upgrade) and you've made a full database backup before upgrading your site, right?</p>
<p><strong>Troubleshooting</strong></p>
<p>With that out of the way: shit happens! So let's try to figure it out.<br>I like to think of the Umbraco ZIP downloads as the "known good" state; when you have "problem x" after upgrading and installing a clean Umbraco install does not have "problem x" then something most likely went wrong with your upgrade.</p>
<p>Most people these days use NuGet for installing and upgrading Umbraco, that's also where most people have problems as it LOOKS like everything is done automatically for you, but sometimes it hasn't worked. NuGet can have a temperament where it "forgets" to do config transforms, runs into problems while doing the upgrade or "forgets" to copy certain files.</p>
<p>Time to debug! Let's start with the 3 C's: <em>configs</em>, <em>cache</em> and <em>cookies</em>.</p>
<p><strong>Configs</strong></p>
<p>Check that your config files in the ~/Config folder have been updated, and especially check if both your web.config files (the one in the root of your site and the on in the ~/Views folder) have been updated. How? Aha! Here is the <strong>best</strong> tip I will give you in this blog post: download a copy of <a href="http://www.scootersoftware.com/">BeyondCompare</a> and <a data-id="1681" href="/media/8354/bcpreferences.bcpkg" title="BCPreferences.bcpkg">import these settings</a>. Finally, make sure to click the "Ignore unimportant differences" button, which hides unimportant whitespace differences.</p>
<p><img style="width: 500px; height: 320.37914691943126px;" src="/media/4b86b6b85b894d8a9c22880f769744cd/00000006000000000000000000000000/2016-02-27_143033.png" alt="" rel="1602" data-id="0" data-udi="umb://media/4b86b6b85b894d8a9c22880f769744cd"></p>
<p>Right, with a beautiful BeyondCompare install in place, <a href="https://our.umbraco.org/contribute/releases/">download the zip file corresponding to the Umbraco version</a> you're trying to upgrade to. Right click the zip file and choose <em>"Select left folder for compare"</em>, then find the folder where your Umbraco install lives, right click it and choose <em>"Compare to UmbracoCms.x.y.z.zip"</em>. You'll get a nice overview of folders and some will disappear as they're the same on both sides, leaving you with just the differences.</p>
<p>The first thing I usually check is the root web.config to make sure that everything that might be new in the Umbraco default web.config file is in the web.config file in my site. A special section to pay attention to is the <strong>runtime/assemblyBinding</strong> one that really needs the <strong>bindingRedirect</strong> versions to be correct.</p>
<p>After you've updated config files: try again, your site probably works just fine now.</p>
<p><em>Extra tip:</em> while you're comparing it's also a great moment to check that all the required files are in your bin folder, we ship with what's needed in the zip file so make sure that all the files on the left side are also on the right side and that the versions are the same. Again, BeyondCompare only shows you the differences between the two folders so it should be easy to spot if anything is amiss.</p>
<p><em>Note: </em>Yes, I know this is possible with <a href="http://winmerge.org/">WinMerge</a> and other compare tools as well, but BeyondCompare is so much better than all of the others.</p>
<p><strong>Cache</strong></p>
<p>No? Okay then, try clearing your browser cache. Umbraco uses a lot javascript/angular/html that changes for most releases. The first thing to check: ~/Config/ClientDependency.config. Change the version number in that file (just make it 1 higher or lower) and try again. This should clear client side cache for most browsers.</p>
<p>However.. Chrome in particular is super aggressive in caching so it might not make a difference. So, for another hot tip in this post: if you use Chrome, hit the F12 button and the reload button next to the address bar is a little bit magical now. Try right-clicking on it...</p>
<p><img style="width: 355px; height: 116px;" src="/media/51414f9395f24d799f5c5078388d6f4f/00000006000000000000000000000000/2016-02-27_135532.png" alt="" rel="1606" data-id="0" data-udi="umb://media/51414f9395f24d799f5c5078388d6f4f"></p>
<p>You now have options! The best one of which is: <em>Empty Cache and Hard Reload</em>. It does what it says on the tin and requests all assets completely freshly and should load whatever is updated in Umbraco.</p>
<p><strong>Cookies</strong></p>
<p>We recently had a problem where an old cookie would throw a spanner in the works. Again, the developer tools in your browser can come to the rescue, I have the most experience with Chrome so again, hit the F12 button and go to the resources tab to find and delete all cookies.</p>
<p><img style="width: 500px; height: 216.53543307086613px;" src="/media/aae1fd73f0db42058d9c597fb5857b9b/00000006000000000000000000000000/2016-02-27_144655.png" alt="" rel="1666" data-id="0" data-udi="umb://media/aae1fd73f0db42058d9c597fb5857b9b"></p>
<p><strong>Other problems</strong></p>
<p>Check your log files, in ~/App_Data/Logs/ - whenever there's any kind of error that we can log, it will be in here. Look for things that look suspicious in the last few minutes that you were working on your upgrade and then do the simplest thing possible: copy an error and paste it into Google. <strong>You won't believe what happens next!</strong> (sorry.. I'm so sorry..).</p>
<p>Over the years Umbraco has had some let's say "interesting" database upgrades. Since v6 we have made this much more consistent and when the Umbraco upgrade installer runs we try to anticipate all the exotic database schema variations we had in the past and make everything consistent again. If you see database errors during an upgrade, it's likely that you're not the first person to see it, google it and see if there's manual workarounds. We try to pick up all of these errors and fix them in the next version so they don't pop up any more.</p>
<p>We sometimes break things, when it's on purpose we list them as being breaking changes on the release page of the version you're trying to upgrade to, if there's multiple versions between your current version and the version you're upgrading to, you might have to read up on all of the release pages to see if anything broke due to a change we made. So say you're upgrading from 7.3.6 to 7.4.1, make sure to read the release notes of 7.3.7, 7.3.8, 7.4.0.</p>
<p><strong>But why?!</strong></p>
<p>Yes, we do hear you cry "why can't it just work?!". Well, mostly: people do wildly different things with Umbraco. We learn every day and when we learn about something new and unexpected, we update the upgrade installer. This is an ongoing process that will never be perfect but it so much better than it was a few years ago. The NuGet experience these days is almost seamless and I encourage everyone with a new project to start out with a NuGet install and stick with it (even though it has grumpy days sometimes). It's well worth investing time in learning how NuGet works and what it does.</p>
<p><strong>Automatic upgrades</strong></p>
<p>Oh, and one more thing, on <a href="http://umbraco.com/cloud">Umbraco as a Service</a>, you get automatic upgrades. So you don't have to worry about any of this. You just wake up one day and see a message in the portal and continue making great sites for your clients.</p>
<p><img style="width: 500px; height: 142.17443249701316px;" src="/media/5ad675ba447e4652bd74ab5d065024f6/00000006000000000000000000000000/2016-02-27_151239.png" alt="" rel="1612" data-id="0" data-udi="umb://media/5ad675ba447e4652bd74ab5d065024f6"></p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/bb8081c8585e45eebc676d291026fc8c]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[1]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>