<?xml version="1.0" encoding="utf-8"?>
<Content Key="b169c6bc-0d8c-48de-9e44-04f6ec1d68a4" Alias="Jay Greasley" Level="4">
  <Info>
    <Parent Key="dc3d7a4e-076b-4591-ae33-360e41dd02a8">Easily debug your custom Umbraco user controls in Visual Studio</Parent>
    <Path>/Site/Blog/EasilyDebugYourCustomUmbracoUserControlsInVisualStudio/JayGreasley</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostComment</ContentType>
    <CreateDate>2009-08-20T07:30:57</CreateDate>
    <NodeName Default="Jay Greasley" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[Very useful, thanks. ]]></Value>
    </comment>
    <commenterEmail>
      <Value><![CDATA[jaygreasley@gmail.com]]></Value>
    </commenterEmail>
    <commenterName>
      <Value><![CDATA[Jay Greasley]]></Value>
    </commenterName>
  </Properties>
</Content>