<?xml version="1.0" encoding="utf-8"?>
<Content Key="51e61f86-3134-43eb-9518-f7d654e0115a" Alias="Making Contour even sexier" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/MakingContourEvenSexier</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2010-11-18T22:26:43</CreateDate>
    <NodeName Default="Making Contour even sexier" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>So Contour for Umbraco is really, really cool, that much is for sure!</p>
<p>But.. Styling forms is really hard! You have to hack a lot of CSS to make a moderately sexy looking form.</p>
<p>I am not a frontend developer so this usually ends badly. In fact, up until now, I've not used Contour for a lot of sites because the form styling was so difficult to do. For example, how would you do something a little different looking, like this:</p>
<p style="text-align: center;"><img src="umb://media/8290e79ccb534971bfeb346eda8e5348" alt="restcontourexample" width="500" height="383" data-udi="umb://media/8290e79ccb534971bfeb346eda8e5348"></p>
<p>This is all changing. I <a href="http://our.umbraco.org/projects/website-utilities/cultiv-restcontour"> recently released the RestContour package</a>, that lets you post from any form into Contour. Currently I'm working on making this very very easy to use, and make it look sexy in the process. I've used the RestContour package for an upcoming website and have made it even better. Now you can just use any old HTML form easily and make it into a Contour form, validation and all, with very little effort.</p>
<p>Check out the video below:</p>
<p style="text-align: center;"><object width="480" height="385" data="http://www.youtube.com/v/TJG2u-9CuRY?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><param name="src" value="http://www.youtube.com/v/TJG2u-9CuRY?fs=1&amp;hl=en_US&amp;rel=0"><param name="allowfullscreen" value="true"></object></p>
<p>You can download this version of the RestContour package from <a href="http://our.umbraco.org/projects/website-utilities/cultiv-restcontour"> the project page</a> (RestContourPreview_0.8.0.zip) and the source (Cultiv.RestContour.7z) is also available.</p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/4f52d53abb60427b99f2010d2f5b04db]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>