<?xml version="1.0" encoding="utf-8"?>
<Content Key="0add4f54-2215-470c-ad77-6a97fbd474a9" Alias="PhotoMetaData package now available" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/PhotoMetaDataPackageNowAvailable</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2010-07-17T14:51:35</CreateDate>
    <NodeName Default="PhotoMetaData package now available" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><img class="imgRight" src="/media/7d1c8f3e32694ee285a5f04e6df87ed3/00000006000000000000000000000000/4735128485_ff558e1c32.jpg" alt="4735128485_ff558e1c32" width="167" height="250" data-udi="umb://media/7d1c8f3e32694ee285a5f04e6df87ed3">On Codegarden '10 I entered the package competition on a whim, after installing the shiny new Umbraco 4.5 on my laptop there. I was inspired to try and see if the package that I had not completely completed would work on 4.5 and when it did, I just added my name to the list. I ended up winning the third prize with it (a brand new Xbox 360 Elite)!</p>
<p>I've since polished the code a little bit and it is now available to <a href="http://our.umbraco.org/projects/website-utilities/cultiv-photometadata"> download from the projects section at our.umbraco.org</a>.</p>
<p>Of course I expect to get as many votes on Our Umbraco as during the package contest (you rock)!</p>
<p>The PhotoMetaData package will extract meta data from images that you upload in your media section. <em>This works in both Umbraco 4.0.x and 4.5.</em></p>
<p>When you create a property with the correct name it will be filled as soon as you upload an image in the media section.</p>
<p>Here a video with a quick overview of the package.</p>
<p style="text-align: center;"><object width="549" height="334" data="https://www.youtube.com/v/Tb7OPkmfk7c&amp;hl=en_US&amp;fs=1?rel=0&amp;hd=1" type="application/x-shockwave-flash" style="display: none !important;"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><param name="src" value="https://www.youtube.com/v/Tb7OPkmfk7c&amp;hl=en_US&amp;fs=1?rel=0&amp;hd=1"><param name="allowfullscreen" value="true"></object></p>
<div class="flc-panel" style="width: 549px; height: 334px; top: auto; left: auto; display: block !important;"></div>
<div class="flc-panel" style="width: 549px; height: 334px; top: auto; left: auto; display: block !important;"></div>
<p><em>Photo by the wonderful</em> <a href="http://twitter.com/drobar"><em>Douglas Robar</em></a></p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/b7533f1081e54b5d844ece1d0db5d4dc]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>