<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f805170-42a6-4e61-8080-66d70182a38a" Alias="Presenting: The CleanHome package" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/PresentingTheCleanHomePackage</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2009-06-14T19:46:38</CreateDate>
    <NodeName Default="Presenting: The CleanHome package" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Every time you start a new Umbraco project, there is one thing that you will do first: Set-up a home page.<br> As this takes a few minutes, I've created a simple package that will help you out by installing the home page.</p>
<p><a href="/data/packages/CleanHome_1.0.0.zip">CleanHome</a> will give you a ContentPage document type linked to a master page that sets you up with an XHTML 1.0 strict document type.</p>
<p>The document type includes these new fields:</p>
<ul>
<li>body (richtext editor)</li>
<li>meta keywords</li>
<li>meta description</li>
<li>alternate title (to use in &lt;title&gt; tag for example)</li>
<li>alternate navigation title</li>
<li>hide in navigation checkbox (alias: umbracoNaviHide, to use with default XSLT templates)</li>
</ul>
<p>There's also a stylesheet reference and a favicon reference in the master page.</p>
<p>The stylesheet contains Eric Meyer's <a href="http://meyerweb.com/eric/thoughts/2007/04/12/reset-styles/">reset-styles</a> to start you off with the cleanest possible page.<br> <br> Your new "home page" <a href="http://validator.w3.org">validates</a> as XHTML strict and the CSS file is also completely <a href="http://jigsaw.w3.org/css-validator/">valid</a>.<br> <br> <strong>Warning:</strong> This will create a document type and Master/Childpage with the name "ContentPage", a content item named "Home" and a CSS files called styles.css. If any of these already exist in your site, you WILL get errors.<br> <br> This package is specifically meant for new, empty websites. You can view it as a bare-bones version of the Runway package.</p>
<p>Download CleanHome <a href="/data/packages/CleanHome_1.0.0.zip">here</a>.</p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/2e5d60f96bc64cf797aacb971224d5ce]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>