<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4438bed-bba3-4641-acdb-f50d7eb3743d" Alias="Released: Search Engine Sitemap package" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/ReleasedSearchEngineSitemapPackage</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2009-07-08T21:43:17</CreateDate>
    <NodeName Default="Released: Search Engine Sitemap package" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>I've just released a simple Umbraco package that will create a sitemap XML for submitting to Google and other search engines.</p>
<p>The resulting XML is 100% compatible with the <a href="http://www.sitemaps.org/protocol.php">sitemap.org</a> specifications (which should be supported by all the major search engines).</p>
<p>Of course this generator will take into account the umbNaviHide property. Also, if there is no template attached to a content item, then the resulting output would be a blank page. So these pages are not included in the sitemap either.<br> I ran into this problem because <a href="http://our.umbraco.org/projects/blog-4-umbraco">Tim's excellent blog package</a> that I'm using generates some date folders that should not be in the sitemap.</p>
<p>I would've liked to do everything in the XSLT, but the &lt;urlset&gt; node absolutely had to be on the second line of the resulting XML before Google would accept it. So I had to put that part in the template.</p>
<p>Have fun with it and don't forget to use the <strong>thumbs up</strong> if you like it, thanks!</p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/7ebc746a6137421b9c425ca1fc7e9e7e]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>