<?xml version="1.0" encoding="utf-8"?>
<Content Key="701a6d2c-a1aa-42fa-966f-1a57a270ef5d" Alias="Released: Media cache package" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/ReleasedMediaCachePackage</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2009-12-20T16:22:42</CreateDate>
    <NodeName Default="Released: Media cache package" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Recently, I've been working on a site that presents 30 to a 120 items from Umbraco's media section in the frontend of the website.</p>
<p>In the past few weeks, I've been tweaking the site for performance and noticed that there were an aweful lot of SQL queries being performed in the database. As it turns out, calls to the umbraco.library:GetMedia() method are being sent directly to the database. This meant that for each media item, three queries are being performed. Times a 120... That starts to hurt a little.</p>
<p>Also, it is impossible for us to turn on caching on this macro completely because updating the media item with a new image would not expire the cache.</p>
<p>I had to come up with something else that would cache calls to the media library. So today, I'm presenting you the <a href="http://our.umbraco.org/projects/cultiv-mediacache">Cultiv MediaCache package</a>.<br> This package provides an XSLT extension that provides a caching mechanism for calls to the "GetMedia" method.</p>
<p>It's very easy to use:<br> In your XSLT files, instead of doing calls to <em>umbraco.library:GetMedia()</em>, you do them to <em>Cultiv.MediaCache:GetMedia()</em>.<br> That's it! Told you it was easy.</p>
<p>Read all about it on <a href="http://our.umbraco.org/projects/cultiv-mediacache">the project page</a>, download it, use it, vote it up. Okay, thanks! :-)</p>
<p><em>Tiny update dec 20, 2009 - 17:28: Now compatible with .net 2.0 installs of Umbraco (previously only worked on .net 3.5).</em></p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/76ec0b250ca94062a440ed6a41e15365]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>