<?xml version="1.0" encoding="utf-8"?>
<Content Key="986ca3ab-f023-4de6-bf98-48ddd3227e20" Alias="Released: Contact Form Package" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/ReleasedContactFormPackage</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2009-07-01T17:06:09</CreateDate>
    <NodeName Default="Released: Contact Form Package" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>While building a website last week, I was looking for a way to make a simple contact form. Unfortunately, there was nothing available on <a href="http://our.umbraco.org">our.umbraco.org</a>. So I made my own package and it is now <a href="http://our.umbraco.org/projects/cultiv-contact-form">available</a> for download. I've also added <a href="http://our.umbraco.org/projects/cultiv-contact-form/requests-and-questions/2662-How-to-relay-mail-through-Gmail"> a tip</a> to the forum to show how you can relay mail through Gmail if you don't have (or want) a mail server on your hosting machine.</p>
<p>Here's a few screenshots to show that it is highly configurable:</p>
<p><img src="umb://media/55a9a3005e8c4faf98d38475ebc3b9e8" alt="contactform1" width="500" height="113" data-udi="umb://media/55a9a3005e8c4faf98d38475ebc3b9e8"></p>
<p>Of course you can just enter some content and add the bodyText field to your template to make it show up on the contact page. Here you can see I added a "Thank you" page. After the website visitor submits the form, they will be redirected here. You can configure any other page that you want.</p>
<p><img src="/media/bcd17f026a3b4b648320d1356cc86aca/00000006000000000000000000000000/contactform2.jpg" alt="contactform2" width="422" height="399" data-udi="umb://media/bcd17f026a3b4b648320d1356cc86aca"></p>
<p>Here again a reference to the thank you page. The form is completely empty by default so it might be a good idea to fill in the label names here.</p>
<p><img src="/media/455267fae75f4c0ebb95dc1f2e0e2b19/00000006000000000000000000000000/contactform3.jpg" alt="contactform3" width="407" height="307" data-udi="umb://media/455267fae75f4c0ebb95dc1f2e0e2b19"></p>
<p>The error messages are also empty by default, add whatever text you need here.</p>
<p><img src="/media/c8e1ab93eeb842c79868c21bce7d9be6/00000006000000000000000000000000/contactform4.jpg" alt="contactform4" width="405" height="322" data-udi="umb://media/c8e1ab93eeb842c79868c21bce7d9be6"></p>
<p>And finally you can set up some properties for the mail that will be sent.</p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/28857d03bf994b72830e1e595f8ce14f]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>