<?xml version="1.0" encoding="utf-8"?>
<Content Key="580def6d-c4f7-41d3-9981-e05e4051881a" Alias="Screencast: Installing Umbraco" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/ScreencastInstallingUmbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2010-02-01T00:08:36</CreateDate>
    <NodeName Default="Screencast: Installing Umbraco" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Rather than making a long post with a lot of images, I decided to do something new for this post: a nice little 6 minute screencast!</p>
<p>It's just a quick run through of how I create a new Umbraco installs on my dev machines. It's easy!</p>
<p>I noticed after the recording that I didn't change the path for the database files. During the creation of the new database, you can easily change the path of where the database files are stored here (buttons marked yellow):</p>
<p style="text-align: center;"> </p>
<p><img style="display: block; float: none; margin-left: auto; margin-right: auto; border-width: 0px;" src="umb://media/daa5409bf91d4cde9603da496607cc14" alt="newdatabase" width="496" height="175" data-udi="umb://media/daa5409bf91d4cde9603da496607cc14"></p>
<p> </p>
<p>I tend to mumble a little, I'll work on that for future screencasts (also, I didn't shave, sorry). ;-)</p>
<p>Hopefully this will help some people setting up their Umbraco install manually.</p>
<p style="text-align: center;"><object width="550" height="437" data="https://www.youtube.com/v/DP4dwzbL8JY&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" style="display: none !important;"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><param name="src" value="https://www.youtube.com/v/DP4dwzbL8JY&amp;hl=en_US&amp;fs=1"><param name="allowfullscreen" value="true"></object></p>
<div class="flc-panel" style="width: 550px; height: 437px; top: auto; left: auto; display: block !important;"></div>
<div class="flc-panel" style="width: 550px; height: 437px; top: auto; left: auto; display: block !important;"></div>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/b97b4a1301454238932699ee0a6833cb]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>