<?xml version="1.0" encoding="utf-8"?>
<Content Key="f40055a7-d573-4f60-9f67-0d58d2d75317" Alias="SEO optimizing in Umbraco" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/SEOOptimizingInUmbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2010-04-07T17:43:39</CreateDate>
    <NodeName Default="SEO optimizing in Umbraco" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Just a few weeks ago, someone showed me <a href="http://woorank.com">woorank</a>, a very cool website analysis tool. Woorank tells you what you can improve on your website to help search engines find and evaluate your content better.</p>
<p>By giving you a score from 0 to 100, you can easily compare your site to others. The score is divided up in dozens of different indicators that all have a certain weight in the calculation of the score. All of the indicators are nicely explained to help you understand why they're there (and if you should care about them).</p>
<p>My site actually scored pretty well (56 at the time). Of course I don't have an entry in wikipedia and my Alexa rank really sucks, so no points there. Fair enough.</p>
<p>I found that I could easily improve my score by tweaking some things in my site, mostly using content that I already had available anyway. Umbraco makes this really, really easy. No programming needed, mostly tweaks to my templates / XSLT files. Here's what I did (and what anybody could do!).</p>
<h3>Sitemap</h3>
<p>Of course I already have a sitemap on my site thanks to my own fantastically simple sitemap package (it's just a bit of XSLT, really, have you voted yet?).</p>
<p>However, woorank told me that a sitemap was missing. Of course, I have no link to the sitemap anywhere and it's not called sitemap.xml. So I thought I'd find out how to let search engines (and woorank) know that I have one available to crawl.</p>
<p>First of all, you can include a meta tag in the head of your HTML. Easy enough, just add it to the template, <a href="http://sebastians-pamphlets.com/is-xml-sitemap-autodiscovery-for-everyone/"> but this won't always work</a>. Google, for example, relies on the sitemap being in your robots.txt file. Unfortunately, the robots.txt can't be edited from within Umbraco, so I had to make this improvement by updating it manually.</p>
<h3>Microformats</h3>
<p>Jeff Atwood of <a href="http://codinghorror.com">Coding Horror</a> and <a href="http://stackoverflow.com">StackOverflow</a> fame wrote a <a href="http://www.codinghorror.com/blog/2009/12/microformats-boon-or-bane.html"> blog post</a> in December about making crappy HTML even more crappy by putting extra crappy HTML in it to support microformats. In the end though, he concludes that it's too easy <strong>not</strong> to do.</p>
<p>I don't really see the added value at the moment, but it can't hurt to implement some of it.</p>
<p>The only microformat that I could think of would make sense on my site was the contact information, using the <a href="http://microformats.org/wiki/hCard">hCard format</a>. So off I went, added some div's and spans in my footer XSLT and in the HTML on the contact page.</p>
<h3>Dublin Core</h3>
<p>What's this you ask? I had no idea either. As it turns out <a href="http://dublincore.org/documents/usageguide/">Dublin Core meta data</a> is very structured information about the page you're currently on. Although, it seems only <strong>slightly</strong> better than the normal meta description / keywords tag.</p>
<p>As with the microformats, it doesn't hurt, so I spent 5 minutes updating my main template to include Dublin Core data (title, description, creator &amp; publisher). This data was easily accessible from Umbraco and I'd already used most of it in the other meta tags, so a quick copy &amp; paste in the template did the trick.</p>
<h3>Geo Meta Tags</h3>
<p>Oh boy, even <strong>more</strong> meta tags. Alright, geographic information. The content of my site isn't targeted at a specific geographic location, nor does it show any data that belongs to a location. I suppose it's nice to know that I'm in The Hague. Once again, too easy not to do, so I added the <a href="http://dublincore.org/documents/usageguide/">placename, region and coordinates</a> to the template.</p>
<h3>Conclusion</h3>
<p>There is a lot of meta data out there. And apparently, search engines actually look for that information. I do get the impression, though, that there is too many different formats. Can we just pick one and stick with it? Oh wait, it's the web, when has that ever happened?</p>
<p>It took me a few hours to figure out what information was needed everywhere, but once I did, Umbraco made it painless for me to update my entire site using existing data.</p>
<p>This will be even more fun when I start adding the geo information to the site I'm currently working on that shows panorama pictures. Each picture already has GPS coordinates so it'll be a really quick XSLT addition.</p>
<div><span><br> </span></div>
<div><span><br> </span></div>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/922e59577a4a4c688366edbdd3b5e60a]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>