<?xml version="1.0" encoding="utf-8"?>
<Content Key="42b60cf6-f2a3-4391-9520-5e622acea0f2" Alias="Site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Site</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2019-02-09T12:12:04</CreateDate>
    <NodeName Default="Site" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bio>
      <Value><![CDATA[Dutch guy living in (and loving) Copenhagen, working at Umbraco HQ. Lifehacker, skeptic, music lover, cyclist, developer.]]></Value>
    </bio>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/63f8fc446b654c47a1c4ba11a5fd981a]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>