<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7e30272-271c-4496-8da7-f60b21b9bdca" Alias="Tip of the week: ReSharper Code Templates" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/TipOfTheWeekReSharperCodeTemplates</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2012-03-18T08:39:04</CreateDate>
    <NodeName Default="Tip of the week: ReSharper Code Templates" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Last Friday I was explaining to a colleague that I can never remember how I write the jQuery document ready function. Instead I always:</p>
<ol>
<li>Go to cultiv.nl/blog</li>
<li>Find the blog post of which I can never remember the title but it has a black icon of a t-shirt with json on it</li>
<li>Scroll down to the comments</li>
<li>Find <a href="/blog/2010/10/12/using-base-to-create-and-consume-a-json-string/#comment-1325"> the comment by Aaron</a></li>
<li>Copy &amp; paste&nbsp;$(function() { ...&nbsp;});</li>
<li>Remove the dots</li>
<li>Move the&nbsp;}); to the end of whatever I'm surrounding with document ready</li>
<li>CTRL+K, D to reformat the file</li>
</ol>
<p><br> Tedious!&nbsp;There's a better way to do this though.</p>
<p>I use ReSharper a lot and it offers a few things to surround a selected piece of code with. Out of the box, in Javascript you can only surround it with {} or (). Nice but not very useful.&nbsp;</p>
<p>Luckily, you can add your own "surround with" templates:</p>
<ol>
<li>Go to ReSharper &gt; Templates Explorer...</li>
<li>Go to the Surround Templates tab</li>
<li>Go to Javascript and hit the New Template button</li>
<li>Give it a title and edit the template slightly:<br> <img src="/media/0624b64ba3df4a6c994f4c161cae22a1/00000006000000000000000000000000/2012-03-18_084915.png" alt="2012-03-18_084915" width="266" height="183" data-udi="umb://media/0624b64ba3df4a6c994f4c161cae22a1"></li>
<li>Done!</li>
</ol>
<p><br> Now I can just go to my javascript file and select a bit of code, hit the Surround With shortcut (for me CTRL+E,U) and get my new option:</p>
<p><img src="/media/65ff654fba0f4efa861e5981ee17d1d3/00000006000000000000000000000000/2012-03-18_085129.png" alt="2012-03-18_085129" width="276" height="166" data-udi="umb://media/65ff654fba0f4efa861e5981ee17d1d3"></p>
<p>And after hitting return (or "1") my document ready log is properly surrounded:</p>
<p><img src="/media/c62cb509fe7b43a1abac66e2570d1dc5/00000006000000000000000000000000/2012-03-18_085218.png" alt="2012-03-18_085218" width="318" height="151" data-udi="umb://media/c62cb509fe7b43a1abac66e2570d1dc5"></p>
<p>From now on, I'll be paying more attention to repetitive tasks and constructs I can never seem to remember and making some <a href="http://www.jetbrains.com/resharper/features/code_templates.html"> cool Code Templates</a> where I can.</p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/f3d9c6b139804e07aad4fcc533de9ee4]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>