<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1e9248a-f078-4689-8720-ee5a5a47f5ca" Alias="Tip of the week: Clean those ASP.NET temp files" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/TipOfTheWeekCleanThoseASPNETTempFiles</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2012-04-13T13:52:45</CreateDate>
    <NodeName Default="Tip of the week: Clean those ASP.NET temp files" />
    <SortOrder>32</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>One of the things that Umbraco 5 plugin developers have been struggling with from day 1 is ASP.NET aggressive caching of their assemblies. As it appears, after you build your plugin code and put the new dll into the plugins folder, many times the new code will not be used. Instead, you get the stale cached version and that's very unproductive.</p>
<p>Shannon did a <a href="http://shazwazza.com/post/Taming-the-BuildManager-ASPNet-Temp-files-and-AppDomain-restarts.aspx"> lot of great research</a> last month focussing on just this problem and I'm happy to see that these problems might become obsolete in one of the upcoming versions of Umbraco 5.</p>
<p>From what I've distilled from his blogpost though, there's a very easy way to forces ASP.NET to clear the cache: touch the global.asax instead of the web.config.&nbsp;</p>
<p>One thing that has bothered me for YEARS now is that I have to go into the web.config, add a space, save, etc. Today I realized that it would be so easy to automate this.</p>
<p>A quick search return <a href="http://www.softtreetech.com/24x7/archive/47.htm">a tiny utility called FileTouch</a> that does what it says on the tin: change the modify date (or create date, or access date) of a file.</p>
<p>So I made a tiny little batch file that does just that for me:&nbsp;</p>
<p><strong>FileTouch .\Umbraco.Web\Global.asax</strong></p>
<p>That's all! I found the temp folder of the site I'm currently working on, executed the above command line and once I try to access the site again I see everything disappearing from the ASP.NET temp folder quickly and new files being put in that equally fast.</p>
<p>You could also make this an afterbuild event in your project but I don't always want the extra hit (rebuilding the cache takes a little extra time), so I prefer to just have the command line open and executing the batch file whenever I think I'll need it.</p>
<p><em>Foto courtesy of:&nbsp;<a href="http://www.flickr.com/photos/emilyrides/5188289325/">http://www.flickr.com/photos/emilyrides/5188289325/</a></em></p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/0ca1d116278c4795befb863e4d851bf4]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>