<?xml version="1.0" encoding="utf-8"?>
<Content Key="f82bcc16-d998-4bce-b0ab-b4f0407bbf46" Alias="Umbraco MVP - Don't vote for me" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/UmbracoMVPDontVoteForMe</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2010-02-05T13:27:27</CreateDate>
    <NodeName Default="Umbraco MVP - Don't vote for me" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Wow, who would've thought 10 months ago when I was introduced to Umbraco that I would be <a href="http://umbraco.org/blog/2010/2/5/time-to-vote-for-the-2010-umbraco-mvps"> nominated</a> to be an MVP? I sure didn't expect that!</p>
<p>I'm not asking for votes, I'm proud to be listed among giants and you can make your own decisions.</p>
<p>However, I would like to promote the others on the list:</p>
<p><strong><img style="outline-width: 0px; outline-style: initial; outline-color: initial; font-size: 15px; vertical-align: baseline; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; background-position: initial initial; background-repeat: initial initial; padding: 0px; margin: 0px; border: 0px initial initial;" src="/media/5171c21137304463ab224a0f4f2cec5b/00000006000000000000000000000000/vote-706542.jpg" alt="vote-706542" width="300" height="379" align="right" data-udi="umb://media/5171c21137304463ab224a0f4f2cec5b">Chris Houston</strong> was the first one to reply on my first blog post and I love how active and involved he is in the community. I can't wait to see the cmsMailer package that he's involved in. Vote for Chris!</p>
<p><strong>Chris Koiak</strong> has made some cool packages and seems to be a great developer with a passion for Umbraco. Besides, he's from Glasgow, he must have a great accent. Vote for Chris (no, not the other one, this one)!</p>
<p><strong>Dan Drayne</strong> must have a very high accept rate on our.umbraco, his forum replies are always very helpful. Vote for Dan!</p>
<p><strong>Darren Ferguson</strong>'s source code makes me jealous! Awesome packages, I have a lot to learn from this guy. Vote for Darren!</p>
<p><strong>Dirk De Grave</strong> is always helpful on the forum, always there (does he ever leave his computer?), patient beyond belief even though some people test his patience sometimes. Vote for Dirk!</p>
<p><strong>Douglas Robar</strong> really is the best teacher I've ever met. His posts on the forum are long and complete, with amazing attention to detail. Vote for Douglas!</p>
<p><strong>Jan Skovgaard</strong> also always seem to be online, helping out, asking questions. Plus he seems to like Dutch people, perfect! Vote for Jan!</p>
<p><strong>Jesper Ordrup</strong> seems to be taking Umbraco to new heights with the projects he's involved in. Let's hope he keeps sharing his insights. Vote for Jesper!</p>
<p><strong>Lee Kelleher</strong> is a busy bee, he seems to be everywhere at the same time and should be rewarded for all of his efforts in the community. Vote for Lee!</p>
<p><strong>Lee Messenger</strong>'s ideas to change the our.umbraco forum from "just" questions and answer to even more thought provoking conversations are great, keep up the good work. Vote for Lee (THIS one)!</p>
<p><strong>Morten Bock</strong>:&nbsp;uForum, need I say more? Awesome coder. Vote for Morten!</p>
<p><strong>Nik Wahlberg</strong> I don't know so well unfortunately, but he must be awesome 'cause he's wearing sunglasses, just like Niels. Vote for Nik!</p>
<p><strong>Peter Dijksterhuis</strong> should win because he works on a farm one month a year. Also, he made the great calendar package, good stuff. Vote for Peter!</p>
<p><strong>Petr Snobelt</strong> thumbs up for the MemberControls package, and his avatar. Vote for Petr!</p>
<p><strong>Richard Soeteman</strong> is the number one Umbraco fanboy from The Netherlands. This guy might be singlehandedly responsible for the rise in popularity of Umbraco in the last year or so.. ;) Vote for Richard!</p>
<p><strong>Ron Brouwer</strong> another fellow Dutchie and a very helpful guy, love his work. Vote for Ron!</p>
<p><strong>Thomas H&ouml;hler</strong> must be the loneliest Umbracian in Germany, but that's great, gives him time to help everybody out on the forum and on Twitter. Also makes cool packages. Vote for Thomas!</p>
<p><strong>Tim Saunders</strong> always helpful with a different take things, I love seeing alternate solutions. Vote for Tim!</p>
<p><strong>Warren Buckley</strong> well, what's not to love about this guy, CWS is awesome, he's always looking to add value to the community, and it's working. Vote for Warren!</p>
<p>... I really can't choose, I might as well vote for myself now!</p>
<p>Of course, this is all a clever ploy to get everybody to vote for me anyway.. I trust you will all not find me out. ;-)</p>
<p>&nbsp;</p>
<div><span><br> </span></div>
<div><span><br> </span></div>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/3d5e8757570d4ae0ae69d5f70b84135b]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>