<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a288864-9cc4-4a1d-a1c0-e5d16eb81582" Alias="Umbraco tip of the week: give your editors less choice" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/UmbracoTipOfTheWeekGiveYourEditorsLessChoice</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2014-01-31T17:13:50</CreateDate>
    <NodeName Default="Umbraco tip of the week: give your editors less choice" />
    <SortOrder>38</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Choice is good, right? I'm a programmer, I'm a tinkerer, I'm a tweaker, I want as much choice as possible.. Except when it's silly, unneccessary choices. <a href="http://www.amazon.com/Dont-Make-Me-Think-Usability/dp/0321344758" target="_blank">Don't make me think</a>!</p>
<p>One of the Umbraco tips I always like to give people is to really think about how you build out the backoffice for your editors.<br>The editors are the actual customers to whom you're supposed to deliver value. They will be spending a huge amount of time in the backoffice and will hate you for every frustrating unneccessary choice that you give them.</p>
<p>Luckily, Umbraco gives you a lot of tools to help out with that so that the editors can enter content as easily as possible.&nbsp;</p>
<p>The one thing that I always hate seeing is the following:</p>
<p><img style="width: 227px; height: 293px; border: 1px solid black;" src="/media/1b64313ae3c84b16ba0ae0f3314e3965/00000006000000000000000000000000/2014-01-31_165211.png" alt="Some description" rel="227,293" data-udi="umb://media/1b64313ae3c84b16ba0ae0f3314e3965"></p>
<p>Or:</p>
<p><img style="width: 500px; height: 356.67215815485997px;" src="/media/1597f4e656de4db694d2cff9f4d470e4/00000006000000000000000000000000/2014-01-31_170134.png" alt="Some description" rel="500,356.67215815485997" data-udi="umb://media/1597f4e656de4db694d2cff9f4d470e4"></p>
<p>Can you spot what's wrong here?</p>
<p>How many times does your editor want to make a news area? In a normal site, there's usually only 1, right? Same for a blog, an FAQ area, and a contact page.</p>
<p>And under the news area you would only add content of type news item, correct? And under the blog, only items of type "blog post".</p>
<p>So why do you allow the FAQ Area under home when it's already been created? Here's a little secret: you don't have to!</p>
<p>Once you've created your news area, your blog and your FAQ area you can just disallow them again. Go to your "Home" document type and don't allow anything but the items your editors actually will be using.&nbsp;</p>
<p><img style="width: 430.63583815028903px; height: 500px; border: 1px solid black;" src="/media/b28154be1e3e406bb55fc85727b15398/00000006000000000000000000000000/2014-01-31_170609.png" alt="Some description" rel="430.63583815028903,500" data-udi="umb://media/b28154be1e3e406bb55fc85727b15398"></p>
<p>So now when the editor tries to create something new, they can only make a relevant choice:</p>
<p><img style="width: 500px; height: 364.49399656946827px; border: 1px solid black;" src="/media/4af7af1d52f44b24b9523025db8e0e9b/00000006000000000000000000000000/2014-01-31_170922.png" alt="Some description" rel="500,364.49399656946827" data-udi="umb://media/4af7af1d52f44b24b9523025db8e0e9b"></p>
<p>&nbsp;Notice that the blog overview is still there, the contact page is still there etc. And when you try to create new content under blog you can still only create blog posts.</p>
<p>So now you have full control over the site, you know that there's only <strong>one</strong> blog overview that you need to query for. The children of that blog overview will only ever contain blog posts. There's only one news area, containing only news items. Rinse and repeat.</p>
<p>On the other hand, your editors don't need to think about which item to pick when they click on "create". Less thinking helps them accomplish their tasks faster. If they have no choice then they don't need to be worried about doing the right thing, you've just helped them do it perfectly every time.</p>
<p><strong>Bonus tip:</strong> See how each type of document has it's own icon? That is another way to really add value to your sites, visual queues help your editor read less, thus think less, thus they can work faster and are happier with your wonderful site implementation.</p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/3333d6f21d604d0dbb264e213225b488]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>