<?xml version="1.0" encoding="utf-8"?>
<Content Key="23730856-5905-4b13-9659-eed5a781c7d9" Alias="Umbraco tip of the week: Redirects" Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/UmbracoTipOfTheWeekRedirects</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2009-06-28T16:44:25</CreateDate>
    <NodeName Default="Umbraco tip of the week: Redirects" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>So you start out building your website without knowing exactly what you are doing. You add new nodes under "Content" and it looks nice, but then you try adding navigation...</p>
<p>The default XSLT navigation templates only work when you add a node under "Content" and then all of your content under that. Luckily, it's easy enough to move all your content under a new item. But what should that item be?</p>
<p>I tend to start with a document type of "RedirectFolder", for example this is what my content section looks like right now:</p>
<p><img src="umb://media/37e494fa95874226a5c7d359b16ea251" alt="redirectfolder" width="500" height="104" data-udi="umb://media/37e494fa95874226a5c7d359b16ea251"></p>
<p>The documentType contains two properties of the type "contentPicker" and their aliases are <strong>umbracoRedirect</strong> and <strong>umbracoInternalRedirectId</strong>. Once you pick a page, the redirecting will be done automagically by Umbraco.</p>
<p>The umbracoInternalRedirectId property kind of does what it says: it will load the selected page's content transparently; no url change. Thanks to <a href="http://blog.percipientstudios.com/2009/6/22/codegarden-%2709-presentation.aspx"> Doug Robar</a> for telling us about this hidden gem at CodeGarden '09!</p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/b84b4b879bfc4e9bafa4f211e0be52c8]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>