<?xml version="1.0" encoding="utf-8"?>
<Content Key="19b88e6d-7779-48d8-bba3-74c2b922c806" Alias="Umbraco - Object reference not set.." Level="3">
  <Info>
    <Parent Key="63f8fc44-6b65-4c47-a1c4-ba11a5fd981a">Blog</Parent>
    <Path>/Site/Blog/UmbracoObjectReferenceNotSet</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2010-03-08T16:16:34</CreateDate>
    <NodeName Default="Umbraco - Object reference not set.." />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a649a8ca-c7c4-4bd2-a252-d002b5483d44">BlogPost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Today, I had a little problem after adding some properties to a document type in Umbraco. I've had this problem before and I keep forgetting how to fix it.</p>
<p>When opening a node of this document type (in Umbraco's Content area, not the document type editor), I get the following (rather generic) error:</p>
<p>I must add that while creating some new properties on this document type, the property was added, but I did get and SQL time-out. Not sure why that was, but it must have interupted an update process on existing nodes.</p>
<p>This is probably the reason that the current nodes are now corrupt. As you can see in the exception, there was a problem adding a control to the page.</p>
<p>The solution is easy, you have to publish all of the nodes and its subpages to fix the error. Voli&aacute;!</p>
<p><em>Richard Soeteman</em> adds some extra information on a similar error while deleting a property on a document type. The issues could be related, so if you still have problems, check out <a href="http://www.richardsoeteman.net/2009/10/27/FixObjectReferenceNotSetErrorAfterAddingOrDeletingADocumentProperty.aspx"> his blog post</a> as well.</p>]]></Value>
    </bodyText>
    <image>
      <Value><![CDATA[umb://media/c99547e571db403687726a9574bcfaf3]]></Value>
    </image>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineSitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapChangeFrequency>
    <searchEngineSitemapPriority>
      <Value><![CDATA[]]></Value>
    </searchEngineSitemapPriority>
    <stillRelevant>
      <Value><![CDATA[0]]></Value>
    </stillRelevant>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>